<div class="table-copy-ui show-for-large">
  <a class="button tiny gray text-orange" {{action 'handleCopy'}}>{{fa-icon 'clipboard'}} Copy Table to Clipboard</a>
</div>
<div class="table-scroll">

  {{#if media.isLarge}}
    {{#sticky-element top=175 bottom=0}}
      {{acs-table-header
        reliability=reliability
        comparison=comparison
        mode=mode
      }}
    {{/sticky-element}}
  {{else}}
    {{acs-table-header
      reliability=reliability
      comparison=comparison
      mode=mode
    }}
  {{/if}}

  <table class="data-table">
    <tbody>
      {{#each config as |row|}}
        {{#if hasBlock}}
          {{yield}}
        {{else}}
          {{acs-table-row
            mode=mode
            reliability=reliability
            comparison=comparison
            rowconfig=row
            options=profile
            data=
              (unless 
                row.special 
                (get this.t1 row.data) 
                (aggregate-special-variable rowConfig=row data=t1)
              )
            data2=
              (unless 
                row.special 
                (get this.t2 row.data) 
                (aggregate-special-variable rowConfig=row data=t2)
              )
          }}
        {{/if}}
      {{/each}}
    </tbody>
  </table>

</div>
