<table class="header-table">
  <thead>
    <tr>
      <th rowspan="{{if this.reliability "3" "2"}}">
        {{#unless this.decennial}}
          <a {{action (mut this.reliability) (not this.reliability)}}>
            <span class="dcp-orange">
              {{#if this.reliability}}
                {{fa-icon icon='check-square' prefix='far' fixedWidth=true}}
              {{else}}
                {{fa-icon icon='square' prefix='far' fixedWidth=true}}
              {{/if}}
            </span>
            Show Reliability Data
          </a>
        {{/unless}}
      </th>
      <th colspan="{{if this.reliability "5" "2"}}" class="text-center cell-border-bottom">
        Selected Area
      </th>
      <th colspan="{{if this.reliability "5" "2"}}" class="text-center cell-border-bottom">
        {{this.compareToLabel}}
      </th>
      <th colspan="{{if this.reliability "4" "2"}}" class="text-center cell-border-bottom">Difference</th>
    </tr>
    {{#if this.reliability}}
    <tr>
      <th colspan="3" class="text-center cell-border-bottom">Number</th>
      <th colspan="2" class="text-center cell-border-bottom">Percent</th>

      <th colspan="3" class="text-center cell-border-bottom">Number</th>
      <th colspan="2" class="text-center cell-border-bottom">Percent</th>

      <th colspan="2" class="text-center cell-border-bottom">Number</th>
      <th colspan="2" class="text-center cell-border-bottom">Pctg. Pt.</th>
    </tr>
      <tr>
        <th class="text-right cell-border-bottom">Estimate</th>
        <th class="text-right cell-border-bottom">
          <span>
            MOE
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='Margin of error'
              side='left'
            }}
          </span>
        </th>
        <th class="text-right cell-border-bottom">
          <span>
            CV
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='Coefficient of variation'
              side='left'
            }}
          </span>
        </th>
        <th class="text-right cell-border-bottom">Estimate</th>
        <th class="text-right cell-border-bottom">
          <span>
            MOE
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='Margin of error'
              side='left'
            }}
          </span>
        </th>

        <th class="text-right cell-border-bottom">Estimate</th>
        <th class="text-right cell-border-bottom">
          <span>
            MOE
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='Margin of error'
              side='left'
            }}
          </span>
        </th>
        <th class="text-right cell-border-bottom">
          <span>
            CV
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='Coefficient of variation'
              side='left'
            }}
          </span>
        </th>
        <th class="text-right cell-border-bottom">Estimate</th>
        <th class="text-right cell-border-bottom">
          <span>
            MOE
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='Margin of error'
              side='left'
            }}
          </span>
        </th>

        <th class="text-right cell-border-bottom">Estimate</th>
        <th class="text-right cell-border-bottom">
          <span>
            MOE
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='Margin of error'
              side='left'
            }}
          </span>
        </th>
        <th class="text-right cell-border-bottom">Estimate</th>
        <th class="text-right cell-border-bottom">
          <span>
            MOE
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='Margin of error'
              side='left'
            }}
          </span>
        </th>
      </tr>
    {{else}}
      <tr>
        <th class="text-right cell-border-bottom">Number</th>
        <th class="text-right cell-border-bottom">Percent</th>
        <th class="text-right cell-border-bottom">Number</th>
        <th class="text-right cell-border-bottom">Percent</th>
        <th class="text-right cell-border-bottom">Number</th>
        <th class="text-right cell-border-bottom">Pctg. Pt.</th>
      </tr>
    {{/if}}
  </thead>
</table>
{{yield}}
