<div class="table-copy-ui show-for-large">
  <a class="button tiny gray text-orange" {{action 'handleCopy'}}>{{fa-icon icon='copy' prefix='far'}} Copy Table to Clipboard</a>
</div>

<div class="wrapper-for-copy">
  <StickyElement @top={{this.stickyTop}} @bottom={{0}}>
    {{#if (eq this.mode 'current')}}
      {{data-table-header-current
        decennial=this.decennial
        reliability=this.reliability
        mode=this.mode
        compareToLabel=this.compareToLabel
      }}
    {{else}}
      {{data-table-header-change
        decennial=this.decennial
        reliability=this.reliability
        comparison=this.comparison
        mode=this.mode
      }}
    {{/if}}
  </StickyElement>

  <div class="table-scroll">
    <table class="body-table">
      <tbody>
        {{#each this.config as |rowConfig|}}
          {{#if (has-block)}}
            {{yield}}
          {{else}}
            {{#if (eq this.mode 'current')}}
              {{data-table-row-current
                mode=this.mode
                reliability=this.reliability
                comparison=this.comparison
                rowConfig=rowConfig
                options=this.profile
                data=(get this.model rowConfig.data)
              }}
            {{else}}
              {{data-table-row-change
                decennial=this.decennial
                mode=this.mode
                reliability=this.reliability
                comparison=this.comparison
                rowConfig=rowConfig
                options=this.profile
                data=(get this.model rowConfig.data)
              }}
            {{/if}}
          {{/if}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
