{{#unless (or this.rowConfig.divider this.noPriorData)}}
  <td class='title-column' {{action 'showData'}}>
    <span>
      {{this.rowConfig.title}}
      {{#if this.rowConfig.tooltip}}
        {{fa-icon icon='question-circle' transform='shrink-2'}}
        {{#if (eq this.rowConfig.title 'Median earnings for workers (dollars)')}}
          {{ember-tooltip text=this.rowConfig.tooltip side='right'}}
        {{else}}
          {{ember-tooltip text=this.rowConfig.tooltip side='top-start'}}
        {{/if}}
      {{/if}}
    </span>
  </td>

  {{!-- SELECTED AREA --}}
  {{#if (eq this.data.previous.selection.sum null)}}
    <td
      class="cell-border-left no-compare-message"
      colspan={{if this.reliability "5" "2"}}
    >
      Data are not available
    </td>
  {{else}}
    {{data-table-column-group
      model=this.data.previous
      rowConfig=this.rowConfig
      reliabilityMode=this.reliability}}
  {{/if}}

  {{!-- COMPARISON AREA --}}
  {{data-table-column-group
    model=this.data.previousComparison
    rowConfig=this.rowConfig
    reliabilityMode=this.reliability}}

  {{!-- DIFFERENCE --}}
  <td
    class="cell-border-left
    {{if
      (or
        (not this.data.previous.differenceIsReliable)
        (and (eq this.data.previous.sum 0) (eq this.data.previousComparison.sum 0)))
      'insignificant'}}">
    {{unless (eq this.data.previous.differenceSum null)
      (format-number
          this.data.previous.differenceSum
          precision=this.rowConfig.decimal)}}
    {{#if (and
      (lte @this.data.previous.differenceMarginOfError (abs @this.data.previous.differenceSum))
      (not (or
        (eq @this.data.previous.sum 0)
        (eq @this.data.previousComparison.sum 0)
        (eq @this.data.previous.sum undefined)
        (eq @this.data.previousComparison.sum undefined)
      ))
      (not (eq
        (format-number (abs this.data.previous.differenceSum) precision=@rowConfig.decimal)
        (format-number (abs this.data.previous.differenceMarginOfError) precision=@rowConfig.decimal)
      ))
    )}}
      {{#if (gt @this.data.previous.differenceSum 0)}}
        {{fa-icon icon="arrow-up" class="green"}}
      {{else if (lt @this.data.previous.differenceSum 0)}}
        {{fa-icon icon="arrow-down" class="red"}}
      {{else}}
        {{fa-icon icon=""}}
      {{/if}}
    {{/if}}
  </td>
  {{#if this.reliability}}
    <td class="
      {{if
        (or
          (not this.data.previous.differenceIsReliable)
          (and (eq this.data.previous.sum 0) (eq this.data.previousComparison.sum 0)))
        'insignificant'}}">
      {{unless (eq this.data.previous.differenceMarginOfError null)
          (format-number
            this.data.previous.differenceMarginOfError
            precision=this.rowConfig.decimal)}}
    </td>
  {{/if}}

    <td
      class="{{unless this.data.previous.differencePercentIsReliable 'insignificant'}} difference-percent">
      {{unless (eq this.data.previous.differencePercent null)
          (format-number
            this.data.previous.differencePercent
            precision=1)}}
      {{#if (and
        (lte @this.data.previous.differencePercentMarginOfError (abs @this.data.previous.differencePercent))
        (not (or
          (eq @this.data.previous.sum 0)
          (eq @this.data.previousComparison.sum 0)
          (eq @this.data.previous.sum undefined)
          (eq @this.data.previousComparison.sum undefined)
        ))
        (not (eq
          (format-number this.data.previous.differencePercent precision=1)
          (format-number this.data.previous.differencePercentMarginOfError precision=1)
        ))
      )}}
        {{#if (gt @this.data.previous.differencePercent 0)}}
          {{fa-icon icon="arrow-up" class="green"}}
        {{else if (lt @this.data.previous.differencePercent 0)}}
          {{fa-icon icon="arrow-down" class="red"}}
        {{else}}
          {{fa-icon icon=""}}
        {{/if}}
      {{/if}}
    </td>
    {{#if this.reliability}}
      <td
        class="{{unless this.data.previous.differencePercentIsReliable 'insignificant'}} difference-percent-m">
        {{unless (eq this.data.previous.differencePercentMarginOfError null)
          (format-number
            this.data.previous.differencePercentMarginOfError
            precision=1)}}
      </td>
    {{/if}}

{{else}}
  {{#if this.noPriorData}}
    {{!-- if 2006-2010 sum is null, just return empty cells --}}
    <td class='title-column' {{action 'showData'}}>
      <span>
        {{@rowConfig.title}}
        {{#if @rowConfig.tooltip}}
          {{fa-icon icon='question-circle' transform='shrink-2'}}
          {{ember-tooltip text=@rowConfig.tooltip side='right'}}
        {{/if}}
      </span>
    </td>
    <td
      class="cell-border-left no-compare-message"
    >
      Data for this row are not comparable or are unavailable
    </td>
  {{else}}
    <td>&nbsp;</td>
    <td class="cell-border-left">&nbsp;</td>
  {{/if}}
  <td>&nbsp;</td>
  {{#if this.reliability}}
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  {{/if}}

  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if this.reliability}}
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  {{/if}}

  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if this.reliability}}
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  {{/if}}

{{/unless}}
{{yield}}
