{{#unless this.rowConfig.divider}}
  <td class='title-column' {{action 'showData'}}>
    <span>
      {{this.rowConfig.title}}
      {{#if this.rowConfig.tooltip}}
        {{fa-icon icon='question-circle' transform='shrink-2'}}
        {{ember-tooltip text=this.rowConfig.tooltip side='right'}}
      {{/if}}
    </span>
  </td>

  {{!-- SELECTED AREA --}}
  {{#if (eq this.data.selection.sum null)}}
    <td class="cell-border-left" class="no-compare-message"><div>Data are not available</div></td>
    <td>&nbsp;</td>
  {{else}}
    {{data-table-column-group
      model=this.data.selection
      rowConfig=this.rowConfig
      reliabilityMode=this.reliability}}
  {{/if}}

  {{!-- COMPARISON AREA --}}
  {{data-table-column-group
    model=this.data.comparison
    rowConfig=this.rowConfig
    reliabilityMode=this.reliability}}

  {{!-- DIFFERENCE --}}
  <td
    class="cell-border-left
    {{if
      (or
        (not this.data.differenceSignificant)
        (and (eq this.data.sum 0) (eq this.data.comparisonSum 0)))
      'insignificant'}}">
    {{unless (eq this.data.differenceSum null)
      (format-number
          this.data.differenceSum
          precision=this.rowConfig.decimal)}}
  </td>
  {{#if this.reliability}}
    <td class="
      {{if
        (or
          (not this.data.differenceSignificant)
          (and (eq this.data.sum 0) (eq this.data.comparisonSum 0)))
        'insignificant'}}">
      {{unless (eq this.data.differenceMarginOfError null)
          (format-number
            this.data.differenceMarginOfError
            precision=this.rowConfig.decimal)}}
    </td>
  {{/if}}
    <td
      class="{{unless this.data.differencePercentSignificant 'insignificant'}} difference-percent">
      {{unless (eq this.data.differencePercent null)
          (format-number
            this.data.differencePercent
            precision=1)}}
    </td>
    {{#if this.reliability}}
      <td
        class="{{unless this.data.differencePercentSignificant 'insignificant'}} difference-percent-m">
        {{unless (eq this.data.differencePercentMarginOfError null)
          (format-number
            this.data.differencePercentMarginOfError
            precision=1)}}
      </td>
    {{/if}}

{{else}}

  <td>&nbsp;</td>
  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if this.reliability}}
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  {{/if}}

  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if this.reliability}}
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  {{/if}}

  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if this.reliability}}
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  {{/if}}

{{/unless}}
{{yield}}
