{{#unless rowConfig.divider}}
  <td>
    {{rowConfig.title}}
    {{#if rowConfig.tooltip}}
      {{info-tooltip tip=rowConfig.tooltip}}
    {{/if}}
  </td>

  {{!-- OLD --}}
  {{data-table-column-group
    model=data2.selection
    rowConfig=rowConfig
    reliabilityMode=reliability}}

  {{!-- CURRENT --}}
   {{data-table-column-group
    model=data.selection
    rowConfig=rowConfig
    reliabilityMode=reliability}}

  {{!-- CHANGE --}}

  {{!-- Estimate --}}
  <td class="cell-border-left {{unless data.change_significant 'insignificant'}}">
    {{format-number 
      data.change_sum
      precision=rowConfig.decimal}}
  </td>

  {{#if reliability}}
    {{!-- MOE --}}
    <td class="{{unless data.change_significant 'insignificant'}}">
      {{format-number 
        data.change_m 
        precision=rowConfig.decimal}}
    </td>
  {{/if}}

  {{!-- percent --}}
  <td class="{{unless data.change_percent_significant 'insignificant'}}">
    {{if 
      data.change_percent 
        (concat 
          (format-number (mult data.change_percent 100) precision=1) 
          '%')}}
  </td>


  {{#if reliability}}
    {{!-- Percent M --}}
    <td class="{{unless data.change_percent_significant 'insignificant'}}">
      {{if 
        data.change_percent_m 
          (concat 
            (format-number (mult data.change_percent_m 100) precision=1) 
            '%')}}
    </td>
  {{/if}}

  {{!-- percentage point --}}
  <td class="{{unless data.change_percentage_point_significant 'insignificant'}}">
    {{format-number 
      (mult data.change_percentage_point 100) 
      precision=1}}
  </td>

  {{#if reliability}}
    {{!-- percentage point m --}}
    <td class="{{unless data.change_percentage_point_significant 'insignificant'}}">
      {{format-number 
        (mult data.change_percentage_point_m 100)
        precision=1}}
    </td>
  {{/if}}

{{else}}

  <td>&nbsp;</td>
  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}

  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}

  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
{{/unless}}

{{yield}}
