{{#if rowconfig.divider}}

  <td>&nbsp;</td>
  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}

  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}

  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  <td>&nbsp;</td>

{{else}}{{! divider = false }}

  <td>{{rowconfig.title}}</td>

  {{!-- OLD --}}
  <td class="cell-border-left">{{selectedEarlySum}}</td>{{!-- previous dataset sum--}}
  {{#if reliability}}<td>[Num MOE]</td>{{/if}}
  {{#if reliability}}<td>[CV]</td>{{/if}}
  <td>{{selectedEarlyPercent}}%</td>{{!-- previous dataset percent --}}
  {{#if reliability}}<td>[% MOE]</td>{{/if}}

  {{!-- CURRENT --}}
  <td class="cell-border-left">{{selectedCurrentSum}}</td>{{!-- current dataset sum --}}
  {{#if reliability}}<td>[Num MOE]</td>{{/if}}
  {{#if reliability}}<td>[CV]</td>{{/if}}
  <td>{{selectedCurrentPercent}}%</td>{{!-- current dataset percent --}}
  {{#if reliability}}<td>[% MOE]</td>{{/if}}

  {{!-- DIFFERENCE --}}
  <td class="cell-border-left">{{differenceChangeSum}}</td>{{!-- selected area sum change --}}
  {{#if reliability}}
    <td>{{differenceChangeSumMoE}}</td>{{!-- selected area sum change moe --}}
  {{/if}}
  <td>{{differenceChangePercent}}%</td>{{!-- selected area percent change --}}
  {{#if reliability}}
    <td>{{differenceChangePercentMOE}}</td>{{!-- selected area percent change moe --}}
  {{/if}}
  <td>{{differencePercentagePoint}}</td>
  {{#if reliability}}<td>[% Pt. MOE]</td>{{/if}}

  {{!-- <td class="cell-border-left">
    {{longTermDifference}}
  </td>
  {{#if reliability}}
    <td>
      {{longTermDifferenceMOE}}
    </td>
  {{/if}}
  <td>
    {{longTermDifferencePercent}}
  </td>
  {{#if reliability}}
  <td>
    {{longTermDifferencePercentMOE}}
  </td>
  {{/if}} --}}

{{/if}}
{{yield}}
