<table class="header-table">
  <thead>
    <tr>
      <th rowspan="{{if @reliability "3" "2"}}">
        {{#unless @decennial}}
          <a {{action (mut @reliability) (not @reliability)}}>
            <span class="a11y-orange">
              {{#if @reliability}}
                {{fa-icon icon='check-square' prefix='far' fixedWidth=true}}
              {{else}}
                {{fa-icon icon='square' prefix='far' fixedWidth=true}}
              {{/if}}
            </span>
            Show Reliability Data
          </a>
        {{/unless}}
      </th>
      {{#if @decennial}}
        <th colspan="{{if @reliability "5" "2"}}" class="text-center cell-border-bottom">2010</th>
        <th colspan="{{if @reliability "5" "2"}}" class="text-center cell-border-bottom">2020</th>
        <th colspan="3" class="text-center cell-border-bottom">Change, 2010 to 2020</th>
      {{else}}{{!-- acs --}}
        <th colspan="{{if @reliability "5" "2"}}" class="text-center cell-border-bottom">2006-2010</th>
        <th colspan="{{if @reliability "5" "2"}}" class="text-center cell-border-bottom">2015-2019</th>
        <th colspan="{{if @reliability "6" "3"}}" class="text-center cell-border-bottom">Change, 2006-2010 to 2015-2019</th>
      {{/if}}
    </tr>
    {{#if @reliability}}
      <tr>
        <th colspan="3" class="text-center cell-border-bottom">Number</th>
        <th colspan="2" class="text-center cell-border-bottom">Percent</th>

        <th colspan="3" class="text-center cell-border-bottom">Number</th>
        <th colspan="2" class="text-center cell-border-bottom">Percent</th>

        <th colspan="2" class="text-center cell-border-bottom">Number</th>
        <th colspan="2" class="text-center cell-border-bottom">
          <span>
            Percent
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='2015-2019 number minus 2006-2010 number, divided by 2006-2010 number. Quotient multiplied by 100.'
              side='left'
            }}
          </span>
        </th>
        <th colspan="2" class="text-center cell-border-bottom">Pctg. Pt.</th>
      </tr>
      <tr>
        <th class="text-right cell-border-bottom">Estimate</th>
        <th class="text-right cell-border-bottom">
          <span>
            MOE
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='Margin of error'
              side='left'
            }}
          </span>
        </th>
        <th class="text-right cell-border-bottom">
          <span>
            CV
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='Coefficient of variation'
              side='left'
            }}
          </span>
        </th>
        <th class="text-right cell-border-bottom">Estimate</th>
        <th class="text-right cell-border-bottom">
          <span>
            MOE
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='Margin of error'
              side='left'
            }}
          </span>
        </th>

        <th class="text-right cell-border-bottom">Estimate</th>
        <th class="text-right cell-border-bottom">
          <span>
            MOE
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='Margin of error'
              side='left'
            }}
          </span>
        </th>
        <th class="text-right cell-border-bottom">
          <span>
            CV
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='Coefficient of variation'
              side='left'
            }}
          </span>
        </th>
        <th class="text-right cell-border-bottom">Estimate</th>
        <th class="text-right cell-border-bottom">
          <span>
            MOE
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='Margin of error'
              side='left'
            }}
          </span>
        </th>

        <th class="text-right cell-border-bottom">Estimate</th>
        <th class="text-right cell-border-bottom">
          <span>
            MOE
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='Margin of error'
              side='left'
            }}
          </span>
        </th>
        <th class="text-right cell-border-bottom">Estimate</th>
        <th class="text-right cell-border-bottom">
          <span>
            MOE
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='Margin of error'
              side='left'
            }}
          </span>
        </th>
        <th class="text-right cell-border-bottom">Estimate</th>
        <th class="text-right cell-border-bottom">
          <span>
            MOE
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='2020 number minus 2010 number, divided by 2010 number. Quotient multiplied by 100.'
              side='left'
            }}
          </span>
        </th>
      </tr>
    {{else}}
      <tr>
        <th class="text-right cell-border-bottom">Number</th>
        <th class="text-right cell-border-bottom">Percent</th>
        <th class="text-right cell-border-bottom">Number</th>
        <th class="text-right cell-border-bottom">Percent</th>
        <th class="text-right cell-border-bottom">
          <span>
            Number
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='Significant increase (green up-arrow), significant decrease (red down-arrow), no significant change (no arrow)'
              side='left'
            }}
          </span>
        </th>
        <th class="text-right cell-border-bottom">
          <span>
            Percent
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='Significant increase (green up-arrow), significant decrease (red down-arrow), no significant change (no arrow). 2020 number minus 2010 number, divided by 2010 number. Quotient multiplied by 100.'
              side='bottom'
            }}
          </span>
        </th>
        <th class="text-right cell-border-bottom">
          <span>
            Pctg. Pt.
            {{fa-icon icon='question-circle' transform='shrink-2'}}
            {{ember-tooltip
              text='Significant increase (green up-arrow), significant decrease (red down-arrow), no significant change (no arrow)'
              side='left'
            }}
          </span>
        </th>
      </tr>
    {{/if}}
  </thead>
</table>
{{yield}}
