<table class="header-table">
  <thead>
    {{#if decennial}}{{!-- decennial change table headers --}}
      <tr>
        <th rowspan="2">&nbsp;</th>
        <th colspan="2" class="text-center cell-border-bottom">2000</th>
        <th colspan="2" class="text-center cell-border-bottom">2010</th>
        <th colspan="3" class="text-center cell-border-bottom">Change, 2000 to 2010</th>
      </tr>
      <tr>
        <th class="text-right cell-border-bottom">Number</th>
        <th class="text-right cell-border-bottom">Percent</th>
        <th class="text-right cell-border-bottom">Number</th>
        <th class="text-right cell-border-bottom">Percent</th>
        <th class="text-right cell-border-bottom">Number</th>
        <th class="text-right cell-border-bottom">Percent</th>
        <th class="text-right cell-border-bottom">Pctg. Pt.</th>
      </tr>
    {{else}}{{!-- acs change table headers --}}
      <tr>
        <th rowspan="3">&nbsp;</th>
        {{#unless comparison}}
          <th colspan="2" rowspan="2" class="text-center cell-border-bottom">2006-2010</th>
          <th colspan="2" rowspan="2" class="text-center cell-border-bottom">2012-2016</th>
        {{/unless}}
        {{#if comparison}}
          {{#if reliability}}
            <th colspan="12" class="text-center cell-border-bottom">Change, 2006-2010 to 2012-2016</th>
          {{else}}
            <th colspan="6" class="text-center cell-border-bottom">Change, 2006-2010 to 2012-2016</th>
          {{/if}}
        {{else}}
          {{#if reliability}}
            <th colspan="4" class="text-center cell-border-bottom">Change, 2006-2010 to 2012-2016</th>
          {{else}}
            <th colspan="2" class="text-center cell-border-bottom">Change, 2006-2010 to 2012-2016</th>
          {{/if}}
        {{/if}}
      </tr>
      <tr>
        <th colspan="{{if reliability "4" "2"}}" class="text-center cell-border-bottom">Selected Area</th>
        {{#if comparison}}
          <th colspan="{{if reliability "4" "2"}}" class="text-center cell-border-bottom">Comparison Area</th>
          <th colspan="{{if reliability "4" "2"}}" class="text-center cell-border-bottom">Difference</th>
        {{/if}}
      </tr>
      <tr>
        {{#unless comparison}}
          <th class="text-right cell-border-bottom">Number</th>
          <th class="text-right cell-border-bottom">Percent</th>
          <th class="text-right cell-border-bottom">Number</th>
          <th class="text-right cell-border-bottom">Percent</th>
        {{/unless}}
        <th class="text-right cell-border-bottom">Estimate</th>
        {{#if reliability}}
          <th class="text-right cell-border-bottom">MOE</th>
        {{/if}}
        <th class="text-right cell-border-bottom">Percent Estimate</th>
        {{#if reliability}}
          <th class="text-right cell-border-bottom">MOE</th>
        {{/if}}
        {{#if comparison}}
          <th class="text-right cell-border-bottom">Estimate</th>
          {{#if reliability}}
            <th class="text-right cell-border-bottom">MOE</th>
          {{/if}}
          <th class="text-right cell-border-bottom">Percent Estimate</th>
          {{#if reliability}}
            <th class="text-right cell-border-bottom">MOE</th>
          {{/if}}
          <th class="text-right cell-border-bottom">Estimate</th>
          {{#if reliability}}
            <th class="text-right cell-border-bottom">MOE</th>
          {{/if}}
          <th class="text-right cell-border-bottom">Percentage Estimate</th>
          {{#if reliability}}
            <th class="text-right cell-border-bottom">MOE</th>
          {{/if}}
        {{/if}}
      </tr>
    {{/if}}
  </thead>
</table>
{{yield}}
