{{#unless rowconfig.divider}}
  <td class='title-column' {{action 'showData'}}>
    {{rowconfig.title}}
    {{#if rowconfig.tooltip}}
      {{info-tooltip tip=rowconfig.tooltip}}
    {{/if}}
  </td>

  {{!-- SELECTED AREA --}}
  {{data-table-column-group
    model=data.selection
    rowconfig=rowconfig
    reliabilityMode=reliability}}

  {{!-- COMPARISON AREA --}}
  {{data-table-column-group
    model=data.comparison
    rowconfig=rowconfig
    reliabilityMode=reliability}}

  {{!-- DIFFERENCE --}}
  <td 
    class="cell-border-left 
    {{if 
      (or 
        (not data.significant) 
        (and (eq data.sum 0) (eq data.comparison_sum 0))) 
      'insignificant'}}">
    {{format-number
      data.difference_sum 
      precision=rowconfig.decimal}}
  </td>
  {{#if reliability}}
    <td class="
      {{if 
        (or 
          (not data.significant) 
          (and (eq data.sum 0) (eq data.comparison_sum 0))) 
        'insignificant'}}">
      {{format-number 
        data.difference_m}}
    </td>
  {{/if}}

  {{#unless 
    (or rowconfig.special 
      (and (eq data.sum 0) 
        (eq data.comparison_sum 0)))}}
    <td 
      class="{{unless data.percent_significant 'insignificant'}}">
      {{format-number
        data.difference_percent
        precision=1}}
    </td>
    {{#if reliability}}
      <td>
        {{format-number
          data.difference_percent_m
          precision=1}}
      </td>
    {{/if}}
  {{/unless}}

{{else}}

  <td>&nbsp;</td>
  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if reliability}}
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  {{/if}}

  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if reliability}}
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  {{/if}}

  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if reliability}}
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  {{/if}}

{{/unless}}
{{yield}}
