{{#if rowConfig.divider}}

  <td>&nbsp;</td>
  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}

  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}

  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}
  {{#if reliability}}<td>&nbsp;</td>{{/if}}

{{else}}{{! divider = false }}

  <td>
    {{rowConfig.title}}
    {{#if rowConfig.tooltip}}
      {{info-tooltip tip=rowConfig.tooltip}}
    {{/if}}
  </td>

  {{!-- OLD --}}
  <td class="cell-border-left {{if (eq data2.sum 0) 'insignificant'}} {{if (gte data2.cv 20) 'insignificant'}}">{{selectedEarlySum}}</td>{{!-- previous dataset sum--}}
  {{#if reliability}}
    <td class="{{if (gte data2.cv 20) 'insignificant'}}">{{selectedEarlySumM}}</td>
    <td class="{{if (gte data2.cv 20) 'insignificant'}}">{{selectedEarlySumCV}}</td>
  {{/if}}
  <td class="{{if (gte data2.cv 20) 'insignificant'}}">{{selectedEarlyPercent}}</td>{{!-- previous dataset percent --}}
  {{#if reliability}}
    <td class="{{if (gte data2.cv 20) 'insignificant'}}">{{data2.selectedPercentM}}</td>
  {{/if}}

  {{!-- CURRENT --}}
  <td class="cell-border-left {{if (eq data.sum 0) 'insignificant'}} {{if (gte data.cv 20) 'insignificant'}}">{{selectedCurrentSum}}</td>{{!-- current dataset sum --}}
  {{#if reliability}}
    <td class="{{if (gte data.cv 20) 'insignificant'}}">{{selectedCurrentSumM}}</td>
    <td class="{{if (gte data.cv 20) 'insignificant'}}">{{selectedCurrentSumCV}}</td>
  {{/if}}
  <td class="{{if (gte data.cv 20) 'insignificant'}}">{{selectedCurrentPercent}}</td>{{!-- current dataset percent --}}
  {{#if reliability}}
    <td class="{{if (gte data.cv 20) 'insignificant'}}">{{data.selectedPercentM}}</td>
  {{/if}}

  {{!-- DIFFERENCE --}}
  <td class="cell-border-left {{if changeInsignificant 'insignificant'}}">{{change}}</td>{{!-- selected area sum change --}}
  {{#if reliability}}
    <td class="{{if changeInsignificant 'insignificant'}}">{{changeMOE}}</td>{{!-- selected area sum change moe --}}
  {{/if}}
  <td class="{{if changePercentInsignificant 'insignificant'}}">{{changePercent}}</td>{{!-- selected area percent change --}}
  {{#if reliability}}
    <td class="{{if changePercentInsignificant 'insignificant'}}">{{changePercentMOE}}</td>{{!-- selected area percent change moe --}}
  {{/if}}
  <td class="{{if changePercentagePointInsignificant 'insignificant'}}">{{changePercentagePoint}}</td>
  {{#if reliability}}
    <td class="{{if changePercentagePointInsignificant 'insignificant'}}">{{changePercentagePointMOE}}</td>
  {{/if}}


{{/if}}
{{yield}}
