{{#unless rowConfig.divider}}
  <td class='title-column' {{action 'showData'}}>
    {{rowConfig.title}}
    {{#if rowConfig.tooltip}}
      {{info-tooltip tip=rowConfig.tooltip}}
    {{/if}}
  </td>

  {{!-- SELECTED AREA --}}
  {{#if (eq data.selection.sum null)}}
    <td class="cell-border-left" class="no-compare-message"><div>Data are not available</div></td>
    <td>&nbsp;</td>
  {{else}}
    {{data-table-column-group
      model=data.selection
      rowConfig=rowConfig
      reliabilityMode=reliability}}
  {{/if}}

  {{!-- COMPARISON AREA --}}
  {{data-table-column-group
    model=data.comparison
    rowConfig=rowConfig
    reliabilityMode=reliability}}

  {{!-- DIFFERENCE --}}
  <td
    class="cell-border-left
    {{if
      (or
        (not data.significant)
        (and (eq data.sum 0) (eq data.comparison_sum 0)))
      'insignificant'}}">
    {{unless
      (or data.codingThresholds.sum data.codingThresholds.comparison_sum)
        (format-number
            data.difference_sum
            precision=rowConfig.decimal)}}
  </td>
  {{#if reliability}}
    <td class="
      {{if
        (or
          (not data.significant)
          (and (eq data.sum 0) (eq data.comparison_sum 0)))
        'insignificant'}}">
      {{unless
        (or data.codingThresholds.sum data.codingThresholds.comparison_sum)
          (format-number
            data.difference_m
            precision=rowConfig.decimal)}}
    </td>
  {{/if}}

    <td
      class="{{unless data.percent_significant 'insignificant'}}">
      {{unless data.shouldHideDeltaPercent
        (format-number
          data.difference_percent
          precision=1)}}
    </td>
    {{#if reliability}}
      <td
        class="{{unless data.percent_significant 'insignificant'}}">
        {{unless data.shouldHideDeltaPercent
          (format-number
            data.difference_percent_m
            precision=1)}}
      </td>
    {{/if}}

{{else}}

  <td>&nbsp;</td>
  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if reliability}}
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  {{/if}}

  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if reliability}}
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  {{/if}}

  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if reliability}}
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  {{/if}}

{{/unless}}
{{yield}}
