{{#unless (or this.rowConfig.divider (not this.rowConfig.data))}}
  <td class='title-column' {{action 'showData'}}>
    <span>
      {{this.rowConfig.title}}
      {{#if this.rowConfig.tooltip}}
        {{fa-icon icon='question-circle' transform='shrink-2'}}
        {{#if (eq this.rowConfig.title 'Median earnings for workers (dollars)')}}
          {{ember-tooltip text=this.rowConfig.tooltip side='right'}}
        {{else}}
          {{ember-tooltip text=this.rowConfig.tooltip side='top-start'}}
        {{/if}}
      {{/if}}
    </span>
  </td>

  {{!-- SELECTED AREA --}}
  {{#if (eq this.data.selection.sum null)}}
    <td
      class="cell-border-left no-compare-message"
      colspan={{if this.reliability "5" "2"}}
    >
      Data are suppressed for selected area
    </td>
  {{else}}
    {{data-table-column-group
      model=this.data.selection
      rowConfig=this.rowConfig
      reliabilityMode=this.reliability}}
  {{/if}}

  {{!-- COMPARISON AREA --}}
  {{data-table-column-group
    model=this.data.comparison
    rowConfig=this.rowConfig
    reliabilityMode=this.reliability}}

  {{!-- DIFFERENCE --}}
  <td
    class="cell-border-left
    {{if
      (and
      (or
        (not this.data.differenceIsReliable)
          (and (eq this.data.sum 0) (eq this.data.comparisonSum 0))
        )
        (not this.decennial)
      )
      'insignificant'}}">
    {{unless (eq this.data.differenceSum null)
      (format-number
          this.data.differenceSum
          precision=this.rowConfig.decimal)}}
    {{#if (and
      (lte @this.data.differenceMarginOfError (abs @this.data.differenceSum))
      (not (or
        (eq @this.data.sum 0)
        (eq @this.data.comparisonSum 0)
        (eq @this.data.sum undefined)
        (eq @this.data.comparisonSum undefined)
      ))
      (not (eq
        (format-number (abs this.data.differenceSum) precision=@rowConfig.decimal)
        (format-number (abs this.data.differenceMarginOfError) precision=@rowConfig.decimal)
      ))
    )}}
      {{#if (gt @this.data.differenceSum 0)}}
        {{fa-icon icon="arrow-up" class="green"}}
      {{else if (lt @this.data.differenceSum 0)}}
        {{fa-icon icon="arrow-down" class="red"}}
      {{else}}
        {{fa-icon icon=""}}
      {{/if}}
    {{/if}}
  </td>
  {{#if this.reliability}}
    <td class="
      {{if
        (or
          (not this.data.differenceIsReliable)
          (and (eq this.data.sum 0) (eq this.data.comparisonSum 0)))
        'insignificant'}}">
      {{unless 
      (eq this.data.differenceMarginOfError null)
          (format-number
            this.data.differenceMarginOfError
            precision=this.rowConfig.decimal)}}
    </td>
  {{/if}}
    <td
      class="{{unless (or this.data.differencePercentIsReliable this.decennial) 'insignificant'}} difference-percent">
      {{unless (or @data.isSpecial (eq this.data.differencePercent null))
          (format-number
            this.data.differencePercent
            precision=1)}}
      {{#if (and
        (lte @this.data.differencePercentMarginOfError (abs @this.data.differencePercent))
        (not (or
          (eq @this.data.sum 0)
          (eq @this.data.comparisonSum 0)
          (eq @this.data.sum undefined)
          (eq @this.data.comparisonSum undefined)
        ))
        (not (eq
          (format-number (abs this.data.differencePercent) precision=1)
          (format-number (abs this.data.differencePercentMarginOfError) precision=1)
        ))
      )}}
        {{#if (gt @this.data.differencePercent 0)}}
          {{fa-icon icon="arrow-up" class="green"}}
        {{else if (lt @this.data.differencePercent 0)}}
          {{fa-icon icon="arrow-down" class="red"}}
        {{else}}
          {{fa-icon icon=""}}
        {{/if}}
      {{/if}}
    </td>
    {{#if this.reliability}}
      <td
        class="{{unless this.data.differencePercentIsReliable 'insignificant'}} difference-percent-m">
        {{unless (eq this.data.differencePercentMarginOfError null)
          (format-number
            this.data.differencePercentMarginOfError
            precision=1)}}
      </td>
    {{/if}}

{{else}}

  {{#if (not this.rowConfig.data)}}
  {{!-- If a row header, display title --}}
    <td class='title-column'>
    <span>
      {{this.rowConfig.title}}
    </span>
  </td>
  {{else}}
    <td>&nbsp;</td>
    <td class="cell-border-left">&nbsp;</td>
    <td>&nbsp;</td>
      {{#if this.reliability}}
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      {{/if}}
  {{/if}}

  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if this.reliability}}
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  {{/if}}

  <td class="cell-border-left">&nbsp;</td>
  <td>&nbsp;</td>
  {{#if this.reliability}}
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  {{/if}}

  {{#if (not this.rowConfig.data)}}
    <td class="cell-border-left">&nbsp;</td>
    <td>&nbsp;</td>
  {{/if}}

{{/unless}}
{{yield}}
