{{#if subheader}}

  <td colspan="3">{{title}}</td>
  {{#if comparison}}
    {{#if reliability}}
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    {{else}}
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    {{/if}}
  {{else}}
    {{#if reliability}}
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    {{/if}}
  {{/if}}

{{else}}{{! subheader = false }}

  {{#if divider}}

    <td>&nbsp;</td>
    <td class="cell-border-left">&nbsp;</td>
    {{#if reliability}}
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    {{/if}}
    <td>&nbsp;</td>
    {{#if reliability}}
      <td>&nbsp;</td>
    {{/if}}
    {{#if comparison}}
      <td class="cell-border-left">&nbsp;</td>
      {{#if reliability}}
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      {{/if}}
      <td>&nbsp;</td>
      {{#if reliability}}
        <td>&nbsp;</td>
      {{/if}}
      <td class="cell-border-left">&nbsp;</td>
      <td>&nbsp;</td>
    {{/if}}

  {{else}}{{! subheader && divider = false }}

    <td>{{title}}</td>
    <td class="cell-border-left">{{numeral-format data.sum}}</td>
    {{#if reliability}}
      <td>{{numeral-format data.m}}</td>
      <td>&nbsp;</td>
    {{/if}}
    <td>&nbsp;</td>
    {{#if reliability}}
      <td>&nbsp;</td>
    {{/if}}
    {{#if comparison}}
      <td class="cell-border-left">{{numeral-format data.comparison_sum}}</td>
      {{#if reliability}}
        <td>{{numeral-format data.comparison_m}}</td>
        <td>&nbsp;</td>
      {{/if}}
      <td>&nbsp;</td>
      {{#if reliability}}
        <td>&nbsp;</td>
      {{/if}}
      <td class="cell-border-left">{{numeral-format (abs (sub data.comparison_sum data.sum))}}</td>
      <td>&nbsp;</td>
    {{/if}}

  {{/if}}

{{/if}}

{{yield}}
