{{#if subheader}}
<td colspan="6">{{title}}</td>
{{#if reliability}}
<td>&nbsp;</td>
{{/if}}
<td>&nbsp;</td>
{{#if reliability}}
<td>&nbsp;</td>
{{/if}}
{{#if comparison}}
<td>&nbsp;</td>
{{#if reliability}}
<td>&nbsp;</td>
{{/if}}
<td>&nbsp;</td>
{{#if reliability}}
<td>&nbsp;</td>
{{/if}}
<td>&nbsp;</td>
{{#if reliability}}
<td>&nbsp;</td>
{{/if}}
<td>&nbsp;</td>
{{#if reliability}}
<td>&nbsp;</td>
{{/if}}
{{/if}}
{{else}}
  {{#if divider}}
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  {{#if reliability}}
  <td>&nbsp;</td>
  {{/if}}
  <td>&nbsp;</td>
  {{#if reliability}}
  <td>&nbsp;</td>
  {{/if}}
  {{#if comparison}}
  <td>&nbsp;</td>
  {{#if reliability}}
  <td>&nbsp;</td>
  {{/if}}
  <td>&nbsp;</td>
  {{#if reliability}}
  <td>&nbsp;</td>
  {{/if}}
  <td>&nbsp;</td>
  {{#if reliability}}
  <td>&nbsp;</td>
  {{/if}}
  <td>&nbsp;</td>
  {{#if reliability}}
  <td>&nbsp;</td>
  {{/if}}
  {{/if}}
{{else}}
<td>{{title}}</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
{{#if reliability}}
<td>&nbsp;</td>
{{/if}}
<td>&nbsp;</td>
{{#if reliability}}
<td>&nbsp;</td>
{{/if}}
{{#if comparison}}
<td>&nbsp;</td>
{{#if reliability}}
<td>&nbsp;</td>
{{/if}}
<td>&nbsp;</td>
{{#if reliability}}
<td>&nbsp;</td>
{{/if}}
<td>&nbsp;</td>
{{#if reliability}}
<td>&nbsp;</td>
{{/if}}
<td>&nbsp;</td>
{{#if reliability}}
<td>&nbsp;</td>
{{/if}}
{{/if}}
{{/if}}
{{/if}}
{{yield}}
