<div class="selection-helper-toggle" {{action 'toggleVisibility'}}>
  {{#if tooltip}}
    <span class="layer-tooltips-container">
      {{info-tooltip
        tip=tooltip
        classNames='layer-info'
        tooltipClass='tooltip--layer-info'
      }}
    </span>
  {{/if}}
  {{switch-toggle checked=enabled}}
  {{title}}
</div>
{{#if enabled}}
  <div class="selection-helper-content">
    {{range-slider
      start=start
      min=min
      max=max
      step=step
      connect=connect
      behaviour=behaviour
      on-change="handleSliderChange"
    }}
    Highlighting tracts where {{config.label}} is between {{config.range.[0]}}% and {{config.range.[1]}}%.
  </div>
{{/if}}
{{yield}}
