{{#if this._loader.isLoaded}}
  <div class="labs-map-loaded"></div>

  {{mapbox-gl-source
    sourceId='hovered-feature'
    options=this.hoveredFeatureSource
    map=this._loader.map
  }}

  {{!-- Highlighted Layer Handling --}}
  {{mapbox-gl-layer
    map=this._loader.map
    layer=highlightedLineFeatureLayer
  }}

  {{mapbox-gl-layer
    map=this._loader.map
    layer=highlightedCircleFeatureLayer
  }}

  {{yield (hash
    mapInstance=this._loader.map
    call=(component 'mapbox-gl-call' obj=this._loader.map)
    control=(component 'mapbox-gl-control' map=this._loader.map)
    image=(component 'mapbox-gl-image' map=this._loader.map)
    layer=(component 'mapbox-gl-layer' map=this._loader.map)
    marker=(component 'mapbox-gl-marker' map=this._loader.map)
    on=(component 'mapbox-gl-on' eventSource=this._loader.map)
    popup=(component 'mapbox-gl-popup' map=this._loader.map)
    source=(component 'mapbox-gl-source' map=this._loader.map)
    labs-layers=(component 'labs-layers'
      map=this._loader.map
      layerGroups=layerGroups
      hoveredFeature=hoveredFeature
    )
    instance=this._loader.map
  )}}
{{else if this._loader.error}}
  {{#if (hasBlock 'inverse')}}
    {{yield this._loader.error to='inverse'}}
  {{else}}
    {{! template-lint-disable no-log }}
    {{log 'error rendering mapbox-gl' this._loader.error}}
  {{/if}}
{{/if}}
