{{#if (eq this.mode 'direct-select')}}
  {{#if (gt this.selectionCount 0)}}
    <div class="map-utility-box">
      <div class="map-utility-box-head"> 
        Your Selection
      </div>
      <div class="map-utility-box-body">
        <p>
          <strong>{{this.selectionCount}}</strong>
          {{if (eq this.selection.summaryLevel 'tracts') 'Census Tract'~}}
          {{if (eq this.selection.summaryLevel 'blocks') 'Census Block'~}}
          {{if (eq this.selection.summaryLevel 'cdtas') 'Community District Tabulation Area (CDTA)'~}}
          {{if (eq this.selection.summaryLevel 'districts') 'Comunity District'~}}
          {{if (eq this.selection.summaryLevel 'ntas') 'Neighborhood'~}}
          {{if (eq this.selection.summaryLevel 'boroughs') 'Borough'~}}
          {{if (eq this.selection.summaryLevel 'cities')  'City'~}}
          {{unless (eq this.selectionCount 1) 's'}}
          selected
        </p>
      </div>
      <div class="map-utility-box-buttons">
        <button id="clear-selection" class="button--clear-selection button" type="button" {{action this.clearSelection}}>
          <span class="a11y-orange">
            {{fa-icon icon='times'}}
          </span>
          Clear <br />Selection
        </button>
        <button id="see-more-data" class="button orange" type="button" onClick={{action this.generateExplorerPage}}>
          See More Data
          <span class="off-white" style="padding-left: 0.5em;">
            {{fa-icon icon='long-arrow-alt-right'}}
          </span>
        </button>
      </div>
      
    </div>
  {{else}}
    <div class="map-utility-box">
      <div class="map-utility-box-head"> 
        Your Selection
      </div>
      <div class="map-utility-box-body-null">
        <p><strong>Want To Add To Your Selection?</strong></p>
        <p>You can build your selection by selecting the options in the <span class="a11y-orange">orange</span> menu above and clicking directly on the map</p>
      </div>
    </div>
  {{/if}}
{{else}}
  {{component this.mode}}
{{/if}}

{{yield}}
