{{#if (eq mode 'direct-select')}}

  {{map-search transitionTo=(action 'transitionTo')}}

  <div class="call-to-action grid-x align-middle text-center medium-text-left">
    <div class="cell medium-auto">
      <p class="text-small dark-gray no-margin">{{fa-icon 'hand-pointer-o'}}&nbsp;Select individual
        {{if (eq summaryLevel 'tracts') 'census tracts'}}
        {{if (eq summaryLevel 'blocks') 'census blocks'}}
        {{if (eq summaryLevel 'ntas') 'NTAs'}}
        {{if (eq summaryLevel 'pumas') 'PUMAs'}}
        to add them to the profile.</p>
    </div>
    <div class="cell medium-shrink">
      <button class="selection-tool--draw button small gray text-orange {{if drawMode 'active'}}" {{action "handleDrawButtonClick"}}>{{fa-icon "pencil-square-o"}} Draw</button>
    </div>
  </div>

  <div class={{profileButtonClasses}} onClick={{action 'generateProfileId'}}>
    <span class="fa-stack fa-pull-right">
      {{fa-icon 'file' class='fa-stack-2x'}}
      {{fa-icon 'arrow-right' class='fa-stack-1x dcp-yellow'}}
    </span>
    View Profile
    <small><strong>
      <span class="count">{{selectionCount}}</span>
      {{if (eq summaryLevel 'tracts') 'Tract'~}}
      {{if (eq summaryLevel 'blocks') 'Block'~}}
      {{if (eq summaryLevel 'ntas') 'Neighborhood'~}}
      {{if (eq summaryLevel 'pumas') 'PUMA'~}}
      {{if (eq selectionCount 0) 's'}}{{if (gt selectionCount 1) 's'}}
    </strong></small>
  </div>

  <div class="clearfix" style="padding-bottom:1px;">
    {{#if (gt selectionCount 0)}}
      <button {{action "clearSelection"}} class="button--clear-selection button tiny gray float-right"><span class="lu-red">{{fa-icon 'times'}}</span> Clear Selection</button>
    {{/if}}

    <p><a {{action (mut advanced) (not advanced)}} class="text-small">{{fa-icon 'sliders'}}&nbsp;Advanced Options</a></p>
  </div>

  <div class="selection-helpers text-small {{unless advanced 'closed'}}">

    <div class="selection-helpers-header">
      <h3 class="header-small">Selection Helpers</h3>
      <button class="button small gray text-orange expanded" {{action "addHighlightedToSelection"}}>Add Highlighted to Selection</button>
    </div>

    {{#each selectionHelper.configs as |config|}}
      {{selection-helper
        config=config
        sliderChange="handleSliderChange"
        toggleEnabled="toggleEnabled"
      }}
    {{/each}}

  </div>

  <div class="clearfix">
    {{#if (gt selectionCount 0)}}
      <button {{action "clearSelection"}} class="button--clear-selection button tiny gray float-right"><span class="lu-red">{{fa-icon 'times'}}</span> Clear Selection</button>
    {{/if}}

    <a {{action (mut advanced) (not advanced)}} class="text-small">{{fa-icon 'sliders'}}&nbsp;Advanced Options</a>
  </div>

  {{yield}}

{{else}}
  {{component mode}}
{{/if}}
