{{#if (eq this.mode 'direct-select')}}
  {{#if (gt this.selectionCount 0)}}
    <div class="map-utility-box">
      <div class={{this.profileButtonClasses}} onClick={{action this.generateProfile}}>
        <span class="fa-layers fa-2x fa-pull-right">
          {{fa-icon 'file'}}
          {{fa-icon 'arrow-right' class='dcp-yellow' transform='shrink-8 down-1'}}
        </span>
        View Profile
      </div>

      <div class="clearfix" style="padding-bottom:1px;">
        <button class="button--clear-selection button tiny gray float-right" type="button" {{action this.clearSelection}}>
          <span class="lu-red">
            {{fa-icon icon='times'}}
          </span>
          Clear Selection
        </button>
      </div>
    </div>
  {{/if}}
{{else}}
  {{component this.mode}}
{{/if}}

{{yield}}
