{{#if (eq mode 'direct-select')}}

  {{map-search transitionTo=(action 'transitionTo')}}

  <div class="call-to-action grid-x align-middle text-center medium-text-left">
    <div class="cell medium-auto">
      <p class="text-small dark-gray no-margin">{{fa-icon 'hand-pointer-o'}}&nbsp;Select individual
        {{if (eq summaryLevel 'tracts') 'census tracts'}}
        {{if (eq summaryLevel 'blocks') 'census blocks'}}
        {{if (eq summaryLevel 'ntas') 'NTAs'}}
        {{if (eq summaryLevel 'pumas') 'PUMAs'}}
        to add them to the profile.</p>
    </div>
    <div class="cell medium-shrink">
      <button class="selection-tool--draw button small gray text-orange {{if drawMode 'active'}}" {{action "handleDrawButtonClick"}}>{{fa-icon "pencil-square-o"}} Draw</button>
    </div>
  </div>

  {{#link-to 'profile' class=profileButtonClasses}}
    <span class="fa-stack fa-pull-right">
      {{fa-icon 'file' class='fa-stack-2x'}}
      {{fa-icon 'arrow-right' class='fa-stack-1x dcp-yellow'}}
    </span>
    <small>View Profile</small>
    <strong>
      <span class="count">{{selectionCount}}</span>
      {{if (eq summaryLevel 'tracts') 'Tract'~}}
      {{if (eq summaryLevel 'blocks') 'Block'~}}
      {{if (eq summaryLevel 'ntas') 'Neighborhood'~}}
      {{if (eq summaryLevel 'pumas') 'PUMA'~}}
      {{if (eq selectionCount 0) 's'}}{{if (gt selectionCount 1) 's'}}
    </strong>
  {{/link-to}}

  {{#if (gt selectionCount 0)}}
    <button {{action "clearSelection"}} class="button--clear-selection button small gray float-right"><span class="lu-red">{{fa-icon 'times'}}</span>&nbsp;Clear</button>
  {{/if}}

  <a class="text-small">{{fa-icon 'sliders'}}&nbsp;Advanced Options</a>

  {{yield}}

{{else}}
  {{component mode}}
{{/if}}
