{{#if (eq mode 'direct-select')}}
  <h1>{{selectionCount}}</h1>

  <p {{action "clearSelection"}}>Clear Selection</p>

  {{#link-to 'report'}}Run Report{{/link-to}}


  {{yield}}
{{else}}
  {{component mode}}
{{/if}}
