{{#if (eq mode 'direct-select')}}

  {{!-- <div class="search hide-for-print ember-view">
    <input type="text" placeholder="Search..." id="ember438" class="map-search-input ember-text-field ember-view">
    <span class="search-icon">{{fa-icon 'search'}}</span>
  </div> --}}

  {{map-search transitionTo=(action 'transitionTo')}}

  <div class="grid-x grid-margin-x align-middle">
    <div class="cell medium-6 text-center">
      <strong class="stat">
        {{selectionCount}}
      </strong>
      <p class="dark-gray">
        <strong>
          {{if (eq summaryLevel 'tracts') 'Tract'~}}
          {{if (eq summaryLevel 'blocks') 'Block'~}}
          {{if (eq summaryLevel 'ntas') 'Neighborhood'~}}
          {{if (eq summaryLevel 'pumas') 'PUMA'~}}
          {{if (eq selectionCount 0) 's'}}{{if (gt selectionCount 1) 's'}}
        </strong>
      </p>
      {{#if (gt selectionCount 0)}}
        <button {{action "clearSelection"}} class="button--clear-selection button tiny gray"><span class="lu-red">{{fa-icon 'times'}}</span>&nbsp;Clear Selection</button>
      {{/if}}
    </div>
    <div class="cell medium-6">
      <p class="text-small dark-gray">{{fa-icon 'hand-pointer-o'}}&nbsp;Select individual census tracts to add them to the profile.</p>
      <ul class="selection-tools no-bullet">
        <button class="selection-tool--draw {{if drawMode 'active'}}" {{action "handleDrawButtonClick"}}>{{fa-icon "pencil-square-o"}} Draw</button>
      </ul>
    </div>
  </div>
  <div class={{profileButtonClasses}} onClick={{action 'generateProfileId'}}>
    {{fa-icon 'file-text'}} View Profile
  </div>
  <a href="#" class="button small expanded gray text-orange">{{fa-icon 'sliders'}}&nbsp;Advanced Options</a>


  {{yield}}

{{else}}
  {{component mode}}
{{/if}}
