{{#if (eq mode 'direct-select')}}

  {{map-search transitionTo=(action 'transitionTo')}}

  <div class="call-to-action grid-x align-middle text-center medium-text-left">
    <div class="cell medium-auto">
      <p class="text-small dark-gray no-margin">{{fa-icon 'hand-pointer-o'}}&nbsp;Select individual
        {{if (eq summaryLevel 'tracts') 'census tracts'}}
        {{if (eq summaryLevel 'blocks') 'census blocks'}}
        {{if (eq summaryLevel 'ntas') 'NTAs'}}
        {{if (eq summaryLevel 'pumas') 'PUMAs'}}
        to add them to the profile.</p>
    </div>
    <div class="cell medium-shrink">
      <div class="draw-tools--container">
        <span class="draw-tools--trigger button small gray text-orange show-for-large">
          {{fa-icon "pencil-square-o"}} Draw
        </span>
        <div class="draw-tools {{if (or (eq drawMode 'radius') (eq drawMode 'polygon')) 'active'}}">
          {{tooltip-on-element delay=200 text='Create selection using drawing tool'}}
          <button class="draw-tool draw-tools--polygon button small gray text-orange {{if (eq drawMode 'polygon') 'active'}} {{if (eq drawMode 'radius') 'hide-for-large'}}" {{action "handleDrawButtonClick" 'polygon'}}>
            {{fa-icon "object-group"}} <span class="hide-for-medium">Draw</span> Polygon
          </button>
          <button class="draw-tool draw-tools--radius button small gray text-orange {{if (eq drawMode 'radius') 'active'}} {{if (eq drawMode 'polygon') 'hide-for-large'}}" {{action "handleDrawButtonClick" 'radius'}}>
            {{fa-icon "dot-circle-o"}} <span class="hide-for-medium">Draw</span> Radius
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class={{profileButtonClasses}} onClick={{action 'generateProfileId'}}>
    <span class="fa-stack fa-pull-right">
      {{fa-icon 'file' class='fa-stack-2x'}}
      {{fa-icon 'arrow-right' class='fa-stack-1x dcp-yellow'}}
    </span>
    View Profile
    <small><strong>
      <span class="count">{{selectionCount}}</span>
      {{if (eq summaryLevel 'tracts') 'Tract'~}}
      {{if (eq summaryLevel 'blocks') 'Block'~}}
      {{if (eq summaryLevel 'ntas') 'Neighborhood'~}}
      {{if (eq summaryLevel 'pumas') 'PUMA'~}}
      {{if (eq selectionCount 0) 's'}}{{if (gt selectionCount 1) 's'}}
    </strong></small>
  </div>

  <div class="clearfix" style="padding-bottom:1px;">
    {{#if (gt selectionCount 0)}}
      <button {{action "clearSelection"}} class="button--clear-selection button tiny gray float-right"><span class="lu-red">{{fa-icon 'times'}}</span> Clear Selection</button>
    {{/if}}

    <p><a {{action "toggleAdvancedOptions"}} class="text-small">{{fa-icon 'sliders'}}&nbsp;Advanced Options </a></p>
  </div>

  <div class="advanced-options {{unless advanced 'closed'}}">
    {{#unless closed}}

    <div class="selection-helpers">
    </div>

    <div class="layers-menu">
      {{#layer-menu-item for='choropleths' as |item|}}
        <div class="grid-x">
          <div class="cell small-8">
            <ul class="radio-buttons-list">
              {{#each-in (group-by "group" choroplethConfigs) as |group configs|}}
                <h5 style="margin:0.5rem 0 0;font-size:1em;">{{group}}</h5>
                <ul class="no-bullet">
                  {{#each configs as |config|}}
                    <li {{
                      action (
                        queue
                          (action 'setChoroplethMode' config.id)
                          (action item.updatePaintFor 'choropleth-nta-fill' choroplethPaintFill)
                          (action item.updatePaintFor 'choropleth-nta-line' choroplethPaintLine)
                      )
                    }}>
                      {{#if (eq choroplethMode config.id)}}
                        {{fa-icon 'dot-circle-o'}}
                      {{else}}
                        {{fa-icon 'circle-thin'}}
                      {{/if}}
                      {{config.label}}
                      {{info-tooltip tip=config.tooltip classNames="primary-color"}}
                    </li>
                  {{/each}}
                </ul>
              {{/each-in}}
            </ul>
          </div>
          <div class="cell small-4">
            <div class="legend">
              <div class="legend-title">{{legendTitle}}</div>
              {{#each stops as |stop|}}
                <div class="legend-item">
                  <span class="legend-color" style="color:{{stop.color}};">{{fa-icon 'square'}}</span>
                  {{stop.label}}
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      {{/layer-menu-item}}

      {{#layer-menu-item for='subway' as |item|}}
      {{/layer-menu-item}}
      {{#layer-menu-item for='community-districts' as |item|}}
      {{/layer-menu-item}}
      {{#layer-menu-item for='nyccouncildistricts' as |item|}}
      {{/layer-menu-item}}
      {{#layer-menu-item for='neighborhood-tabulation-areas' as |item|}}
      {{/layer-menu-item}}
      {{#layer-menu-item for='nyc-pumas' as |item|}}
      {{/layer-menu-item}}
      {{#layer-menu-item for='boroughs' as |item|}}
      {{/layer-menu-item}}
    </div>

    {{/unless}}
  </div>

  {{yield}}

{{else}}
  {{component mode}}
{{/if}}
