<div
  id="data-explorer-toolbar"
  class="grid-container fluid"
>
  <div class="grid-x grid-margin-x">
    <div class="cell small-10 text-left">
      <Explorer::SourceSelectDropdown
        @sources={{@sources}}
        @setSources={{@setSources}}
      />

      <Explorer::TopicSelectDropdown
        @topics={{@topics}}
        @setTopics={{@setTopics}}
      />

      <Explorer::ModifyTablesMenu
        @mode={{@mode}}
        @showReliability={{@showReliability}}
        @disaggregate={{@disaggregate}}
        @compareTo={{@compareTo}}
        @geoOptions={{@geoOptions}}
        @selectedGeo={{@selectedGeo}}
        @updateCompareTo={{@updateCompareTo}}
      />
    </div>

    <div class="cell small-2 bar-item">
      Data Download Button
    </div>
  </div>
</div>
