<div
  id="data-explorer-toolbar"
  class="grid-container fluid"
>
  <div class="grid-x grid-margin-x">
    <div class="cell small-10 text-left">
      <Explorer::SourceSelectDropdown
        @sources={{@sources}}
        @setSource={{@setSource}}
      />
      <Explorer::TopicSelectDropdown
        @topics={{@topics}}
        @setTopics={{@setTopics}}
      />

      <Explorer::ModifyTablesMenu
        @mode={{@mode}}
        @showReliability={{@showReliability}}
        @disaggregate={{@disaggregate}}
        @compareTo={{@compareTo}}
        @geoOptions={{@geoOptions}}
        @selectedGeo={{@selectedGeo}}
        @toggleBooleanControl={{@toggleBooleanControl}}
        @updateCompareTo={{@updateCompareTo}}
      />
    </div>
    />
  </div>
  <div class="cell auto">
    <OrangeBarDataExplorerDownloadCsv />
    </div>

    <div class="cell small-2 bar-item">
      <Explorer::ModifyTablesMenu
        @showReliability={{@showReliability}}
        @disaggregate={{@disaggregate}}
        @compareTo={{@compareTo}}
      />
    </div>

    <div class="bar-item">
      <Explorer::DownloadDataDropdown
        @topics={{@topics}}
        @sources={{@sources}}
      />
    </div>


  </div>
</div>
