<div
  id="data-explorer-toolbar"
  class="grid-container fluid"
>
  <div class="grid-x grid-margin-x">
    <div class="cell small-2 bar-item">
      <Explorer::SourceSelectDropdown
        @sources={{@sources}}
        @setSources={{@setSources}}
      />
    </div>

    <div class="cell small-2 bar-item">
      <Explorer::TopicSelectDropdown
        @topics={{@topics}}
        @setTopics={{@setTopics}}
      />
    </div>

    <div class="cell small-2 bar-item">
     <Explorer::ModifyTablesMenu
        @showReliability={{@showReliability}}
        @disaggregate={{@disaggregate}}
        @compareTo={{@compareTo}}
     />
    </div>

    <div class="cell auto">
    </div>

    <div class="cell small-2 bar-item">
      Data Download Button
    </div>
  </div>
</div>
