<div
  id="data-explorer-toolbar"
  class="grid-container fluid"
>
  <div class="grid-x grid-margin-x">
    <div class="cell shrink text-left">
      <Explorer::SourceSelectDropdown
        @sources={{@sources}}
        @setSource={{@setSource}}
      />

      <Explorer::TopicSelectDropdown
        @topics={{@topics}}
        @toggleTopic={{@toggleTopic}}
        @toggleAllTopics={{@toggleAllTopics}}
      />

      <Explorer::ModifyTablesMenu
        @mode={{@mode}}
        @showReliability={{@showReliability}}
        @disaggregate={{@disaggregate}}
        @compareTo={{@compareTo}}
        @geoOptions={{@geoOptions}}
        @selectedGeo={{@selectedGeo}}
        @toggleBooleanControl={{@toggleBooleanControl}}
        @updateCompareTo={{@updateCompareTo}}
      />
    </div>

    <div class="cell auto text-right">
      <div class="bar-item">
        <Explorer::DownloadDataDropdown
          @topics={{@topics}}
          @sources={{@sources}}
          @showReliability={{@showReliability}}
          @toggleReliability={{@toggleReliability}}
        />
      </div>
    </div>

  </div>
</div>