<div class="profile-header grid-x grid-padding-x">
  <div class="cell large-8 xlarge-shrink">

    <h1 id="top">
      {{title}}
      {{download-spreadsheet data=data}}
    </h1>

    <div class="profile-mode">
      <h2 class="header-medium" class="{{if (eq mode 'change') 'dark-gray'}}">
        <a {{action (mut mode) 'current'}}>
          {{#if (eq mode 'current')}}
            {{fa-icon 'dot-circle-o'}}
          {{else}}
            <span class="medium-gray">{{fa-icon 'circle-thin'}}</span>
          {{/if}}
          {{#if (eq profile.tab 'profile.census') }}
            2010 Decennial Census
          {{else}}
            2012-2016 American Community Survey <small>(ACS)</small>
          {{/if}}
        </a>
      </h2>
      <h2 class="header-medium" class="{{if (eq mode 'current') 'dark-gray'}}">
        <a {{action (mut mode) 'change'}}>
          {{#if (eq mode 'change')}}
            {{fa-icon 'dot-circle-o'}}
          {{else}}
            <span class="medium-gray">{{fa-icon 'circle-thin'}}</span>
          {{/if}}
          {{#if (eq profile.tab 'profile.census') }}
            Change Over Time <small>2000 to 2010</small>
          {{else}}
            Change Over Time <small>(2006-2010 to 2012-2016)</small>
          {{/if}}

        </a>
      </h2>
    </div>

    <div class="profile-controls">

      <div class="profile-geographies">
        <h3 class="profile-geographies-header">
          {{selectionCount}}
          {{if (eq summaryLevel 'tracts') 'Census Tract'~}}
          {{if (eq summaryLevel 'blocks') 'Census Block'~}}
          {{if (eq summaryLevel 'ntas') 'Neighborhood'~}}
          {{if (eq summaryLevel 'pumas') 'PUMA'~}}
          {{unless (eq selectionCount 1) 's'}}:
        </h3>
        <ul class="profile-geographies-list comma-separated-list">
          {{#each selection.sortedLabels as |feature|}}
            <li>{{feature.properties.geolabel}}</li>
          {{/each}}
        </ul>
      </div>

      {{#if (eq mode 'current')}}
      <div class="profile-comparison-controls grid-x align-middle">
        <div class="cell shrink">
          <strong>Compare&nbsp;to:&nbsp;&nbsp;</strong>
        </div>
        <div class="cell auto">
          {{comparison-area-selector comparisonArea=profile.comparator}}
        </div>
      </div>
      {{/if}}

      {{#unless (eq profile.tab 'profile.census') }}
      <div class="profile-reliability-controls">
        <a {{action (mut profile.reliability) (not profile.reliability)}}>
          {{#if profile.reliability}}
            <span class="dcp-orange">{{fa-icon 'check-square-o' class="fa-fw"}}</span>
          {{else}}
            <span class="dcp-orange">{{fa-icon 'square-o' class="fa-fw"}}</span>
          {{/if}}
          Show Data Reliability
        </a>
      </div>
      {{/unless}}

    </div>

    {{yield}}

  </div>
  <div class="cell large-4 xlarge-auto">

    <div class="profile-map-container relative">
      {{#mapbox-gl
        id='map'
        sources=sources
        initOptions=(hash style='mapbox://styles/mapbox/light-v9'
                          zoom=zoom
                          center=center
                          hash=false
                          interactive=false)
        mapLoaded=(action 'handleMapLoad')

        as |map|}}

        {{#map.source sourceId='bk-qn-mh-boundary' options=bkQnMhBoundarySource as |source|}}
          {{map.layer layer=bkQnMhBoundaryLayer}}
        {{/map.source}}

        {{#if selection.current}}
          {{#map.source
            sourceId='selected-features'
            options=selectedSource as |source|}}
            {{source.layer
              layer=selectedFillLayer
              before='waterway-label'}}
            {{source.layer
              before='waterway-label'}}
          {{/map.source}}
        {{/if}}

        {{map.on 'resize' (action 'handleResize')}}
      {{/mapbox-gl}}
      {{#link-to 'index' (query-params lastreport=currentProfile) classNames='edit-selection-button'}}<span>{{fa-icon 'pencil'}}&nbsp;Edit&nbsp;Selection</span>{{/link-to}}
    </div>

 </div>
</div>
