<div class="profile-header grid-x grid-padding-x">
  <div class="cell large-8 xlarge-shrink">

    <h1 id="top">
      {{this.title}}
      {{download-spreadsheet data=this.data mode=this.mode tab=this.profile.tab}}
    </h1>

    <div class="profile-mode">
      <h2 class="header-medium {{if (eq this.mode 'change') 'dark-gray'}}">
        <a {{action 'setMode' 'current'}}>
          {{#if (eq this.mode 'current')}}
            {{fa-icon icon='dot-circle' prefix='far'}}
          {{else}}
            {{fa-icon icon='circle' prefix='far' class='silver'}}
          {{/if}}
          {{#if (eq this.profile.tab 'profile.census') }}
            2010 Decennial Census
          {{else}}
            2014-2018 American Community Survey <small>(ACS)</small>
          {{/if}}
        </a>
      </h2>
      <h2 class="header-medium {{if (eq this.mode 'current') 'dark-gray'}}">
        <a {{action 'setMode' 'change'}}>
          {{#if (eq this.mode 'change')}}
            {{fa-icon icon='dot-circle' prefix='far'}}
          {{else}}
            {{fa-icon icon='circle' prefix='far' class='silver'}}
          {{/if}}
          {{#if (eq this.profile.tab 'profile.census') }}
            Change Over Time <small>2000 to 2010</small>
          {{else}}
            Change Over Time <small>(2006-2010 to 2014-2018)</small>
          {{/if}}

        </a>
      </h2>
    </div>

    <div class="profile-controls">

      <div class="profile-geographies">
        <h3 class="profile-geographies-header">
          {{selection-details-text}}
        </h3>
        <span class="dark-gray">&nbsp;|&nbsp;</span>
        <p class="profile-geographies-list comma-separated-list">
          {{select-geography-list selection=this.selection}}
        </p>
      </div>

      {{#if (eq this.mode 'current')}}
      <div class="profile-comparison-controls grid-x align-middle">
        <div class="cell shrink">
          <strong>Compare&nbsp;to:&nbsp;&nbsp;</strong>
        </div>
        <div class="cell auto">
          {{comparison-area-selector comparisonArea=this.selection.comparator}}
        </div>
      </div>
      {{/if}}

      {{#unless (eq this.profile.tab 'profile.census') }}
        <div class="profile-checkbox-controls">
          <a {{action 'toggleReliability'}}>
            <span class="dcp-orange">
              {{#if this.profile.reliability}}
                {{fa-icon icon='check-square' prefix='far' fixedWidth=true}}
              {{else}}
                {{fa-icon icon='square' prefix='far' fixedWidth=true}}
              {{/if}}
            </span>
            Show Reliability Data
          </a>
          {{#if (eq this.mode 'current')}}
            <span class="dark-gray">&nbsp;|&nbsp;</span>
            <a {{action 'toggleCharts'}}>
              <span class="dcp-orange">
                {{#if this.profile.charts}}
                  {{fa-icon icon='check-square' prefix='far' fixedWidth=true}}
                {{else}}
                  {{fa-icon icon='square' prefix='far' fixedWidth=true}}
                {{/if}}
              </span>
              Show Charts
            </a>
          {{/if}}
        </div>
      {{/unless}}
    </div>
    {{#unless (eq this.profile.tab 'profile.census')}}
      <p class="text-small no-margin">
        ACS data are derived from a survey and are subject to sampling variability.
        Grayed values are not statistically reliable (<a href="https://www.census.gov/programs-surveys/acs/guidance.html" target="_blank" rel="noopener noreferrer">guidance on ACS data</a>).
        {{labs-ui/icon-tooltip
          tip="Data associated with estimates of zero, top- and bottom-coded estimates, or Coefficients of Variation (CVs) of 20% or more are grayed out to signify poor statistical reliability. Comparisons and changes over time that are not statistically significant at a 90% confidence level are also grayed out."
          icon='question-circle'
          transform='shrink-2'
        }}
      </p>
    {{/unless}}
    {{yield}}

  </div>
  <div class="cell large-4 xlarge-auto">

    <div class="profile-map-container relative">
      <MapboxGl
        @id="map"
        @sources={{this.sources}}
        @initOptions={{hash
          style='//raw.githubusercontent.com/NYCPlanning/labs-gl-style/master/data/style.json'
          zoom=this.zoom
          center=this.center
          hash=false
          interactive=false
        }}
        @mapLoaded={{action 'handleMapLoad'}} as |map|
      >
        {{#if this.selection.current}}
          <map.source @sourceId="selected-features" @options={{this.selectedSource}} as |source|>
            {{source.layer
              layer=this.selectedFillLayer
              before='place_other'}}
            {{source.layer
              before='place_other'}}
          </map.source>
        {{/if}}

        {{map.on 'resize' (action 'handleResize')}}
      </MapboxGl>
      {{#link-to 'index' (query-params lastreport=this.currentProfile) classNames='edit-selection-button' invokeAction=(action 'backToSelection')}}<span>{{fa-icon icon='pen'}}&nbsp;Edit&nbsp;Selection</span>{{/link-to}}
    </div>

 </div>
</div>
