{{#scroll-to href='#top' class='active'}}
  {{this.tabName}}
  {{#if this.tabNameSmall}}
    <small>{{this.tabNameSmall}}</small>
  {{/if}}
  {{fa-icon icon='caret-down'
    transform='grow-2 right-5'
    class="light-gray tab-dropdown-trigger"
  }}
{{/scroll-to}}

{{#ember-popover
  _tooltipVariantClass='tab-popover'
  as |popover|
}}
  <ul class="menu vertical">
    {{#each this.dropdownItems as |item|}}
      <li onClick={{action 'sendAnalytics' 'Selected Dropdown Item' item.title}}>
        {{#scroll-to href=item.anchor afterScroll=(action 'closeTabDropdown')}}{{item.title}}{{/scroll-to}}
      </li>
    {{/each}}
  </ul>
{{/ember-popover}}
