<ScrollTo @href="#top" @class="active">
  {{this.tabName}}
  {{#if this.tabNameSmall}}
    <small>{{this.tabNameSmall}}</small>
  {{/if}}
  {{fa-icon icon='caret-down'
    transform='grow-2 right-5'
    class="light-gray tab-dropdown-trigger"
  }}
</ScrollTo>

<EmberPopover @_tooltipVariantClass="tab-popover" as |popover|>
  <ul class="menu vertical">
    {{#each this.dropdownItems as |item|}}
      <li onClick={{action 'sendAnalytics' 'Selected Dropdown Item' item.title}}>
        <ScrollTo @href={{item.anchor}} @afterScroll={{action 'closeTabDropdown'}}>{{item.title}}</ScrollTo>
      </li>
    {{/each}}
  </ul>
</EmberPopover>
