{{#profile-header
  profile=this.profile
  title="2010 Census Profile"
  mode=profile.mode
  data=rawData
}}
{{/profile-header}}

<hr>

<h3 id="density" class="header-medium">Population Density</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-auto">
    {{data-table
      decennial=true
      reliability=false
      mode=profile.mode
      comparison=true
      config=populationDensity
      model=model
    }}
  </div>
</div>

<hr>

<h3 id="sex-and-age" class="header-medium">Age and Sex</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-auto">
    {{data-table
      decennial=true
      reliability=false
      mode=profile.mode
      comparison=true
      config=sexAndAge
      model=model
    }}
  </div>
</div>

<hr>

<h3 id="mutually-exclusive-race-hispanic-origin" class="header-medium">Mutually Exclusive Race / Hispanic Origin</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-auto">
    {{data-table
      decennial=true
      reliability=false
      mode=profile.mode
      comparison=true
      config=mutuallyExclusiveRaceHispanicOrigin
      model=model
    }}
  </div>
</div>

<hr>

<h3 id="hispanic-subgroup" class="header-medium">
  <span>
    Hispanic Subgroup
    {{fa-icon icon='question-circle' transform='shrink-6 left-4 up-2'}}
    {{ember-tooltip
      text='Hispanic subgroup data from 2000 are simulated totals, prepared by the U.S. Census Bureau, 2003'
      side='bottom'
    }}
  </span>
</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-auto">
    {{data-table
      decennial=true
      reliability=false
      mode=profile.mode
      comparison=true
      config=hispanicSubgroup
      model=model
    }}
  </div>
</div>

<hr>

<h3 id="asian-subgroup" class="header-medium">Asian Subgroup</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-auto">
    {{data-table
      decennial=true
      reliability=false
      mode=profile.mode
      comparison=true
      config=asianSubgroup
      model=model
    }}
  </div>
</div>

<hr>

<h3 id="relationship-to-head-of-household" class="header-medium">Relationship to Head of Household</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-auto">
    {{data-table
      decennial=true
      reliability=false
      mode=profile.mode
      comparison=true
      config=relationshipToHeadOfHouseholdHouseholder
      model=model
    }}
  </div>
</div>

<hr>

<h3 id="household-type" class="header-medium">Household Type</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-auto">
    {{data-table
      decennial=true
      reliability=false
      mode=profile.mode
      comparison=true
      config=householdType
      model=model
    }}
  </div>
</div>

<hr>

<h3 id="housing-occupancy" class="header-medium">Housing Occupancy</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-auto">
    {{data-table
      decennial=true
      reliability=false
      mode=profile.mode
      comparison=true
      config=housingOccupancy
      model=model
    }}
  </div>
</div>

<hr>

<h3 id="housing-tenure" class="header-medium">Housing Tenure</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-auto">
    {{data-table
      decennial=true
      reliability=false
      mode=profile.mode
      comparison=true
      config=housingTenure
      model=model
    }}
  </div>
</div>

<hr>

<h3 id="tenure-by-age-of-householder" class="header-medium">Tenure by Age of Householder</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-auto">
    {{data-table
      decennial=true
      reliability=false
      mode=profile.mode
      comparison=true
      config=tenureByAgeOfHouseholder
      model=model
    }}
  </div>
</div>

<hr>

<h3 id="household-size" class="header-medium">Household Size</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-auto">
    {{data-table
      decennial=true
      reliability=false
      mode=profile.mode
      comparison=true
      config=householdSize
      model=model
    }}
  </div>
</div>

{{profile-footer}}

{{outlet}}
