{{log profile}}
{{log 'mode' profile.mode}}
{{log rawData}}

{{#profile-header
  profile=profile
  title="2010 Census Profile"
  mode=profile.mode
  data=rawData
}}
  <p class="text-tiny">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
{{/profile-header}}

{{!-- Tables --}}

{{!--
  decennial_median_age_for_blocks_only
  decennial_dictionary
  decennial_hispanic_subgroup
  decennial_median_age_exl_blocks
  decennial_sex_age
  decennial_mutually_exclusive_race
  decennial_population_density
  decennial_asian_subgroup
  decennial_relationship_head_householder
  decennial_household_type
  decennial_housing_occupancy
  decennial_housing_tenure
  decennial_tenure_by_age
  decennial_household_size
  decennial_poppyramid_only
--}}

{{#decennial-table category='decennial_sex_age' as |table|}}
  {{acs-table
    reliability=false
    comparison=true
    config=sexAge
    t1=table.categoryData.y2000
    t2=table.categoryData.y2010
  }}
{{/decennial-table}}

{{#decennial-table category='decennial_mutually_exclusive_race' as |table|}}
  {{acs-table
    reliability=false
    comparison=true
    config=mutuallyExclRaceHisp
    t1=table.categoryData.y2000
    t2=table.categoryData.y2010
  }}
{{/decennial-table}}

{{#decennial-table category='decennial_hispanic_subgroup' as |table|}}
  {{acs-table
    reliability=false
    comparison=true
    config=hispSubgroup
    t1=table.categoryData.y2000
    t2=table.categoryData.y2010
  }}
{{/decennial-table}}

{{#decennial-table category='decennial_asian_subgroup' as |table|}}
  {{acs-table
    reliability=false
    comparison=true
    config=asianSubgroup
    t1=table.categoryData.y2000
    t2=table.categoryData.y2010
  }}
{{/decennial-table}}

{{#decennial-table category='decennial_relationship_head_householder' as |table|}}
  {{acs-table
    reliability=false
    comparison=true
    config=headHousehold
    t1=table.categoryData.y2000
    t2=table.categoryData.y2010
  }}
{{/decennial-table}}


{{#decennial-table category='decennial_household_type' as |table|}}
  {{acs-table
    reliability=false
    comparison=true
    config=householdType
    t1=table.categoryData.y2000
    t2=table.categoryData.y2010
  }}
{{/decennial-table}}

{{#decennial-table category='decennial_housing_occupancy' as |table|}}
  {{acs-table
    reliability=false
    comparison=true
    config=housingOccupancy
    t1=table.categoryData.y2000
    t2=table.categoryData.y2010
  }}
{{/decennial-table}}

{{#decennial-table category='decennial_housing_tenure' as |table|}}
  {{acs-table
    reliability=false
    comparison=true
    config=housingTenure
    t1=table.categoryData.y2000
    t2=table.categoryData.y2010
  }}
{{/decennial-table}}

{{#decennial-table category='decennial_tenure_by_age' as |table|}}
  {{acs-table
    reliability=false
    comparison=true
    config=tenureAgeHouseholder
    t1=table.categoryData.y2000
    t2=table.categoryData.y2010
  }}
{{/decennial-table}}

{{#decennial-table category='decennial_household_size' as |table|}}
  {{acs-table
    reliability=false
    comparison=true
    config=householdSize
    t1=table.categoryData.y2000
    t2=table.categoryData.y2010
  }}
{{/decennial-table}}

{{outlet}}
