<div class="shows-signficance">
  {{profile-header
    profile=this.profile
    title="Demographic Profile"
    mode=this.profile.mode
    data=this.rawData
  }}
  <hr>
  <h3 id="sex-and-age" class="header-medium">Age and Sex</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-auto">
      {{data-table
        mode=this.profile.mode
        reliability=this.profile.reliability
        comparison=this.profile.comparison
        config=this.sexAndAge
        model=this.model
      }}
    </div>
    {{#if (and (eq this.profile.mode 'current') this.profile.charts)}}
      <div class="cell large-4 xxlarge-3">
        {{#population-pyramid
          title="Age/Sex Distribution"
          data=this.agePopDist
        }}
          <h4 class="no-margin grid-x grid-margin-x" style="font-size:0.75rem;">
            <span class="cell small-6 text-right">
              Male <br>{{numeral-format this.model.male.percent '0.0%'}}&nbsp;<span class="text-weight-normal">(±{{numeral-format this.model.y2014_2018.male.percent_m '0.0%'}})</span>
            </span>
            <span class="cell small-6">
              Female <br>{{numeral-format this.model.fem.percent '0.0%'}}&nbsp;<span class="text-weight-normal">(±{{numeral-format this.model.y2014_2018.fem.percent_m '0.0%'}})</span>
            </span>
          </h4>
        {{/population-pyramid}}
      </div>
    {{/if}}
  </div>

  <hr>

  <h3 id="mutually-exclusive-race-hispanic-origin" class="header-medium">Mutually Exclusive Race / Hispanic Origin</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-auto">
      {{data-table
        mode=this.profile.mode
        reliability=this.profile.reliability
        comparison=this.profile.comparison
        config=this.mutuallyExclusiveRaceHispanicOrigin
        model=this.model
      }}
    </div>
    {{#if (and (eq this.profile.mode 'current') this.profile.charts)}}
      <div class="cell large-4 xxlarge-3">
        {{acs-bar
          title="Percent Distribution of Race/Hispanic Origin Groups"
          config=this.raceGroupChartConfig
          data=this.model
          height=176}}
      </div>
    {{/if}}
  </div>

  <hr>

  <h3 id="hispanic-subgroup" class="header-medium">Hispanic Subgroup</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-auto">
      {{data-table
        mode=this.profile.mode
        reliability=this.profile.reliability
        comparison=this.profile.comparison
        config=this.hispanicSubgroup
        model=this.model
      }}
    </div>
    {{#if (and (eq this.profile.mode 'current') this.profile.charts)}}
      <div class="cell large-4 xxlarge-3">
        {{acs-bar
          title="Percent Distribution of Hispanic Subgroups"
          config=this.hispanicSubgroupChartConfig
          data=this.model
          height=204}}
      </div>
    {{/if}}
  </div>

  <hr>

  <h3 id="asian-subgroup" class="header-medium">Asian Subgroup</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-auto">
      {{data-table
        mode=this.profile.mode
        reliability=this.profile.reliability
        comparison=this.profile.comparison
        config=this.asianSubgroup
        model=this.model
      }}
    </div>
    {{#if (and (eq this.profile.mode 'current') this.profile.charts)}}
      <div class="cell large-4 xxlarge-3">
        {{acs-bar
          title="Percent Distribution of Asian Subgroups"
          config=this.asianSubgroupChartConfig
          data=this.model
          height=150}}
      </div>
    {{/if}}
  </div>

  {{profile-footer}}

  {{outlet}}
</div>
