<div class="shows-signficance">
  {{profile-header
    profile=profile
    title="Economic Profile"
    data=rawData
    mode=profile.mode
  }}

  <hr>

  <h3 class="header-medium" id="employment-status">Employment Status</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-auto">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=employmentStatus
        model=model
      }}
    </div>
  </div>

  <hr>

  <h3 class="header-medium" id="commute-to-work">Commute to Work</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-auto">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=commuteToWork
        model=model
      }}
    </div>
    {{#if (and (eq profile.mode 'current') profile.charts)}}
      <div class="cell large-4 xxlarge-3">
        {{acs-bar
          title="Percent Distribution of Workers by Means of Transportation to Work"
          config=commuteToWorkChartConfig
          data=model
          height=236}}
      </div>
    {{/if}}
  </div>

  <hr>

  <h3 class="header-medium" id="occupation">Occupation</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-auto">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=occupation
        model=model
      }}
    </div>
    {{#if (and (eq profile.mode 'current') profile.charts)}}
      <div class="cell large-4 xxlarge-3">
        {{acs-bar
          title="Percent Distribution of Workers by Occupation"
          config=occupationChartConfig
          data=model
          height=204}}
      </div>
    {{/if}}
  </div>

  <hr>

  <h3 class="header-medium" id="industry">Industry</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-auto">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=industry
        model=model
      }}
    </div>
  </div>

  <hr>

  <h3 class="header-medium" id="class-of-worker">Class of Worker</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-auto">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=classOfWorker
        model=model
      }}
    </div>
    {{#if (and (eq profile.mode 'current') profile.charts)}}
      <div class="cell large-4 xxlarge-3">
        {{acs-bar
          title="Percent Distribution of Workers by Class of Worker"
          config=classOfWorkerChartConfig
          data=model
          height=176}}
      </div>
    {{/if}}
  </div>

  <hr>

  <h3 class="header-medium" id="income-and-benefits">
    <span>
      Income and Benefits
      {{fa-icon 'question-circle' transform='shrink-6 left-4 up-2'}}
      {{ember-tooltip
        text="In 2018 inflation-adjusted dollars"
        side='bottom'
      }}
    </span>
  </h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-auto">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=incomeAndBenefits
        model=model
      }}
    </div>
    {{#if (and (eq profile.mode 'current') profile.charts)}}
      <div class="cell large-4 xxlarge-3">
        {{acs-bar
          title="Percent Distribution of Household Income"
          config=incomeAndBenefitsChartConfig
          data=model
          height=340}}
      </div>
    {{/if}}
  </div>

  <hr>

  <h3 class="header-medium" id="earnings">
    <span>
      Earnings
      {{fa-icon 'question-circle' transform='shrink-6 left-4 up-2'}}
      {{ember-tooltip
        text="In 2018 inflation-adjusted dollars"
        side='left'
      }}
    </span>
  </h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-auto">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=earnings
        model=model
      }}
    </div>
  </div>

  <hr>

  <h3 class="header-medium" id="health-insurance-coverage">Health Insurance Coverage</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-auto">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=healthInsuranceCoverage
        model=model
      }}
    </div>
  </div>

  <hr>

  <h3 class="header-medium" id="income-in-the-past-12-months-below-poverty-level">
    <span>
      Income in the Past 12 Months Below Poverty Level
      {{fa-icon 'question-circle' transform='shrink-6 left-4 up-2'}}
      {{ember-tooltip
        text="For alternative NYC poverty measure, please see website of the Mayor's Office for Economic Opportunity"
        side='bottom'
      }}
    </span>
  </h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-auto">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=incomeInPast12MonthsIsBelowThePovertyLevel
        model=model
      }}
    </div>
  </div>

  <hr>

  <h3 class="header-medium" id="ratio-of-income-to-poverty-level">
    <span>
      Ratio of Income to Poverty Level
      {{fa-icon 'question-circle' transform='shrink-6 left-4 up-2'}}
      {{ember-tooltip
        text="Ratio of income in the past 12 months to poverty level"
        side='bottom'
      }}
    </span>
  </h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-auto">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=ratioOfIncomeToPovertyLevel
        model=model
      }}
    </div>
    {{#if (and (eq profile.mode 'current') profile.charts)}}
      <div class="cell large-4 xxlarge-3">
        {{acs-bar
          title="Percent Distribution of Population by Ratio of Income to Poverty Level"
          config=ratioOfIncomeToPovertyLevelChartConfig
          data=model
          height=394}}
     </div>
   {{/if}}
  </div>

  {{profile-footer}}

  {{outlet}}
</div>
