{{profile-header
  profile=profile
  title="Economic Profile"
  data=rawData
  mode=profile.mode
}}

<hr>

<h3 class="header-medium" id="employment-status">Employment Status</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=employmentStatus
      model=model
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="commute-to-work">Commute to Work</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=commuteToWork
      model=model
    }}
  </div>
  {{!-- <div class="cell large-4">
    <div class="callout">
      {{acs-bar
        config=commuteToWorkChartConfig
        data=model.y2012_2016
        height=296
        xMax=1}}
    </div>
  </div> --}}
</div>

<hr>

<h3 class="header-medium" id="occupation">Occupation</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=occupation
      model=model
    }}
  </div>
  {{!-- <div class="cell large-4">
    <div class="callout">
      {{acs-bar
        config=occupationChartConfig
        data=model.y2012_2016
        height=264
        xMax=1}}
    </div>
  </div> --}}
</div>

<hr>

<h3 class="header-medium" id="industry">Industry</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=industry
      model=model
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="class-of-worker">Class of Worker</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=classOfWorker
      model=model
    }}
  </div>
  {{!-- <div class="cell large-4">
    <div class="callout">
      {{acs-bar
        config=classOfWorkerChartConfig
        data=model.y2012_2016
        height=236
        xMax=1}}
    </div>
  </div> --}}
</div>

<hr>

<h3 class="header-medium" id="income-and-benefits">
  Income and Benefits
  {{info-tooltip tip="Lorem ipsum dolor sit amet, consectetur adipisicing elit."}}
</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=incomeAndBenefits
      model=model
    }}
  </div>
  {{!-- <div class="cell large-4">
    <div class="callout">
      {{acs-bar
        config=incomeAndBenefitsChartConfig
        data=model.y2012_2016
        height=400
        xMax=1}}
    </div>
  </div> --}}
</div>

<hr>

<h3 class="header-medium" id="earnings">
  Earnings
  {{info-tooltip tip="Lorem ipsum dolor sit amet, consectetur adipisicing elit."}}
</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=earnings
      model=model
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="health-insurance-coverage">Health Insurance Coverage</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=healthInsuranceCoverage
      model=model
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="income-in-the-past-12-months-below-poverty-level">
  Income in the Past 12 Months Below Poverty Level
  {{info-tooltip tip="Lorem ipsum dolor sit amet, consectetur adipisicing elit."}}
</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=incomePast12MonthsBelowPoverty
      model=model
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="ratio-of-income-to-poverty-level">
  Ratio of Income to Poverty Level
  {{info-tooltip tip="Lorem ipsum dolor sit amet, consectetur adipisicing elit."}}
</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=ratioOfIncomeToPovertyLevel
      model=model
    }}
  </div>
  {{!-- <div class="cell large-4">
    <div class="callout">
      {{acs-bar
        config=ratioOfIncomeToPovertyLevelChartConfig
        data=model.y2012_2016
        height=454
        xMax=1}}
    </div>
  </div> --}}
</div>

{{profile-footer}}

{{outlet}}
