{{#profile-header
  profile=profile
  title="Housing Profile"
  mode=profile.mode
  data=rawData
}}
  <p class="text-small no-margin">
    ACS data are derived from a survey and are subject to sampling variability.
    Grayed values are not statistically reliable (<a href="https://www.census.gov/programs-surveys/acs/guidance.html" target="_blank">guidance on ACS data</a>).
    <span class="text-tiny dark-gray">
      Data associated with estimates of zero, top- and bottom-coded estimates, or Coefficients of Variation (CVs) of 20% or more are grayed out to signify poor statistical reliability. Comparisons and changes over time that are not statistically significant at a 90% confidence level are also grayed out.
    </span>
  </p>
{{/profile-header}}

<hr>

<h3 class="header-medium" id="housing-occupancy">Housing Occupancy</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=housingOccupancy
      model=model
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="units-in-structure">Units in Structure</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=unitsInStructure
      model=model
    }}
  </div>
</div>
<hr>

<h3 class="header-medium" id="year-structure-built">Year Structure Built</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=yearStructureBuilt
      model=model
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="rooms">Rooms</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=rooms
      model=model
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="housing-tenure">Housing Tenure</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=housingTenure
      model=model
      category='housing_tenure'
      special_variables='housing__special_variable'
    }}
  </div>
  <div class="cell large-4">
    {{acs-bar config=housingTenureChartConfig data=model.y2012_2016 height=182 xMax=1}}
  </div>
</div>

<hr>

<h3 class="header-medium" id="year-householder-moved-into-unit">Year Householder Moved Into Unit</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=yearHouseholderMovedIntoUnit
      model=model
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="vehicles-available">Vehicles Available</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=vehiclesAvailable
      model=model
    }}
  </div>
  <div class="cell large-4">
    {{acs-bar config=vehiclesAvailableChartConfig data=model.y2012_2016 height=236 xMax=1}}
  </div>
</div>

<hr>

<h3 class="header-medium" id="occupants-per-room">Occupants per Room</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=occupantsPerRoom
      model=model
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="value">Value</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=value
      model=model
    }}
  </div>
  <div class="cell large-4">
    {{acs-bar config=valueChartConfig data=model.y2012_2016 height=343 xMax=1}}
  </div>
</div>

<hr>

<h3 class="header-medium" id="mortgage-status">Mortgage Status</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=mortgageStatus
      model=model
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="selected-monthly-owner-costs-as-a-percentage-of-household-income">Selected Monthly Owner Costs as a Percentage of Household Income</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=selectedMonthlyOwnerSmocapi
      model=model
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="gross-rent">Gross Rent</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=grossRent
      model=model
    }}
  </div>
  <div class="cell large-4">
    {{acs-bar config=grossRentChartConfig data=model.y2012_2016 height=324 xMax=1}}
  </div>
</div>

<hr>

<h3 class="header-medium" id="gross-rent-as-a-percentage-of-household-income">Gross Rent as a Percentage of Household Income (GRAPI)</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=grossRentGrapi
      model=model
    }}
  </div>
  <div class="cell large-4">
      {{acs-bar config=grossRentGrapiChartConfig data=model.y2012_2016 height=295 xMax=1}}
  </div>
</div>

{{profile-footer}}

{{outlet}}
