<div class="shows-signficance">
  {{profile-header
    profile=profile
    title="Housing Profile"
    mode=profile.mode
    data=rawData
  }}

  <hr>

  <h3 class="header-medium" id="housing-occupancy">Housing Occupancy</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-8">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=housingOccupancy
        model=model
      }}
    </div>
  </div>

  <hr>

  <h3 class="header-medium" id="units-in-structure">Units in Structure</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-8">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=unitsInStructure
        model=model
      }}
    </div>
  </div>
  <hr>

  <h3 class="header-medium" id="year-structure-built">Year Structure Built</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-8">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=yearStructureBuilt
        model=model
      }}
    </div>
  </div>

  <hr>

  <h3 class="header-medium" id="rooms">Rooms</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-8">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=rooms
        model=model
      }}
    </div>
  </div>

  <hr>

  <h3 class="header-medium" id="housing-tenure">Housing Tenure</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-8">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=housingTenure
        model=model
        category='housing_tenure'
        special_variables='housing__special_variable'
      }}
    </div>
    <div class="cell large-4">
      {{#if (eq profile.mode 'current')}}
        {{acs-bar
          title="Percent Distribution of Housing Tenure"
          config=housingTenureChartConfig
          data=model.y2012_2016
          height=122
          xMax=1}}
      {{/if}}
    </div>
  </div>

  <hr>

  <h3 class="header-medium" id="year-householder-moved-into-unit">Year Householder Moved Into Unit</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-8">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=yearHouseholderMovedIntoUnit
        model=model
      }}
    </div>
  </div>

  <hr>

  <h3 class="header-medium" id="vehicles-available">Vehicles Available</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-8">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=vehiclesAvailable
        model=model
      }}
    </div>
    <div class="cell large-4">
      {{#if (eq profile.mode 'current')}}
        {{acs-bar
          title="Percent Distribution of Households by Vehicles Available"
          config=vehiclesAvailableChartConfig
          data=model.y2012_2016
          height=176
          xMax=1}}
      {{/if}}
    </div>
  </div>

  <hr>

  <h3 class="header-medium" id="occupants-per-room">Occupants per Room</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-8">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=occupantsPerRoom
        model=model
      }}
    </div>
  </div>

  <hr>

  <h3 class="header-medium" id="value">
    Value
    {{info-tooltip tip='In 2016 inflation-adjusted dollars'}}
  </h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-8">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=value
        model=model
      }}
    </div>
    <div class="cell large-4">
      {{#if (eq profile.mode 'current')}}
        {{acs-bar
          title="Percent Distribution of Owner-occupied Households by Housing Value"
          config=valueChartConfig
          data=model.y2012_2016
          height=283
          xMax=1}}
      {{/if}}
    </div>
  </div>

  <hr>

  <h3 class="header-medium" id="mortgage-status">Mortgage Status</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-8">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=mortgageStatus
        model=model
      }}
    </div>
  </div>

  <hr>

  <h3 class="header-medium" id="selected-monthly-owner-costs-as-a-percentage-of-household-income">Selected Monthly Owner Costs as a Percentage of Household Income</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-8">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=selectedMonthlyOwnerCostsAsAPercentageOfHouseholdIncomeSmocapi
        model=model
      }}
    </div>
  </div>

  <hr>

  <h3 class="header-medium" id="gross-rent">
    Gross Rent
    {{info-tooltip tip='In 2016 inflation-adjusted dollars'}}
  </h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-8">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=grossRent
        model=model
      }}
    </div>
    <div class="cell large-4">
      {{#if (eq profile.mode 'current')}}
        {{acs-bar
          title="Percent Distribution of Renter-occupied Households by Gross Rent"
          config=grossRentChartConfig
          data=model.y2012_2016
          height=264
          xMax=1}}
      {{/if}}
    </div>
  </div>

  <hr>

  <h3 class="header-medium" id="gross-rent-as-a-percentage-of-household-income">Gross Rent as a Percentage of Household Income (GRAPI)</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell large-8">
      {{data-table
        options=profile
        mode=profile.mode
        reliability=profile.reliability
        comparison=profile.comparison
        config=grossRentAsAPercentageOfHouseholdIncomeGrapi
        model=model
      }}
    </div>
    <div class="cell large-4">
      {{#if (eq profile.mode 'current')}}
        {{acs-bar
          title="Percent Distribution of Renter-occupied Households by Gross Rent as a Percentage of Household Income"
          config=grossRentGrapiChartConfig
          data=model.y2012_2016
          height=235
          xMax=1}}
      {{/if}}
    </div>
  </div>

  {{profile-footer}}

  {{outlet}}
</div>
