{{#profile-header
  profile=profile
  title="Social Profile"
  mode=profile.mode
  data=rawData
}}
  <p class="text-tiny">
    ACS data are derived from a survey and are subject to sampling variability.
    Grayed values are not statistically reliable (<a href="https://www.census.gov/programs-surveys/acs/guidance.html" target="_blank">guidance on ACS data</a>).

    Data associated with estimates of zero, top- and bottom-coded estimates, or Coefficients of Variation (CVs) of 20% or more are grayed out to signify poor statistical reliability. Comparisons and changes over time that are not statistically significant at a 90% confidence level are also grayed out.
  </p>
{{/profile-header}}

<hr>

<h3 class="header-medium" id="household-type">Household Type</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
        {{acs-table
      options=profile
      scrollTable=profile.scrollTable
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=householdType
      t1=model.y2011_2015.household_type
      t2=model.y2006_2010.household_type
    }}
  </div>
  <div class="cell large-4">
    <div class="callout">
      {{acs-bar config=householdTypeChartConfig data=model.y2011_2015.household_type height=236 xMax=1}}
    </div>
  </div>
</div>


<hr>

<h3 class="header-medium" id="relationship-to-head-of-household">Relationship To Head Of Household (Householder)</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
        {{acs-table
      options=profile
      scrollTable=profile.scrollTable
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=relationshipToHeadOfHousehold
      t1=model.y2011_2015.relationship_to_head_of_household__householder_
      t2=model.y2006_2010.relationship_to_head_of_household__householder_
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="grandparents">Marital Status</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
        {{acs-table
      options=profile
      scrollTable=profile.scrollTable
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=maritalStatus
      t1=model.y2011_2015.marital_status
      t2=model.y2006_2010.marital_status
    }}
  </div>
</div>


<hr>
<h3 class="header-medium" id="grandparents">Grandparents</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
        {{acs-table
      options=profile
      scrollTable=profile.scrollTable
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=grandparents
      t1=model.y2011_2015.grandparents
      t2=model.y2006_2010.grandparents
    }}
  </div>
</div>


<hr>

<h3 class="header-medium" id="school-enrollment">School Enrollment</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
        {{acs-table
      options=profile
      scrollTable=profile.scrollTable
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=schoolEnrollment
      t1=model.y2011_2015.school_enrollment
      t2=model.y2006_2010.school_enrollment
    }}
  </div>
  <div class="cell large-4">
    <div class="callout">
      {{acs-bar config=schoolEnrollmentChartConfig data=model.y2011_2015.school_enrollment height=264 xMax=1}}
    </div>
  </div>
</div>



<hr>

<h3 class="header-medium" id="educational-attainment">Educational Attainment (Highest Grade Completed)</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
        {{acs-table
      options=profile
      scrollTable=profile.scrollTable
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=educationalAttainment
      t1=model.y2011_2015.educational_attainment__highest_grade_completed_
      t2=model.y2006_2010.educational_attainment__highest_grade_completed_
    }}
  </div>
  <div class="cell large-4">
    <div class="callout">
      {{acs-bar config=educationalAttainmentChartConfig data=model.y2011_2015.educational_attainment__highest_grade_completed_ height=210 xMax=1}}
    </div>
  </div>
</div>

<hr>

<h3 class="header-medium" id="veteran-status">Veteran Status</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
        {{acs-table
      options=profile
      scrollTable=profile.scrollTable
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=veteranStatus
      t1=model.y2011_2015.veteran_status
      t2=model.y2006_2010.veteran_status
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="disability-status-of-the-civilian-noninstitutionalized-population">Disability Status Of The Civilian Noninstitutionalized Population</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
        {{acs-table
      options=profile
      scrollTable=profile.scrollTable
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=sexAge
      t1=model.y2011_2015.disability_status_of_the_civilian_noninstitutionalized_population
      t2=model.y2006_2010.disability_status_of_the_civilian_noninstitutionalized_population
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="residence-1-year-ago">Residence 1 Year Ago</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
        {{acs-table
      options=profile
      scrollTable=profile.scrollTable
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=residence1YearAgo
      t1=model.y2011_2015.residence_1_year_ago
      t2=model.y2006_2010.residence_1_year_ago
    }}
  </div>
  <div class="cell large-4">
    <div class="callout">
      {{acs-bar config=residence1YearAgoChartConfig data=model.y2011_2015.residence_1_year_ago height=236 xMax=1}}
    </div>
  </div>
</div>

<hr>

<h3 class="header-medium" id="place-of-birth">Place Of Birth</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
        {{acs-table
      options=profile
      scrollTable=profile.scrollTable
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=placeOfBirth
      t1=model.y2011_2015.place_of_birth
      t2=model.y2006_2010.place_of_birth
    }}
  </div>
  <div class="cell large-4">
    <div class="callout">
      <h4>Place of Birth</h4>
      {{acs-bar config=placeOfBirthChartConfig data=model.y2011_2015.place_of_birth height=210 xMax=1}}
      <h4>Foreign Born</h4>
      {{acs-bar config=foreignBornChartConfig data=model.y2011_2015.place_of_birth height=236 xMax=1}}

    </div>
  </div>
</div>

<hr>

<h3 class="header-medium" id="us-citizenship-status">U.S. Citizenship Status</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
        {{acs-table
      options=profile
      scrollTable=profile.scrollTable
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=citizenshipStatus
      t1=model.y2011_2015.u_s__citizenship_status
      t2=model.y2006_2010.u_s__citizenship_status
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="year-of-entry">Year Of Entry</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
        {{acs-table
      options=profile
      scrollTable=profile.scrollTable
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=yearOfEntry
      t1=model.y2011_2015.year_of_entry
      t2=model.y2006_2010.year_of_entry
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="language-spoken-at-home">Language Spoken At Home</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
        {{acs-table
      options=profile
      scrollTable=profile.scrollTable
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=languageSpokenAtHome
      t1=model.y2011_2015.language_spoken_at_home
      t2=model.y2006_2010.language_spoken_at_home
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="ancestry">Ancestry</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
        {{acs-table
      options=profile
      scrollTable=profile.scrollTable
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=ancestry
      t1=model.y2011_2015.ancestry
      t2=model.y2006_2010.ancestry
    }}
  </div>
</div>

{{outlet}}
