{{#profile-header
  profile=profile
  title="Social Profile"
  mode=profile.mode
  data=rawData
}}
  <p class="text-small no-margin">
    ACS data are derived from a survey and are subject to sampling variability.
    Grayed values are not statistically reliable (<a href="https://www.census.gov/programs-surveys/acs/guidance.html" target="_blank">guidance on ACS data</a>).
    <span class="text-tiny dark-gray">
      Data associated with estimates of zero, top- and bottom-coded estimates, or Coefficients of Variation (CVs) of 20% or more are grayed out to signify poor statistical reliability. Comparisons and changes over time that are not statistically significant at a 90% confidence level are also grayed out.
    </span>
  </p>
{{/profile-header}}

<hr>

<h3 class="header-medium" id="household-type">Household Type</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=householdType
      model=model
    }}
  </div>
  <div class="cell large-4">
    <div class="callout">
      {{acs-bar 
        config=householdTypeChartConfig 
        data=model.y2012_2016 
        height=236 
        xMax=1}}
    </div>
  </div>
</div>


<hr>

<h3 class="header-medium" id="relationship-to-head-of-household">Relationship To Head Of Household (Householder)</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=relationshipToHeadOfHousehold
      model=model
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="grandparents">Marital Status</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=maritalStatus
      model=model
    }}
  </div>
</div>


<hr>
<h3 class="header-medium" id="grandparents">Grandparents</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=grandparents
      model=model
    }}
  </div>
</div>


<hr>

<h3 class="header-medium" id="school-enrollment">School Enrollment</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=schoolEnrollment
      model=model
    }}
  </div>
  <div class="cell large-4">
    <div class="callout">
      {{acs-bar 
        config=schoolEnrollmentChartConfig 
        data=model.y2012_2016 
        height=264 
        xMax=1}}
    </div>
  </div>
</div>



<hr>

<h3 class="header-medium" id="educational-attainment">Educational Attainment (Highest Grade Completed)</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=educationalAttainment
      model=model
    }}
  </div>
  <div class="cell large-4">
    <div class="callout">
      {{acs-bar 
        config=educationalAttainmentChartConfig 
        data=model.y2012_2016 
        height=210 
        xMax=1}}
    </div>
  </div>
</div>

<hr>

<h3 class="header-medium" id="veteran-status">Veteran Status</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=veteranStatus
      model=model
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="disability-status-of-the-civilian-noninstitutionalized-population">Disability Status Of The Civilian Noninstitutionalized Population</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=disabilityStatusOfCnp
      model=model
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="residence-1-year-ago">Residence 1 Year Ago</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=residence1YearAgo
      model=model
    }}
  </div>
  <div class="cell large-4">
    <div class="callout">
      {{acs-bar 
        config=residence1YearAgoChartConfig 
        data=model.y2012_2016 
        height=236 
        xMax=1}}
    </div>
  </div>
</div>

<hr>

<h3 class="header-medium" id="place-of-birth">Place Of Birth</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=placeOfBirth
      model=model
    }}
  </div>
  <div class="cell large-4">
    <div class="callout">
      <h4>Place of Birth</h4>
      {{acs-bar 
        config=placeOfBirthChartConfig 
        data=model.y2012_2016 
        height=210 
        xMax=1}}
      <h4>Foreign Born</h4>
      {{acs-bar 
        config=foreignBornChartConfig 
        data=model.y2012_2016 
        height=236 
        xMax=1}}

    </div>
  </div>
</div>

<hr>

<h3 class="header-medium" id="us-citizenship-status">U.S. Citizenship Status</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=citizenshipStatus
      model=model
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="year-of-entry">Year Of Entry</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=yearOfEntry
      model=model
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="language-spoken-at-home">Language Spoken At Home</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=languageSpokenAtHome
      model=model
    }}
  </div>
</div>

<hr>

<h3 class="header-medium" id="ancestry">Ancestry</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{data-table
      options=profile
      mode=profile.mode
      reliability=profile.reliability
      comparison=profile.comparison
      config=ancestry
      model=model
    }}
  </div>
</div>

{{profile-footer}}

{{outlet}}
