<div class="layer-group-toggle-header layer-{{dasherize this.label}}">
  <div class="switch tiny float-left">
    <input class="switch-input" type="checkbox" checked={{if this.active 'checked'}}>
    <label class="switch-paddle">
      <span class="show-for-sr">Toggle Layer Group</span>
    </label>
  </div>
  <span class="layer-group-toggle-label" role="button">
    {{this.label}}
  </span>
  {{!-- <div class="grid-x">
    <div class="cell">
      <div class="switch tiny float-left">
        <input class="switch-input" type="checkbox" checked={{if this.active 'checked'}}>
        <label {{action 'toggle'}} class="switch-paddle">
          <span class="show-for-sr">Toggle Layer Group</span>
        </label>
      </div>
      <span {{action 'toggle' preventDefault=false}} class="layer-group-toggle-label" role="button">
        {{this.label}}
      </span>
    </div>
  </div> --}}
</div>
{{#if this.active}}
  <div class="layer-group-toggle-content">
    {{yield}}
  </div>
{{/if}}
