{{!-- <a class='button tiny gray text-orange text-weight-normal' {{action 'exportTableToCSV'}}>{{fa-icon 'download'}} Download Data <small>(CSV)</small></a> --}}

<button
  class="topic-select-toggle button gray expanded no-margin"
  style="padding-right: 0;"
  role="button"
  {{on "click" this.toggleOpen}}
>
  <div class="grid-x full">
    <div class="cell small-11">
      Download Selected Tables
      <span class="orange-bar-notification-count">
        {{this.numSelected}}
      </span>
    </div>
  </div>
</button>

{{#if this.open}}
  <div class="download-data-dropdown">
    <div class="download-data-dropdown-head">
      Data Download Summary
    </div>
    <div class="download-data-dropdown-body">
      <p class="head">Data Source</p>
      <p class="source-label">{{this.source.label}}</p>
      <p class="head">Topics</p>
      {{#if (eq this.source.type 'acs')}}
        {{#each this.selectedTopicsList as |topic|}}
          <p><strong>{{topic.label}}:</strong></p>
          {{#each topic.children as |subtopic|}}
            {{#if subtopic.selected}}
              <p class="subtopic">{{subtopic.label}}</p>
            {{/if}}
          {{/each}}
        {{/each}}
      {{else}}
        {{#each @topics as |topic|}}
          {{#if topic.selected}}
            <p>{{topic.label}}</p>
          {{/if}}
        {{/each}}
      {{/if}}
    </div>
    <div class="download-data-dropdown-foot" {{on "click" this.exportTableToCSV}}>
      {{fa-icon icon='arrow-alt-circle-down' prefix='far' class='white'}} Download Data <span class="small">(.csv)</span>
    </div>
  </div>
{{/if}}
