<div class="bar-item">
  {{#if (and
    (or
      (eq @mode 'current')
      (eq @mode 'previous')
    )
    @comparisonGeoOptions
    @comparisonGeo
  )}}
    <div class="grid-container fluid nowrap">
      <div class="grid-x align-middle">
        <div class="cell small-11">
          <ComparisonAreaSelector
            @comparisonGeoOptions={{@comparisonGeoOptions}}
            @comparisonGeo={{@comparisonGeo}}
            @onSelect={{@updateCompareTo}}
          />
        </div>
      </div>
    </div>
  {{/if}}
</div>

<div class="bar-item">
  {{#if this.isAcsDataSource}}
    <div class="cell small-2" {{on "click" (fn @toggleBooleanControl 'showReliability')}}>
      <span>
        {{#if @showReliability}}
          {{fa-icon icon='check-square' prefix='far' fixedWidth=true}}
        {{else}}
          {{fa-icon icon='square' prefix='far' fixedWidth=true}}
        {{/if}}
      </span>
      Show Reliability Data
    </div>
  {{/if}}
</div>

<div class="bar-item">
  <div class="cell small-2" {{on "click" (fn @toggleBooleanControl 'showCharts')}}>
    <span>
      {{#if @showCharts}}
        {{fa-icon icon='check-square' prefix='far' fixedWidth=true}}
      {{else}}
        {{fa-icon icon='square' prefix='far' fixedWidth=true}}
      {{/if}}
    </span>
    Show Charts
  </div>
</div>