<button
  class="source-select-toggle button gray expanded no-margin"
  role="button"
  {{on "click" this.toggleOpen}}
>
  <div class="grid-x full">
    <div class="cell small-11">
      Data Source:
      <span class="selected-source">
        {{this.source.label}}
      </span>
    </div>
    <div class="cell auto">
      {{fa-icon icon=(if this.open 'caret-up' 'caret-down')}}
    </div>
  </div>
</button>

{{#if this.open}}
  <div class="source-menu">
    {{#each @sources key="id" as |source|}}
      <div
        class="nestable-list-item grid-x clickable"
        {{on "click" (fn this.onSourceToggle source.id)}}
      >
        <div class="cell small-1">
          <span class="dcp-orange">
            {{#if source.selected}}
              {{fa-icon icon='dot-circle' prefix='far'}}
            {{else}}
              {{fa-icon icon='circle' prefix='far' class='silver'}}
            {{/if}}
          </span>
        </div>

        <div class="cell auto">
          {{source.label}}
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
