<div
  class="bar-item"
>
  <button
    class="topic-select-toggle button gray expanded no-margin"
    role="button"
    {{on "click" this.toggleOpen}}
  >
    <div class="grid-x full">
      <div class="cell small-11">
        Select Topics:
        <span class="topic-count">
          {{this.numSelected}} Selected
        </span>
      </div>
      <div class="cell auto">
        {{fa-icon icon=(if this.open 'caret-up' 'caret-down')}}
      </div>
    </div>
  </button>

  {{#if this.open}}
    <div class="topic-menu">
      <div
        class="nestable-list-item grid-x topic-list-item"
      >
        <div class="cell small-1 clickable"
          {{on "click" this.toggleAllTopics}}
        >
          <span class="dcp-orange">
            {{#if this.isAllTopicsSelected}}
              {{fa-icon icon='check-square' prefix='far'}}
            {{else}}
              {{fa-icon icon='square' prefix='far'}}
            {{/if}}
          </span>
        </div>

        <div
          class="cell auto"
        >
          All Topics
        </div>
      </div>

      {{#each @topics key="id" as |topic|}}
        <Ui::NestableListItem
          @item={{topic}}
          @onItemToggle={{this.onListItemToggle}}
        />
      {{/each}}
    </div>
  {{/if}}
</div>
