{{#if (eq report.mode 'standard')}}

  <div class="callout">
    {{population-pyramid data=agePopDist}}
  </div>

  <table class="text-small">
    <thead>
      <tr>
        <th colspan="2">Sex and Age</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row-highlight">
        <td>Total population</td>
        <td class="cell-narrow">{{model.sex_and_age.pop_1.sum}}</td>
      </tr>
      <tr>
        <td>Male</td>
        <td>{{model.sex_and_age.male.sum}}</td>
      </tr>
      <tr>
        <td>Female</td>
        <td>{{model.sex_and_age.fem.sum}}</td>
      </tr>
      <tr class="row-divider"><td colspan="2"></td></tr>
      <tr>
        <td>Under 5 years</td>
        <td>{{model.sex_and_age.popu5.sum}}</td>
      </tr>
      <tr>
        <td>5 to 9 years</td>
        <td>{{model.sex_and_age.pop5t9.sum}}</td>
      </tr>
      <tr>
        <td>10 to 14 years</td>
        <td>{{model.sex_and_age.pop10t14.sum}}</td>
      </tr>
      <tr>
        <td>15 to 19 years</td>
        <td>{{model.sex_and_age.pop15t19.sum}}</td>
      </tr>
      <tr>
        <td>20 to 24 years</td>
        <td>{{model.sex_and_age.pop20t24.sum}}</td>
      </tr>
      <tr>
        <td>25 to 29 years</td>
        <td>{{model.sex_and_age.pop25t29.sum}}</td>
      </tr>
      <tr>
        <td>30 to 34 years</td>
        <td>{{model.sex_and_age.pop30t34.sum}}</td>
      </tr>
      <tr>
        <td>35 to 39 years</td>
        <td>{{model.sex_and_age.pop35t39.sum}}</td>
      </tr>
      <tr>
        <td>40 to 44 years</td>
        <td>{{model.sex_and_age.pop40t44.sum}}</td>
      </tr>
      <tr>
        <td>45 to 49 years</td>
        <td>{{model.sex_and_age.pop45t49.sum}}</td>
      </tr>
      <tr>
        <td>50 to 54 years</td>
        <td>{{model.sex_and_age.pop50t54.sum}}</td>
      </tr>
      <tr>
        <td>55 to 59 years</td>
        <td>{{model.sex_and_age.pop55t59.sum}}</td>
      </tr>
      <tr>
        <td>60 to 64 years</td>
        <td>{{model.sex_and_age.pop60t64.sum}}</td>
      </tr>
      <tr>
        <td>65 to 69 years</td>
        <td>{{model.sex_and_age.pop65t69.sum}}</td>
      </tr>
      <tr>
        <td>70 to 74 years</td>
        <td>{{model.sex_and_age.pop70t74.sum}}</td>
      </tr>
      <tr>
        <td>75 to 79 years</td>
        <td>{{model.sex_and_age.pop75t79.sum}}</td>
      </tr>
      <tr>
        <td>80 to 84 years</td>
        <td>{{model.sex_and_age.pop80t84.sum}}</td>
      </tr>
      <tr>
        <td>85 years and over</td>
        <td>{{model.sex_and_age.pop85pl.sum}}</td>
      </tr>
      <tr class="row-divider"><td colspan="2"></td></tr>
      <tr>
        <td>Under 18 years</td>
        <td>{{model.sex_and_age.popu181.sum}}</td>
      </tr>
      <tr>
        <td>65 years and over</td>
        <td>{{model.sex_and_age.pop65pl1.sum}}</td>
      </tr>
      <tr class="row-divider"><td colspan="2"></td></tr>
      <tr>
        <td>Median age (years)</td>
        <td>{{model.sex_and_age.mdage.sum}}</td>
      </tr>
      <tr class="row-divider"><td colspan="2"></td></tr>
      <tr class="row-highlight">
        <td>Under 18 years</td>
        <td>{{model.sex_and_age.popu18_2.sum}}</td>
      </tr>
      <tr>
        <td>Male</td>
        <td>{{model.sex_and_age.popu18m.sum}}</td>
      </tr>
      <tr>
        <td>Female</td>
        <td>{{model.sex_and_age.popu18f.sum}}</td>
      </tr>
      <tr class="row-divider"><td colspan="2"></td></tr>
      <tr class="row-highlight">
        <td>65 years and over</td>
        <td>{{model.sex_and_age.pop65pl2.sum}}</td>
      </tr>
      <tr>
        <td>Male</td>
        <td>{{model.sex_and_age.pop65plm.sum}}</td>
      </tr>
      <tr>
        <td>Female</td>
        <td>{{model.sex_and_age.pop65plf.sum}}</td>
      </tr>
    </tbody>
  </table>

  <table class="text-small">
    <thead>
      <tr>
        <th colspan="2">Mutually Exclusive Race/Hispanic Origin</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row-highlight">
        <td>Total population</td>
        <td class="cell-narrow">{{model.mutually_exclusive_race_hispanic_origin.pop_2.sum}}</td>
      </tr>
      <tr>
        <td>Hispanic/Latino (of any race)</td>
        <td>{{model.mutually_exclusive_race_hispanic_origin.hsp1.sum}}</td>
      </tr>
      <tr>
        <td>Not Hispanic/Latino</td>
        <td>{{model.mutually_exclusive_race_hispanic_origin.nhsp.sum}}</td>
      </tr>
      <tr>
        <td class="indented">White alone</td>
        <td>{{model.mutually_exclusive_race_hispanic_origin.wtnh.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Black or African American alone</td>
        <td>{{model.mutually_exclusive_race_hispanic_origin.blnh.sum}}</td>
      </tr>
      <tr>
        <td class="indented">American Indian and Alaska Native alone</td>
        <td>{{model.mutually_exclusive_race_hispanic_origin.aiannh.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Asian alone</td>
        <td>{{model.mutually_exclusive_race_hispanic_origin.asnnh.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Native Hawaiian and Other Pacific Islander alone</td>
        <td>{{model.mutually_exclusive_race_hispanic_origin.nhpinh.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Some other race alone</td>
        <td>{{model.mutually_exclusive_race_hispanic_origin.othnh.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Two or more races</td>
        <td>{{model.mutually_exclusive_race_hispanic_origin.rc2plnh.sum}}</td>
      </tr>
    </tbody>
  </table>

  <table class="text-small">
    <thead>
      <tr>
        <th colspan="2">Hispanic Subgroup</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row-highlight">
        <td>Hispanic/Latino</td>
        <td class="cell-narrow">{{model.hispanic_subgroup.hsp2.sum}}</td>
      </tr>
      <tr>
        <td>Mexican</td>
        <td>{{model.hispanic_subgroup.hspme.sum}}</td>
      </tr>
      <tr>
        <td>Puerto Rican</td>
        <td>{{model.hispanic_subgroup.hsppr.sum}}</td>
      </tr>
      <tr>
        <td>Cuban</td>
        <td>{{model.hispanic_subgroup.hspcub.sum}}</td>
      </tr>
      <tr>
        <td>Dominican (Dominican Republic)</td>
        <td>{{model.hispanic_subgroup.hspdom.sum}}</td>
      </tr>
      <tr>
        <td>Central American</td>
        <td>{{model.hispanic_subgroup.hspcam.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Costa Rican</td>
        <td>{{model.hispanic_subgroup.hspcr.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Guatemalan</td>
        <td>{{model.hispanic_subgroup.hspguatm.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Honduran</td>
        <td>{{model.hispanic_subgroup.hsphnd.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Nicaraguan</td>
        <td>{{model.hispanic_subgroup.hspnic.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Panamanian</td>
        <td>{{model.hispanic_subgroup.hsppan.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Salvadoran</td>
        <td>{{model.hispanic_subgroup.hspsalv.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Other Central American</td>
        <td>{{model.hispanic_subgroup.hspocam.sum}}</td>
      </tr>
      <tr>
        <td>South American</td>
        <td>{{model.hispanic_subgroup.hspsam.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Argentinean</td>
        <td>{{model.hispanic_subgroup.hsparg.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Bolivian</td>
        <td>{{model.hispanic_subgroup.hspbol.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Chilean</td>
        <td>{{model.hispanic_subgroup.hspchl.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Colombian</td>
        <td>{{model.hispanic_subgroup.hspcol.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Ecuadorian</td>
        <td>{{model.hispanic_subgroup.hspec.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Paraguayan</td>
        <td>{{model.hispanic_subgroup.hspprg.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Peruvian</td>
        <td>{{model.hispanic_subgroup.hspperu.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Uruguayan</td>
        <td>{{model.hispanic_subgroup.hspurg.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Venezuelan</td>
        <td>{{model.hispanic_subgroup.hspvnz.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Other South American</td>
        <td>{{model.hispanic_subgroup.hsposam.sum}}</td>
      </tr>
      <tr>
        <td>Other Hispanic/Latino</td>
        <td>{{model.hispanic_subgroup.hspoth.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Spaniard</td>
        <td>{{model.hispanic_subgroup.hspspnrd.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Spanish</td>
        <td>{{model.hispanic_subgroup.hspspnsh.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Spanish American</td>
        <td>{{model.hispanic_subgroup.hspspam.sum}}</td>
      </tr>
      <tr>
        <td class="indented">All other Hispanic/Latino</td>
        <td>{{model.hispanic_subgroup.hspalloth.sum}}</td>
      </tr>
    </tbody>
  </table>

  <table class="text-small">
    <thead>
      <tr>
        <th colspan="2">Asian Subgroup</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row-highlight">
        <td>Asian Alone</td>
        <td class="cell-narrow">{{model.asian_subgroup.asn1rc.sum}}</td>
      </tr>
      <tr>
        <td>East Asian</td>
        <td>{{model.asian_subgroup.asneast.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Chinese, except Taiwanese</td>
        <td>{{model.asian_subgroup.asnchinot.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Japanese</td>
        <td>{{model.asian_subgroup.asnjpn.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Korean</td>
        <td>{{model.asian_subgroup.asnkor.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Mongolian</td>
        <td>{{model.asian_subgroup.asnmgol.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Okinawan</td>
        <td>{{model.asian_subgroup.asnokinw.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Taiwanese</td>
        <td>{{model.asian_subgroup.asntwn.sum}}</td>
      </tr>
      <tr>
        <td>South Asian</td>
        <td>{{model.asian_subgroup.asnsouth.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Asian Indian</td>
        <td>{{model.asian_subgroup.asnind.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Bangladeshi</td>
        <td>{{model.asian_subgroup.asnbng.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Bhutanese</td>
        <td>{{model.asian_subgroup.asnbhutn.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Nepalese</td>
        <td>{{model.asian_subgroup.asnnepal.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Pakistani</td>
        <td>{{model.asian_subgroup.asnpak.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Sri Lankan</td>
        <td>{{model.asian_subgroup.asnsril.sum}}</td>
      </tr>
      <tr>
        <td>Southeast Asian</td>
        <td>{{model.asian_subgroup.asnseast.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Burmese</td>
        <td>{{model.asian_subgroup.asnburm.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Cambodian</td>
        <td>{{model.asian_subgroup.asncmb.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Filipino</td>
        <td>{{model.asian_subgroup.asnflp.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Hmong</td>
        <td>{{model.asian_subgroup.asnhmng.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Indonesian</td>
        <td>{{model.asian_subgroup.asnindnsn.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Laotian</td>
        <td>{{model.asian_subgroup.asnlao.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Malaysian</td>
        <td>{{model.asian_subgroup.asnmalsn.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Thai</td>
        <td>{{model.asian_subgroup.asnthai.sum}}</td>
      </tr>
      <tr>
        <td class="indented">Vietnamese</td>
        <td>{{model.asian_subgroup.asnvtn.sum}}</td>
      </tr>
      <tr>
        <td>Other Asian</td>
        <td>{{model.asian_subgroup.asnoasn.sum}}</td>
      </tr>
      <tr>
        <td>Two or more Asian</td>
        <td>{{model.asian_subgroup.asn2pl.sum}}</td>
      </tr>
    </tbody>
  </table>

{{/if}}

{{#if (eq report.mode 'change')}}

<table class="text-small">
  <thead>
    <tr>
      <th colspan="2">Header</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row-highlight">
      <td>key</td>
      <td class="cell-narrow">value</td>
    </tr>
    <tr>
      <td>key</td>
      <td>value</td>
    </tr>
  </tbody>
</table>

{{/if}}

{{outlet}}
