{{#if (eq report.mode 'current')}}

  <div class="report-header grid-x grid-margin-x align-bottom">
    <div class="cell large-7 xlarge-8">
      <h1>Demographic Profile</h1>
      <h2 class="header-small dark-gray">American Community Survey (ACS), 2011-2015 <sup>{{fa-icon 'info-circle'}}{{tooltip-on-element text="Data associated with estimates of zero, top- and bottom-coded estimates, or Coefficients of Variation (CVs) of 20% or more are grayed out to signify poor statistical reliability. Comparisons and changes over time that are not statistically significant at a 90% confidence level are also grayed out."}}</sup></h2>
    </div>
    <div class="cell large-5 xlarge-4 large-text-right">
      <p class="dark-gray text-tiny">
        ACS data are derived from a survey and are subject to sampling variability.
        Grayed values are not statistically reliable (<a href="https://www.census.gov/programs-surveys/acs/guidance.html" target="_blank">guidance on ACS data</a>).
      </p>
    </div>
  </div>

{{else}}

<div class="report-header grid-x grid-margin-x align-bottom">
  <div class="cell large-7 xlarge-8">
    <h1>Demographic Profile of Change Over&nbsp;Time</h1>
    <h2 class="header-small dark-gray">American Community Survey (ACS), 2006-2010 to 2011-2015 <sup>{{fa-icon 'info-circle'}}{{tooltip-on-element text="Data associated with estimates of zero, top- and bottom-coded estimates, or Coefficients of Variation (CVs) of 20% or more are grayed out to signify poor statistical reliability. Comparisons and changes over time that are not statistically significant at a 90% confidence level are also grayed out."}}</sup></h2>
  </div>
  <div class="cell large-5 xlarge-4 large-text-right">
    <p class="dark-gray text-tiny">
      ACS data are derived from a survey and are subject to sampling variability.
      Grayed values are not statistically reliable (<a href="https://www.census.gov/programs-surveys/acs/guidance.html" target="_blank">guidance for ACS data</a>).
    </p>
  </div>
</div>

{{/if}}{{! end report.mode = 'current' }}

<ul class="menu report-extras">
  <li><a {{action (mut report.reliability) (not report.reliability)}}>
    {{#if report.reliability}}
    <span class="dcp-orange">{{fa-icon 'check-square-o'}}</span>
    {{else}}
    <span class="dcp-orange">{{fa-icon 'square-o'}}</span>
    {{/if}}
    Reliability Data
  </a></li>
  <li><a {{action (mut report.comparison) (not report.comparison)}}>
      {{#if report.comparison}}
      <span class="dcp-orange">{{fa-icon 'check-square-o'}}</span>
      {{else}}
      <span class="dcp-orange">{{fa-icon 'square-o'}}</span>
      {{/if}}
    Comparison
  </a></li>
</ul>

    <h3>Age and Sex</h3>
    <div class="grid-x grid-margin-x">
      <div class="cell large-8">
        {{#demographic-table options=report}}
          {{#each sexAge as |row|}}
            {{demographic-table-row rowconfig=row options=report data=(get this.model.y2011_2015.sex_and_age row.data) data2=(get this.model.y2006_2010.sex_and_age row.data) }}
          {{/each}}
        {{/demographic-table}}
      </div>

      <div class="cell large-4">
        <div class="callout">
          {{population-pyramid data=agePopDist}}
        </div>
      </div>
    </div>

    <h3>Mutually Exclusive Race / Hispanic Origin</h3>
    {{#demographic-table options=report}}
      {{#each raceGroup as |row|}}
        {{demographic-table-row rowconfig=row options=report data=(get this.model.y2011_2015.mutually_exclusive_race_hispanic_origin row.data) data2=(get this.model.y2006_2010.mutually_exclusive_race_hispanic_origin row.data) }}
      {{/each}}
    {{/demographic-table}}

    <h3>Hispanic Subgroup</h3>
    {{#demographic-table options=report}}
      {{#each hispanicSubgroup as |row|}}
        {{demographic-table-row rowconfig=row options=report data=(get this.model.y2011_2015.hispanic_subgroup row.data) data2=(get this.model.y2006_2010.hispanic_subgroup row.data) }}
      {{/each}}
    {{/demographic-table}}

    <h3>Asian Subgroup</h3>
    {{#demographic-table reliability=report.reliability comparison=report.comparison scrollTable=report.scrollTable}}
      {{#each asianSubgroup as |row|}}
        {{demographic-table-row rowconfig=row options=report data=(get this.model.y2011_2015.asian_subgroup row.data) data2=(get this.model.y2006_2010.asian_subgroup row.data)}}
      {{/each}}
    {{/demographic-table}}



<a class="button tiny hollow expanded" {{action (mut report.scrollTable) (not report.scrollTable)}}>
  {{#if report.scrollTable}}
    {{fa-icon 'chevron-down'}}
  {{else}}
    {{fa-icon 'chevron-up'}}
  {{/if}}
  View {{if report.scrollTable 'More' 'Less'}}
</a>




{{!-- {{#if (eq report.mode 'change')}}


<ul class="menu report-extras">
  <li><a {{action (mut report.changeReliability) (not report.changeReliability)}}>
    {{#if report.changeReliability}}
    <span class="dcp-orange">{{fa-icon 'check-square-o'}}</span>
    {{else}}
    <span class="dcp-orange">{{fa-icon 'square-o'}}</span>
    {{/if}}
    Reliability Data
  </a></li>
  <li><a {{action (mut report.changeComparison) (not report.changeComparison)}}>
      {{#if report.changeComparison}}
      <span class="dcp-orange">{{fa-icon 'check-square-o'}}</span>
      {{else}}
      <span class="dcp-orange">{{fa-icon 'square-o'}}</span>
      {{/if}}
    Comparison
  </a></li>
</ul>

<div class="table-scroll">
  <table class="text-small {{if report.scrollTable 'table-scroll-vert'}}">
    <thead>
      <tr>
        <th rowspan="3">&nbsp;</th>
        <th colspan="2" rowspan="2" class="text-center cell-border-bottom">2006-2010</th>
        <th colspan="2" rowspan="2" class="text-center cell-border-bottom">2011-2015</th>
        {{#if report.changeComparison}}
          {{#if report.changeReliability}}
            <th colspan="12" class="text-center cell-border-bottom">Change, 2006-2010 to 2011-2015</th>
          {{else}}
            <th colspan="6" class="text-center cell-border-bottom">Change, 2006-2010 to 2011-2015</th>
          {{/if}}
        {{else}}
          {{#if report.changeReliability}}
            <th colspan="4" class="text-center cell-border-bottom">Change, 2006-2010 to 2011-2015</th>
          {{else}}
            <th colspan="2" class="text-center cell-border-bottom">Change, 2006-2010 to 2011-2015</th>
            {{/if}}
        {{/if}}
      </tr>
      <tr>
        <th colspan="{{if report.changeReliability "4" "2"}}" class="text-center cell-border-bottom">Selected Area</th>
        {{#if report.changeComparison}}
        <th colspan="{{if report.changeReliability "4" "2"}}" class="text-center cell-border-bottom">Comparison Area</th>
        <th colspan="{{if report.changeReliability "4" "2"}}" class="text-center cell-border-bottom">Difference</th>
        {{/if}}
      </tr>
      <tr>
        <th>Number</th>
        <th>Percent</th>
        <th>Number</th>
        <th>Percent</th>
        <th>Estimate</th>
        {{#if report.changeReliability}}
          <th>MOE</th>
        {{/if}}
        <th>Pct. Estimate</th>
        {{#if report.changeReliability}}
          <th>MOE</th>
        {{/if}}
        {{#if report.changeComparison}}
        <th>Estimate</th>
        {{#if report.changeReliability}}
          <th>MOE</th>
        {{/if}}
        <th>Pct. Estimate</th>
        {{#if report.changeReliability}}
          <th>MOE</th>
        {{/if}}
        <th>Estimate</th>
        {{#if report.changeReliability}}
          <th>MOE</th>
        {{/if}}
        <th>Pctg. Estimate</th>
        {{#if report.changeReliability}}
          <th>MOE</th>
        {{/if}}
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{demographic-change-table-row title="Sex and Age" classNames="table-section-header" reliability=report.changeReliability  comparison=report.changeComparison subheader=true}}

      {{demographic-change-table-row title="Total population" classNames="row-highlight" data=model.y2011_2015.sex_and_age.pop_1 data2=model.y2006_2010.sex_and_age.pop_1  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title='Male' classNames="" data=model.y2011_2015.sex_and_age.male data2=model.y2006_2010.sex_and_age.male  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title='Female' classNames="" data=model.y2011_2015.sex_and_age.fem data2=model.y2006_2010.sex_and_age.fem  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row divider=true  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Under 5 years" classNames="" data=model.y2011_2015.sex_and_age.popu5 data2=model.y2006_2010.sex_and_age.popu5  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="5 to 9 years" classNames="" data=model.y2011_2015.sex_and_age.pop5t9 data2=model.y2006_2010.sex_and_age.pop5t9  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="10 to 14 years" classNames="" data=model.y2011_2015.sex_and_age.pop10t14 data2=model.y2006_2010.sex_and_age.pop10t14 reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="15 to 19 years" classNames="" data=model.y2011_2015.sex_and_age.pop15t19 data2=model.y2006_2010.sex_and_age.pop15t19  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="20 to 24 years" classNames="" data=model.y2011_2015.sex_and_age.pop20t24 data2=model.y2006_2010.sex_and_age.pop20t24  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="25 to 29 years" classNames="" data=model.y2011_2015.sex_and_age.pop25t29 data2=model.y2006_2010.sex_and_age.pop25t29  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="30 to 34 years" classNames="" data=model.y2011_2015.sex_and_age.pop30t34 data2=model.y2006_2010.sex_and_age.pop30t34  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="35 to 39 years" classNames="" data=model.y2011_2015.sex_and_age.pop35t39 data2=model.y2006_2010.sex_and_age.pop35t39  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="40 to 44 years" classNames="" data=model.y2011_2015.sex_and_age.pop40t44 data2=model.y2006_2010.sex_and_age.pop40t44  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="45 to 49 years" classNames="" data=model.y2011_2015.sex_and_age.pop45t49 data2=model.y2006_2010.sex_and_age.pop45t49  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="50 to 54 years" classNames="" data=model.y2011_2015.sex_and_age.pop50t54 data2=model.y2006_2010.sex_and_age.pop50t54  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="55 to 59 years" classNames="" data=model.y2011_2015.sex_and_age.pop55t59 data2=model.y2006_2010.sex_and_age.pop55t59  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="60 to 64 years" classNames="" data=model.y2011_2015.sex_and_age.pop60t64 data2=model.y2006_2010.sex_and_age.pop60t64  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="65 to 69 years" classNames="" data=model.y2011_2015.sex_and_age.pop65t69 data2=model.y2006_2010.sex_and_age.pop65t69  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="70 to 74 years" classNames="" data=model.y2011_2015.sex_and_age.pop70t74 data2=model.y2006_2010.sex_and_age.pop70t74  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="75 to 79 years" classNames="" data=model.y2011_2015.sex_and_age.pop75t79 data2=model.y2006_2010.sex_and_age.pop75t79  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="80 to 84 years" classNames="" data=model.y2011_2015.sex_and_age.pop80t84 data2=model.y2006_2010.sex_and_age.pop80t84  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="85 years and over" classNames="" data=model.y2011_2015.sex_and_age.pop85pl data2=model.y2006_2010.sex_and_age.pop85pl  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row divider=true  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Under 18 years" classNames="" data=model.y2011_2015.sex_and_age.popu181 data2=model.y2006_2010.sex_and_age.popu181  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="65 years and over" classNames="" data=model.y2011_2015.sex_and_age.pop65pl1 data2=model.y2006_2010.sex_and_age.pop65pl1  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row divider=true  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Median age (years)" classNames="" data=model.y2011_2015.sex_and_age.mdage data2=model.y2006_2010.sex_and_age.mdage  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row divider=true  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Under 18 years" classNames="row-highlight" data=model.y2011_2015.sex_and_age.popu18_2 data2=model.y2006_2010.sex_and_age.popu18_2  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Male" classNames="" data=model.y2011_2015.sex_and_age.popu18m data2=model.y2006_2010.sex_and_age.popu18m  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Female" classNames="" data=model.y2011_2015.sex_and_age.popu18f data2=model.y2006_2010.sex_and_age.popu18f  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row divider=true  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="65 years and over" classNames="row-highlight" data=model.y2011_2015.sex_and_age.pop65pl2 data2=model.y2006_2010.sex_and_age.pop65pl2  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Male" classNames="" data=model.y2011_2015.sex_and_age.pop65plm data2=model.y2006_2010.sex_and_age.pop65plm  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Female" classNames="" data=model.y2011_2015.sex_and_age.pop65plf data2=model.y2006_2010.sex_and_age.pop65plf  reliability=report.changeReliability  comparison=report.changeComparison}}

      {{demographic-change-table-row title="Mutually Exclusive Race/Hispanic Origin" classNames="table-section-header" reliability=report.changeReliability  comparison=report.changeComparison subheader=true}}

      {{demographic-change-table-row title='Total population' classNames="row-highlight" data=model.y2011_2015.mutually_exclusive_race_hispanic_origin.pop_2 data2=model.y2006_2010.mutually_exclusive_race_hispanic_origin.pop_2  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Hispanic/Latino (of any race)" data=model.y2011_2015.mutually_exclusive_race_hispanic_origin.hsp1 data2=model.y2006_2010.mutually_exclusive_race_hispanic_origin.hsp1  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Not Hispanic/Latino" data=model.y2011_2015.mutually_exclusive_race_hispanic_origin.nhsp data2=model.y2006_2010.mutually_exclusive_race_hispanic_origin.nhsp  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="White alone" classNames="row-indent" data=model.y2011_2015.mutually_exclusive_race_hispanic_origin.wtnh data2=model.y2006_2010.mutually_exclusive_race_hispanic_origin.wtnh  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Black or African American Alone" classNames="row-indent" data=model.y2011_2015.mutually_exclusive_race_hispanic_origin.blnh data2=model.y2006_2010.mutually_exclusive_race_hispanic_origin.blnh  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="American Indian and Alaska Native alone" classNames="row-indent" data=model.y2011_2015.mutually_exclusive_race_hispanic_origin.aiannh data2=model.y2006_2010.mutually_exclusive_race_hispanic_origin.aiannh  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Asian alone" classNames="row-indent" data=model.y2011_2015.mutually_exclusive_race_hispanic_origin.asnnh data2=model.y2006_2010.mutually_exclusive_race_hispanic_origin.asnnh  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Native Hawaiian and Other Pacific Islander alone" classNames="row-indent" data=model.y2011_2015.mutually_exclusive_race_hispanic_origin.nhpinh data2=model.y2006_2010.mutually_exclusive_race_hispanic_origin.nhpinh  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Some other race alone" classNames="row-indent" data=model.y2011_2015.mutually_exclusive_race_hispanic_origin.othnh data2=model.y2006_2010.mutually_exclusive_race_hispanic_origin.othnh  reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Two or more races" classNames="row-indent" data=model.y2011_2015.mutually_exclusive_race_hispanic_origin.rc2plnh data2=model.y2006_2010.mutually_exclusive_race_hispanic_origin.rc2plnh  reliability=report.changeReliability  comparison=report.changeComparison}}


      {{demographic-change-table-row title="Hispanic Subgroup" classNames="table-section-header" reliability=report.changeReliability  comparison=report.changeComparison subheader=true}}

      {{demographic-change-table-row title="Hispanic/Latino" classNames="row-highlight" data=model.y2011_2015.hispanic_subgroup.hsp2 data2=model.y2006_2010.hispanic_subgroup.hsp2   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Mexican" data=model.y2011_2015.hispanic_subgroup.hspme data2=model.y2006_2010.hispanic_subgroup.hspme   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Puerto Rican" data=model.y2011_2015.hispanic_subgroup.hsppr data2=model.y2006_2010.hispanic_subgroup.hsppr   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Cuban" data=model.y2011_2015.hispanic_subgroup.hspcub data2=model.y2006_2010.hispanic_subgroup.hspcub   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Dominican (Dominican Republic)" data=model.y2011_2015.hispanic_subgroup.hspdom data2=model.y2006_2010.hispanic_subgroup.hspdom   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Central American" data=model.y2011_2015.hispanic_subgroup.hspcam data2=model.y2006_2010.hispanic_subgroup.hspcam   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Costa Rican" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hspcr data2=model.y2006_2010.hispanic_subgroup.hspcr   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Guatemalan" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hspguatm data2=model.y2006_2010.hispanic_subgroup.hspguatm   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Honduran" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hsphnd data2=model.y2006_2010.hispanic_subgroup.hsphnd   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Nicaraguan" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hspnic data2=model.y2006_2010.hispanic_subgroup.hspnic   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Panamanian" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hsppan data2=model.y2006_2010.hispanic_subgroup.hsppan   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Salvadoran" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hspsalv data2=model.y2006_2010.hispanic_subgroup.hspsalv   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Other Central American" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hspocam data2=model.y2006_2010.hispanic_subgroup.hspocam   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="South American" data=model.y2011_2015.hispanic_subgroup.hspsam data2=model.y2006_2010.hispanic_subgroup.hspsam   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Argentinean" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hsparg data2=model.y2006_2010.hispanic_subgroup.hsparg   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Bolivian" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hspbol data2=model.y2006_2010.hispanic_subgroup.hspbol   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Chilean" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hspchl data2=model.y2006_2010.hispanic_subgroup.hspchl   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Colombian" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hspcol data2=model.y2006_2010.hispanic_subgroup.hspcol   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Ecuadorian" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hspec data2=model.y2006_2010.hispanic_subgroup.hspec   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Paraguayan" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hspprg data2=model.y2006_2010.hispanic_subgroup.hspprg   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Peruvian" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hspperu data2=model.y2006_2010.hispanic_subgroup.hspperu   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Uruguayan" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hspurg data2=model.y2006_2010.hispanic_subgroup.hspurg   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Venezuelan" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hspvnz data2=model.y2006_2010.hispanic_subgroup.hspvnz   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Other South American" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hsposam data2=model.y2006_2010.hispanic_subgroup.hsposam   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Other Hispanic/Latino" data=model.y2011_2015.hispanic_subgroup.hspoth data2=model.y2006_2010.hispanic_subgroup.hspoth   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Spaniard" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hspspnrd data2=model.y2006_2010.hispanic_subgroup.hspspnrd   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Spanish" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hspspnsh data2=model.y2006_2010.hispanic_subgroup.hspspnsh   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Spanish American" classNames="row-indent" data=model.y2011_2015.hispanic_subgroup.hspspam data2=model.y2006_2010.hispanic_subgroup.hspspam   reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="All other Hispanic/Latino" data=model.y2011_2015.hispanic_subgroup.hspalloth data2=model.y2006_2010.hispanic_subgroup.hspalloth   reliability=report.changeReliability  comparison=report.changeComparison}}

      {{demographic-change-table-row title="Asian Subgroup" classNames="table-section-header" reliability=report.changeReliability  comparison=report.changeComparison subheader=true}}

      {{demographic-change-table-row title="Asian Alone" classNames="row-highlight" data=model.y2011_2015.asian_subgroup.asn1rc data2=model.y2006_2010.asian_subgroup.asn1rc reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="East Asian" data=model.y2011_2015.asian_subgroup.asneast data2=model.y2006_2010.asian_subgroup.asneast reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Chinese, except Taiwanese" data=model.y2011_2015.asian_subgroup.asnchinot data2=model.y2006_2010.asian_subgroup.asnchinot reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Japanese" data=model.y2011_2015.asian_subgroup.asnjpn data2=model.y2006_2010.asian_subgroup.asnjpn reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Korean" data=model.y2011_2015.asian_subgroup.asnkor data2=model.y2006_2010.asian_subgroup.asnkor reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Mongolian" data=model.y2011_2015.asian_subgroup.asnmgol data2=model.y2006_2010.asian_subgroup.asnmgol reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Okinawan" data=model.y2011_2015.asian_subgroup.asnokinw data2=model.y2006_2010.asian_subgroup.asnokinw reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Taiwanese" data=model.y2011_2015.asian_subgroup.asntwn data2=model.y2006_2010.asian_subgroup.asntwn reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="South Asian" data=model.y2011_2015.asian_subgroup.asnsouth data2=model.y2006_2010.asian_subgroup.asnsouth reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Asian Indian" data=model.y2011_2015.asian_subgroup.asnind data2=model.y2006_2010.asian_subgroup.asnind reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Bangladeshi" data=model.y2011_2015.asian_subgroup.asnbng data2=model.y2006_2010.asian_subgroup.asnbng reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Bhutanese" data=model.y2011_2015.asian_subgroup.asnbhutn data2=model.y2006_2010.asian_subgroup.asnbhutn reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Nepalese" data=model.y2011_2015.asian_subgroup.asnnepal data2=model.y2006_2010.asian_subgroup.asnnepal reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Pakistani" data=model.y2011_2015.asian_subgroup.asnpak data2=model.y2006_2010.asian_subgroup.asnpak reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Sri Lankan" data=model.y2011_2015.asian_subgroup.asnsril data2=model.y2006_2010.asian_subgroup.asnsril reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Southeast Asian" data=model.y2011_2015.asian_subgroup.asnseast data2=model.y2006_2010.asian_subgroup.asnseast reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Burmese" data=model.y2011_2015.asian_subgroup.asnburm data2=model.y2006_2010.asian_subgroup.asnburm reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Cambodian" data=model.y2011_2015.asian_subgroup.asncmb data2=model.y2006_2010.asian_subgroup.asncmb reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Filipino" data=model.y2011_2015.asian_subgroup.asnflp data2=model.y2006_2010.asian_subgroup.asnflp reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Hmong" data=model.y2011_2015.asian_subgroup.asnhmng data2=model.y2006_2010.asian_subgroup.asnhmng reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Indonesian" data=model.y2011_2015.asian_subgroup.asnindnsn data2=model.y2006_2010.asian_subgroup.asnindnsn reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Laotian" data=model.y2011_2015.asian_subgroup.asnlao data2=model.y2006_2010.asian_subgroup.asnlao reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Malaysian" data=model.y2011_2015.asian_subgroup.asnmalsn data2=model.y2006_2010.asian_subgroup.asnmalsn reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Thai" data=model.y2011_2015.asian_subgroup.asnthai data2=model.y2006_2010.asian_subgroup.asnthai reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row className="indented" title="Vietnamese" data=model.y2011_2015.asian_subgroup.asnvtn data2=model.y2006_2010.asian_subgroup.asnvtn reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Other Asian" data=model.y2011_2015.asian_subgroup.asnoasn data2=model.y2006_2010.asian_subgroup.asnoasn reliability=report.changeReliability  comparison=report.changeComparison}}
      {{demographic-change-table-row title="Two or more Asian" data=model.y2011_2015.asian_subgroup.asn2pl data2=model.y2006_2010.asian_subgroup.asn2pl reliability=report.changeReliability  comparison=report.changeComparison}}

    </tbody>
  </table>
</div>
<a class="button tiny hollow expanded" {{action (mut report.scrollTable) (not report.scrollTable)}}>
  {{#if report.scrollTable}}
    {{fa-icon 'chevron-down'}}
  {{else}}
    {{fa-icon 'chevron-up'}}
  {{/if}}
  View {{if report.scrollTable 'More' 'Less'}}
</a>

{{/if}}{{! end report.mode = 'change' }} --}}

{{outlet}}
