{{download-spreadsheet data=rawData}}

{{#report-header
  report=report
  title="Demographic Profile"
  mode=report.mode
}}
  <p class="text-tiny">
    ACS data are derived from a survey and are subject to sampling variability.
    Grayed values are not statistically reliable (<a href="https://www.census.gov/programs-surveys/acs/guidance.html" target="_blank">guidance for ACS data</a>).

    Data associated with estimates of zero, top- and bottom-coded estimates, or Coefficients of Variation (CVs) of 20% or more are grayed out to signify poor statistical reliability. Comparisons and changes over time that are not statistically significant at a 90% confidence level are also grayed out.
  </p>
{{/report-header}}

<ul class="menu report-extras">
  <li><a {{action (mut report.reliability) (not report.reliability)}}>
    {{#if report.reliability}}
    <span class="dcp-orange">{{fa-icon 'check-square-o'}}</span>
    {{else}}
    <span class="dcp-orange">{{fa-icon 'square-o'}}</span>
    {{/if}}
    Reliability Data
  </a></li>
  <li><a {{action (mut report.comparison) (not report.comparison)}}>
      {{#if report.comparison}}
      <span class="dcp-orange">{{fa-icon 'check-square-o'}}</span>
      {{else}}
      <span class="dcp-orange">{{fa-icon 'square-o'}}</span>
      {{/if}}
    Comparison
  </a></li>
</ul>

<hr>

<h3 class="header-medium">Age and Sex</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each sexAge as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.sex_and_age row.data)
          data2=(get this.model.y2006_2010.sex_and_age row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>

  <div class="cell large-4">
    <div class="callout">
      {{population-pyramid data=agePopDist}}
    </div>
  </div>
</div>

<hr>

<h3 class="header-medium">Mutually Exclusive Race / Hispanic Origin</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">

    {{#acs-table options=report}}
      {{#each raceGroup as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.mutually_exclusive_race_hispanic_origin row.data)
          data2=(get this.model.y2006_2010.mutually_exclusive_race_hispanic_origin row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<hr>

<h3 class="header-medium">Hispanic Subgroup</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each hispanicSubgroup as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.hispanic_subgroup row.data)
          data2=(get this.model.y2006_2010.hispanic_subgroup row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<hr>

<h3 class="header-medium">Asian Subgroup</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">

      {{#acs-table options=report}}
        {{#each asianSubgroup as |row|}} {{acs-table-row
            rowconfig=row
            options=report
            data=(get this.model.y2011_2015.asian_subgroup row.data)
            data2=(get this.model.y2006_2010.asian_subgroup row.data)
          }}
        {{/each}}
      {{/acs-table}}
  </div>
</div>


<a class="button tiny hollow expanded" {{action (mut report.scrollTable) (not report.scrollTable)}}>
  {{#if report.scrollTable}}
    {{fa-icon 'chevron-down'}}
  {{else}}
    {{fa-icon 'chevron-up'}}
  {{/if}}
  View {{if report.scrollTable 'More' 'Less'}}
</a>

{{outlet}}
