<table class="text-small">
  <thead>
    <tr>
      <th>Variable Name</th>
      <th>Description</th>
      <th>Estimate</th>
      <th>Margin of Error</th>
      <th>Percent</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.[0].values.[0].values as |row|}}
      <tr>
        <td>{{row.variable}}</td>
        <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
        <td>{{row.sum}}</td>
        <td>{{row.m}}</td>
        <td>{{row.p}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}
