{{#report-header
  report=report
  title="Economic Profile"
  data=rawData
  mode=report.mode
}}
  <p class="text-tiny">
    ACS data are derived from a survey and are subject to sampling variability.
    Grayed values are not statistically reliable (<a href="https://www.census.gov/programs-surveys/acs/guidance.html" target="_blank">guidance on ACS data</a>).

    Data associated with estimates of zero, top- and bottom-coded estimates, or Coefficients of Variation (CVs) of 20% or more are grayed out to signify poor statistical reliability. Comparisons and changes over time that are not statistically significant at a 90% confidence level are also grayed out.
  </p>
{{/report-header}}

<hr>

<h3 class="header-medium">Employment Status</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each employmentStatus as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.employment_status row.data)
          data2=(get this.model.y2006_2010.employment_status row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<hr>

<h3 class="header-medium">Commute to Work</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each commuteToWork as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.commute_to_work row.data)
          data2=(get this.model.y2006_2010.commute_to_work row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<hr>

<h3 class="header-medium">Occupation</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each occupation as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.occupation row.data)
          data2=(get this.model.y2006_2010.occupation row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<hr>

<h3 class="header-medium">Industry</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each industry as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.industry row.data)
          data2=(get this.model.y2006_2010.industry row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<hr>

<h3 class="header-medium">Class of Worker</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each classOfWorker as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.class_of_worker row.data)
          data2=(get this.model.y2006_2010.class_of_worker row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<hr>

<h3 class="header-medium">Income and Benefits</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each incomeAndBenefits as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.income_and_benefits row.data)
          data2=(get this.model.y2006_2010.income_and_benefits row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<hr>

<h3 class="header-medium">Earnings</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each earnings as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.earnings row.data)
          data2=(get this.model.y2006_2010.earnings row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<hr>

<h3 class="header-medium">Health Insurance Coverage</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each healthInsuranceCoverage as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.health_insurance_coverage row.data)
          data2=(get this.model.y2006_2010.health_insurance_coverage row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<hr>

<h3 class="header-medium">Income in the Past 12 Months Below Poverty Level</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each incomePast12MonthsBelowPoverty as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.income_in_past_12_months_is_below_the_poverty_level row.data)
          data2=(get this.model.y2006_2010.income_in_past_12_months_is_below_the_poverty_level row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<hr>

<h3 class="header-medium">Ratio of Income to Poverty Level</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each ratioOfIncomeToPovertyLevel as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.ratio_of_income_to_poverty_level row.data)
          data2=(get this.model.y2006_2010.ratio_of_income_to_poverty_level row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

{{outlet}}
