{{#report-header
  title=(if (eq report.mode 'current') "Economic Profile" "Economic Profile of Change Over Time")
  subtitle=(if (eq report.mode 'current') "American Community Survey (ACS), 2011-2015" "American Community Survey (ACS), 2006-2010 to 2011-2015")
  subtitleInfo="Data associated with estimates of zero, top- and bottom-coded estimates, or Coefficients of Variation (CVs) of 20% or more are grayed out to signify poor statistical reliability. Comparisons and changes over time that are not statistically significant at a 90% confidence level are also grayed out."
}}
  <p class="dark-gray- text-tiny"><em>
    ACS data are derived from a survey and are subject to sampling variability.
    Grayed values are not statistically reliable (<a href="https://www.census.gov/programs-surveys/acs/guidance.html" target="_blank">guidance for ACS data</a>).
  </em></p>
{{/report-header}}

<ul class="menu report-extras">
  <li><a {{action (mut report.reliability) (not report.reliability)}}>
    {{#if report.reliability}}
    <span class="dcp-orange">{{fa-icon 'check-square-o'}}</span>
    {{else}}
    <span class="dcp-orange">{{fa-icon 'square-o'}}</span>
    {{/if}}
    Reliability Data
  </a></li>
  <li><a {{action (mut report.comparison) (not report.comparison)}}>
      {{#if report.comparison}}
      <span class="dcp-orange">{{fa-icon 'check-square-o'}}</span>
      {{else}}
      <span class="dcp-orange">{{fa-icon 'square-o'}}</span>
      {{/if}}
    Comparison
  </a></li>
</ul>

<h3>Employment Status</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each employmentStatus as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.employment_status row.data)
          data2=(get this.model.y2006_2010.employment_status row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<h3>Commute to Work</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each commuteToWork as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.commute_to_work row.data)
          data2=(get this.model.y2006_2010.commute_to_work row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<h3>Occupation</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each occupation as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.occupation row.data)
          data2=(get this.model.y2006_2010.occupation row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<h3>Industry</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each industry as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.industry row.data)
          data2=(get this.model.y2006_2010.industry row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<h3>Class of Worker</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each classOfWorker as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.class_of_worker row.data)
          data2=(get this.model.y2006_2010.class_of_worker row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<h3>Income and Benefits</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each incomeAndBenefits as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.income_and_benefits row.data)
          data2=(get this.model.y2006_2010.income_and_benefits row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<h3>Earnings</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each earnings as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.earnings row.data)
          data2=(get this.model.y2006_2010.earnings row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<h3>Health Insurance Coverage</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each healthInsuranceCoverage as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.health_insurance_coverage row.data)
          data2=(get this.model.y2006_2010.health_insurance_coverage row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<h3>Income in the Past 12 Months Below Poverty Level</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each incomePast12MonthsBelowPoverty as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.income_in_past_12_months_is_below_the_poverty_level row.data)
          data2=(get this.model.y2006_2010.income_in_past_12_months_is_below_the_poverty_level row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>

<h3>Ratio of Income to Poverty Level</h3>
<div class="grid-x grid-margin-x">
  <div class="cell large-8">
    {{#acs-table options=report}}
      {{#each ratioOfIncomeToPovertyLevel as |row|}}
        {{acs-table-row
          rowconfig=row
          options=report
          data=(get this.model.y2011_2015.ratio_of_income_to_poverty_level row.data)
          data2=(get this.model.y2006_2010.ratio_of_income_to_poverty_level row.data)
        }}
      {{/each}}
    {{/acs-table}}
  </div>
</div>


{{outlet}}
