<div
  class="nestable-list-item grid-x {{if this.hasChildren 'clickable'}} {{@item.type}}-list-item"
>
  <div class="cell small-1"
    {{action (mut @item.selected) (not @item.selected)}}
  >
    <span class="dcp-orange">
      {{#if @item.selected}}
        {{fa-icon icon='check-square' prefix='far'}}
      {{else}}
        {{fa-icon icon='square' prefix='far'}}
      {{/if}}
    </span>
  </div>

  <div
    class="cell auto"
    {{action (mut this.open) (not this.open)}}
  >
    {{@item.label}}
  </div>

  <div class="cell small-1"
    {{action (mut this.open) (not this.open)}}
  >
    {{#if this.hasChildren}}
      {{fa-icon icon=(if this.open 'caret-up' 'caret-down')}}
    {{/if}}
  </div>

  {{#if this.open}}
    <div class="cell small-12">
      {{#each @item.children as |child|}}
        <Ui::NestableListItem
          @item={{child}}
        />
      {{/each}}
    </div>
  {{/if}}
</div>
