{{#labs-ui/site-header
responsiveNav=true
responsiveSize='large'
as |banner|
}}
{{#banner.title}}
  {{#link-to 'index' classNames='site-title'}}Population FactFinder{{/link-to}}
{{/banner.title}}
{{#banner.nav}}
	<ul class="vertical large-horizontal menu">
	  <li>{{link-to 'About' 'about' invokeAction=(action (mut closed))}}</li>
	  <li>{{link-to 'Tutorial' 'tutorial' invokeAction=(action (mut closed))}}</li>
	  <li>{{link-to 'Features' 'features' invokeAction=(action (mut closed))}}</li>
	  <li>{{link-to 'Data' 'data' invokeAction=(action (mut closed))}}</li>
	  <li class="external-nav-item"><a href="mailto:pff_dl@planning.nyc.gov?subject=Population%20FactFinder%20Feedback">{{fa-icon "envelope" prefix="far" transform='grow-4'}}</a></li>
	</ul>
{{/banner.nav}}
{{/labs-ui/site-header}}

<div class="site-main">
  {{outlet}}
</div>
