<LabsUi::SiteHeader @responsiveNav={{true}} @responsiveSize="large" as |banner|>
<banner.title>
  {{#link-to 'index' classNames='site-title'}}Population FactFinder{{/link-to}}
</banner.title>
<banner.nav>
  <ul class="vertical large-horizontal menu">
    <li>
      {{#link-to
          'about'
          class=(if (eq this.router.currentRouteName "about") "active-route")
      }}
        About
      {{/link-to}}
    </li>
    <li>
      {{#link-to
        'index'
        class=(if (eq this.router.currentRouteName "index") "active-route")
      }}
        {{fa-icon icon="map" prefix="fa" transform='grow-4'}}
        Map
      {{/link-to}}
    </li>
    <li>
      <a href="/explorer/cities/NYC?compareTo=1"
        class={{(if (eq this.router.currentRouteName "explorer") "active-route")}}
      >
        {{fa-icon icon="search" prefix="fa" transform='grow-4'}}
        Data Explorer
      </a>
    </li>
    <li class="external-nav-item">
      <a href="mailto:pff_dl@planning.nyc.gov?subject=Population%20FactFinder%20Feedback">{{fa-icon "envelope" prefix="far" transform='grow-4'}}</a>
    </li>
  </ul>
</banner.nav>
</LabsUi::SiteHeader>

<div class="site-main">
  {{outlet}}
</div>

<div id="reveal-modal-container">
  {{!--
    The default-modal is open/visible when the app is loaded
    Uncomment the following component to enable the modal
    Change its content in ./components/default-modal.hbs
  --}}
  {{default-modal}}
</div>
