<div class="info-banner"><p>In an effort to better serve the needs of users like you, we'd like to hear from you about how we can improve services like this site.&nbsp;</p><a href="https://cdn.forms-content.sg-form.com/baf12d06-9871-11ee-a52c-aee1d8d80675" target="_blank">Click here to sign up.</a></div>
<LabsUi::SiteHeader @responsiveNav={{true}} @responsiveSize="large" as |banner|>
<banner.title>
  {{#link-to 'index'}}Population FactFinder{{/link-to}}
</banner.title>
<banner.nav>
  <ul class="vertical large-horizontal menu">
    <li>
      {{#link-to
          'about'
          class=(if (eq this.router.currentRouteName "about") "active-route")
      }}
        About
      {{/link-to}}
    </li>
    <li>
      {{#link-to
        'index'
        class=(if (eq this.router.currentRouteName "index") "active-route")
      }}
        {{fa-icon icon="map" prefix="fa"}}
        Map
      {{/link-to}}
    </li>
    <li>
      {{#link-to
        'explorer' 'cities' 'NYC' (if (this.currentCompareTo) (query-params compareTo=this.currentCompareTo) (query-params compareTo="1"))
        class=(if (eq this.router.currentRouteName "explorer") "active-route")
      }}
        {{fa-icon icon="search" prefix="fa"}}
        Data Explorer
      {{/link-to}}
    </li>
    <li class="external-nav-item">
      <a href="mailto:pff_dl@planning.nyc.gov?subject=Population%20FactFinder%20Feedback">{{fa-icon "envelope" prefix="far" transform='grow-4'}}</a>
    </li>
  </ul>
</banner.nav>
</LabsUi::SiteHeader>

<div class="site-main">
  {{outlet}}
</div>

<div id="reveal-modal-container">
  {{!--
    The default-modal is open/visible when the app is loaded
    Uncomment the following component to enable the modal
    Change its content in ./components/default-modal.hbs
  --}}
  {{!-- {{default-modal}} --}}
</div>
