<div class="overflow-y-grid grid-padding-x grid-padding-y">
  <div class="cell auto" id="profile-content">

    <div class="grid-container" style="max-width:65em;">
      <div class="grid-x grid-padding-x">
        <div class="cell large-9">

          <h1>Data Sources</h1>

          <ul>

            <li>
              <h4 class="header-medium no-margin">Decennial Census</h4>
              <p>
                <span style="display:block;" class="dark-gray"><strong>Every ten years the U. S. Census Bureau conducts a decennial census, primarily for purposes of congressional reapportionment. These censuses count every person in the country and collect only the most basic demographic and housing characteristics (like, age, sex, race, and housing tenure). The decennial census provides the most accurate and detailed understanding about the count and distribution of the U. S. population. It is also important to note that private information (such as names and addresses) collected through the census is protected under Title 13 of U. S. Code. To ensure census participant confidentiality, data are never published below the block-level. Consequently, census blocks are the smallest geography used in New York City Population FactFinder (PFF). Beyond census blocks, PFF also re-publishes decennial census data from 2000 and 2010 at the census tract-, Neighborhood Tabulation Area-, and Public Use Microdata Area-levels.</strong></span>
                <span style="display:block;" class="dark-gray text-small">Updated in Fact Finder: November 2017</span>
              </p>
            </li>
            <li>
              <h4 class="header-medium no-margin">American Community Survey</h4>
              <p>
                <span style="display:block;" class="dark-gray"><strong>The American Community Survey (ACS) is the most extensive nationwide survey currently available. From its annual releases we are able to examine the city’s detailed demographic, social, economic, and housing characteristics. Each month, questionnaires are sent to a sample of approximately 300,000 addresses across the country, so households are continuously receiving and responding to the ACS. In order to have a large enough sample from which to create estimates of characteristics for small areas, the ACS “rolls-up” the sample for five-year periods. New York City Population FactFinder (PFF) relies on these five-year period estimates to produce all of its ACS profile content. Because these estimates span a five-year period, they are represented with a start-year and end-year (for example, 2014-2018). These do not represent change over that five-year period, but rather something akin to a five-year average. It is also important to note that ACS estimates are derived from a survey and are subject to sampling error. Consequently, all ACS estimates are published with Margins of Error (MOEs) at a 90% confidence interval. These MOEs are available in PFF in data reliability views. ACS data in PFF are available at census tract-, Neighborhood Tabulation Area-, and Public Use Microdata Area-levels.</strong></span>
                <span style="display:block;" class="dark-gray text-small">Updated in Fact Finder: February 2020</span>
              </p>
            </li>
            {{#each model as |layerGroup|}}
              {{#if layerGroup.meta}}
                <li>
                  <h4 class="header-medium no-margin">{{layerGroup.title}}</h4>
                  <p>
                    {{#if layerGroup.meta.description}}
                      <span style="display:block;" class="dark-gray"><strong>{{layerGroup.meta.description}}</strong></span>
                    {{/if}}
                    {{#if layerGroup.meta.url}}
                      {{#each layerGroup.meta.url as |url|}}
                        <span style="display:block;" class="no-margin"><a href="{{url}}" target="_blank" rel="noopener noreferrer">{{fa-icon icon='external-link-alt'}} {{url}}</a></span>
                      {{/each}}
                    {{/if}}
                    {{#if layerGroup.meta.updated_at}}
                      <span style="display:block;" class="dark-gray text-small">Updated in Population FactFinder: {{layerGroup.meta.updated_at}}</span>
                    {{/if}}
                  </p>
                </li>
              {{/if}}
            {{/each}}
          </ul>

          {{outlet}}

        </div>
      </div>

    </div>

  </div>
</div>
