<OrangeBar>
  <OrangeBarDataExplorer
    @topics={{this.topics}}
    @setTopics={{this.setTopics}}
  />
</OrangeBar>

<div class="overflow-y-grid grid-padding-x" id="explorer-wrapper">
  <div class="cell auto" id="explorer-content">
    {{data-table
      mode='current'
      reliability=false
      comparison=false
      config=this.rowConfigs.sexAndAge
      model=@model.profile
    }}

    {{data-table
      mode='current'
      reliability=false
      comparison=false
      config=this.rowConfigs.mutuallyExclusiveRaceHispanicOrigin
      model=@model.profile
    }}

    {{data-table
      mode='current'
      reliability=false
      comparison=false
      config=this.rowConfigs.hispanicSubgroup
      model=@model.profile
    }}

    {{data-table
      mode='current'
      reliability=false
      comparison=false
      config=this.rowConfigs.asianSubgroup
      model=@model.profile
    }}
  </div>
</div>
