<OrangeBar>
  <OrangeBarDataExplorer
    @mode={{this.mode}}
    @topics={{this.topics}}
    @toggleTopic={{this.toggleTopic}}
    @toggleAllTopics={{this.toggleAllTopics}}
    @sources={{this.sources}}
    @setSource={{this.setSource}}
    @showReliability={{this.showReliability}}
    @toggleReliability={{this.toggleReliability}}
    @showCharts={{this.showCharts}}
    @comparisonGeoOptions={{this.model.comparisonGeoOptions}}
    @comparisonGeo={{this.comparisonGeo}}
    @toggleBooleanControl={{this.toggleBooleanControl}}
    @updateCompareTo={{this.updateCompareTo}}
    @isModelLoading={{this.reloadExplorerModel.isRunning}}
    @geotype={{this.model.selection.type}}
  />
</OrangeBar>

<div class="overflow-y-grid grid-padding-x">
  <div class="cell auto" id="explorer-wrapper">
    <br>

    <h1>
      Your Data:
    </h1>

    <div class="grid-container fluid profile-geographies ">
      <div class="grid-x align-left">
        <h3 class="profile-geographies-header">
          <SelectionDetailsText
            @selectedCount={{this.selectedCount}}
            @selectedType={{this.model.selection.type}}
          />
        </h3>
        <span class="dark-gray">&nbsp;|&nbsp;</span>

        <p class="profile-geographies-list">
          <SelectGeographyList
            @sortedLabels={{this.sortedLabels}}
          />
        </p>
      </div>
    </div>

    {{#if (eq this.source.type 'census')}}
      <p>Decennial census data message to be provided</p>
    {{else}}
      <p>ACS data are derived from a survey and are subject to sampling variability. Grayed values are not statistically reliable (guidance on ACS data). </p>
    {{/if}}
    <br>
    
    {{#if (eq this.source.type 'census')}}
      {{#each this.topics as |subtopic|}}
        {{#if (eq subtopic.selected "selected")}}
          <div class="grid-x grid-margin-x">
            <div class="cell large-auto">
              <h3 class="header-medium">
                {{subtopic.label}}
              </h3>
              {{data-table
                mode=this.mode
                decennial=true
                reliability=false
                comparison=this.compareTo
                compareToLabel=this.comparisonGeo.label
                config=subtopic.tableConfig
                model=this.surveyData
                isModelLoading=this.reloadExplorerModel.isRunning
              }}
            </div>

            {{#if (and
              (or
                (eq this.source.id 'decennial-current')
                (eq this.source.id 'decennial-change')
              )
              subtopic.charts
              this.showCharts
            )}}
              <div class="cell large-4 xxlarge-3">
                {{#each subtopic.charts as |chart|}}
                  {{acs-bar
                    title=chart.chartLabel
                    config=chart.chartConfig
                    survey=this.source.type
                    data=this.surveyData
                    height=204
                  }}
                {{/each}}
              </div>
            {{/if}}
          </div>

          <hr>
        {{/if}}
      {{/each}}
    {{/if}}

    {{#if (eq this.source.type 'acs')}}
      {{#each this.topics as |topic|}}
        {{#each topic.children as |subtopic|}}
          {{#if (eq subtopic.selected "selected")}}
            <div class="grid-x grid-margin-x">
              <div class="cell large-auto">
                <h3 class="header-medium">
                  {{subtopic.label}}
                </h3>
                {{data-table
                  mode=this.mode
                  decennial=false
                  reliability=this.showReliability
                  comparison=this.compareTo
                  compareToLabel=this.comparisonGeo.label
                  config=subtopic.tableConfig
                  isModelLoading=this.reloadExplorerModel.isRunning
                  model=this.surveyData
                }}
              </div>

              {{#if (and
                (eq this.mode 'current')
                subtopic.charts
                this.showCharts
              )}}
                <div class="cell large-4 xxlarge-3">
                  {{#each subtopic.charts as |chart|}}
                    {{acs-bar
                      title=chart.chartLabel
                      config=chart.chartConfig
                      survey=this.source.type
                      data=this.surveyData
                      height=204
                    }}
                  {{/each}}
                </div>
              {{/if}}
            </div>

            <hr>
          {{/if}}
        {{/each}}
      {{/each}}
    {{/if}}
  </div>
  <div>
    <hr>
  </div>
</div>
