<Toolbar>
  <ExplorerToolbar
    @mode={{this.mode}}
    @topics={{this.topics}}
    @toggleTopic={{this.toggleTopic}}
    @toggleAllTopics={{this.toggleAllTopics}}
    @sources={{this.sources}}
    @setSource={{this.setSource}}
    @showReliability={{this.showReliability}}
    @toggleReliability={{this.toggleReliability}}
    @showCharts={{this.showCharts}}
    @comparisonGeoOptions={{this.model.comparisonGeoOptions}}
    @comparisonGeo={{this.comparisonGeo}}
    @toggleBooleanControl={{this.toggleBooleanControl}}
    @updateCompareTo={{this.updateCompareTo}}
    @isModelLoading={{this.reloadExplorerModel.isRunning}}
    @geotype={{this.model.selection.type}}
  />
</Toolbar>

<div class="overflow-y-grid grid-padding-x">
  <div class="cell auto" id="explorer-wrapper">
    <br>
    <div class="profile-geographies">
      <SelectionDetailsText
        @selectedCount={{this.selectedCount}}
        @selectedType={{this.model.selection.type}}
      />
      {{#if (eq this.model.selection.type 'boroughs')}}
        <SelectGeographyListBoroughs
          @sortedLabels={{this.sortedLabels}}
        />
      {{else if (eq this.model.selection.type 'ntas')}}
        <SelectGeographyListNtas
          @sortedLabels={{this.sortedLabels}}
        />
      {{else if (eq this.model.selection.type 'districts')}}
        <SelectGeographyListDistricts
          @sortedLabels={{this.sortedLabels}}
        />
      {{else}}
        <SelectGeographyList
          @sortedLabels={{this.sortedLabels}}
        />
      {{/if}}
    </div>

    {{#if (or
      (eq this.source.id 'decennial-current')
      (eq this.source.id 'decennial-change')
    )}}
      <p class="text-small">2020 Census data may be adjusted to protect the privacy of Census participants. Exercise caution when considering 2020 Census counts of under 300.</p>
    {{/if}}
    {{#if (eq this.source.type 'acs')}}
      <p class="text-small">
        ACS data are derived from a survey and are subject to sampling variability. Data shown in gray have poor statistical reliability (<a href="https://www.census.gov/programs-surveys/acs/guidance.html" target="_blank">guidance on ACS data</a>). 
        <span>
          {{fa-icon icon='question-circle' transform='shrink-2'}}
          {{ember-tooltip side="bottom" text='Data associated with estimates of zero, top- and bottom-coded estimate, or Coefficients of Variation (CVs) of 20% or more are grayed out to signify poor statistical reliability. Comparisons and changes over time that are not statistically significant at a 90% confidence level are also grayed out.'}}
        </span>
      </p>
      
    {{/if}}
    <div class="grid-container fluid">
      <div class="grid-x align-left">
        <div class="cell shrink">
          <div class="switch tiny show-charts-switch">
            <input
              id="show-charts-switch"
              type="checkbox"
              checked={{this.showCharts}}
              name="show-charts-switch"
              class="switch-input"
              {{on "click" (fn this.toggleBooleanControl 'showCharts')}}
            />
            <label class="switch-paddle" for="show-charts-switch">
            </label>
          </div>
        </div>
        <div class="cell shrink text-left">
          Show Charts
        </div>
      </div>
    </div>
    {{#if (eq this.source.type 'census')}}
      {{#each this.topics as |subtopic|}}
        {{#if (eq subtopic.selected "selected")}}
          <div class="grid-x grid-margin-x">
            <div class="cell large-auto">
              <h3 class="header-small">
                {{subtopic.label}}
              </h3>
              {{data-table
                mode=this.mode
                decennial=true
                reliability=false
                comparison=this.compareTo
                compareToLabel=this.comparisonGeo.label
                config=subtopic.tableConfig
                model=this.surveyData
                isModelLoading=this.reloadExplorerModel.isRunning
              }}
            </div>

            {{#if (and
              (or
                (eq this.source.id 'decennial-current')
              )
              subtopic.charts
              this.showCharts
            )}}
              <div class="cell large-4 xxlarge-3">
                {{#each subtopic.charts as |chart|}}
                  {{acs-bar
                    title=chart.chartLabel
                    config=chart.chartConfig
                    survey=this.source.type
                    mode=this.source.mode
                    data=this.surveyData
                    height=204
                  }}
                {{/each}}
              </div>
            {{/if}}
          </div>

          <hr>
        {{/if}}
      {{/each}}
    {{/if}}

    {{#if (eq this.source.type 'acs')}}
      {{#each this.topics as |topic|}}
        {{#each topic.children as |subtopic|}}
          {{#if (eq subtopic.selected "selected")}}
            <div class="grid-x grid-margin-x">
              <div class="cell large-auto">
                <h3 class="header-medium">
                  {{subtopic.label}}
                  {{#if subtopic.tooltip}}
                    <span>
                      {{fa-icon icon='question-circle' transform='shrink-2'}}
                      {{ember-tooltip
                        text=subtopic.tooltip
                        side='right'
                      }}
                    </span>
                  {{/if}}
                </h3>
                {{data-table
                  mode=this.mode
                  decennial=false
                  reliability=this.showReliability
                  comparison=this.compareTo
                  compareToLabel=this.comparisonGeo.label
                  config=subtopic.tableConfig
                  isModelLoading=this.reloadExplorerModel.isRunning
                  model=this.surveyData
                }}
              </div>

              {{#if (and
                (or
                  (eq this.source.id 'acs-current')
                  (eq this.source.id 'acs-previous')
                )
                subtopic.charts
                this.showCharts
              )}}
                <div class="cell large-4 xxlarge-3">
                  {{#each subtopic.charts as |chart|}}
                    {{acs-bar
                      title=chart.chartLabel
                      config=chart.chartConfig
                      survey=this.source.type
                      mode=this.source.mode
                      data=this.surveyData
                      height=204
                    }}
                  {{/each}}
                </div>
              {{/if}}
            </div>

            <hr>
          {{/if}}
        {{/each}}
      {{/each}}
    {{/if}}
  </div>
  <div>
    <hr>
  </div>
</div>
