<OrangeBar>
  <OrangeBarDataExplorer
    @topics={{this.topics}}
    @setTopics={{this.setTopics}}
    @sources={{this.sources}}
    @setSources={{this.setSources}}
    @showReliability={{this.showReliability}}
    @disaggregate={{this.disaggregate}}
    @compareTo={{this.compareTo}}
  />
</OrangeBar>

<div class="overflow-y-grid grid-padding-x">
  <div class="cell auto" id="explorer-wrapper">
    {{#if (eq this.source.id 'decennial')}}
      {{#each this.topics as |subtopic|}}
        {{#if subtopic.selected}}
          <div class="grid-x grid-margin-x">
            <div class="cell large-auto">
              <h3 class="header-medium">
                {{subtopic.label}}
              </h3>
              {{data-table
                mode='current'
                reliability=this.showReliability
                comparison=this.compareTo
                config=subtopic.config
                model=@model.profile
              }}
            </div>
          </div>

          <hr>
        {{/if}}
      {{/each}}
    {{/if}}

    {{#if (eq this.source.id 'acs')}}
      {{#each this.topics as |topic|}}
        {{#each topic.children as |subtopic|}}
          {{#if subtopic.selected}}
            <div class="grid-x grid-margin-x">
              <div class="cell large-auto">
                <h3 class="header-medium">
                  {{subtopic.label}}
                </h3>
                {{data-table
                  mode='current'
                  reliability=this.showReliability
                  comparison=this.compareTo
                  config=subtopic.config
                  model=@model.profile
                }}
              </div>
            </div>

            <hr>
          {{/if}}
        {{/each}}
      {{/each}}
    {{/if}}
  </div>
</div>
