{{!-- TODO: This renders before the map is ready to receive events. --}}

<Toolbar>
  {{#if this.selection.currentMapInstance}}
    <MapToolbar
      @handleDrawButtonClick={{action this.handleDrawButtonClick}}
      @handleSummaryLevelToggle={{action this.handleSummaryLevelToggle}}
      @drawMode={{this.drawMode}}
      @mode={{this.mode}}
      @lastreport={{this.lastreport}}
      @addedFile={{action this.addedFile}}
      @removedFile={{action this.removedFile}}
    />
  {{/if}}
</Toolbar>

 {{!--  TURN THIS OFF TO GET RID OF THE MAP  --}}
<div class="map-container">
  {{#if this.selection.getEntireGeoTask.isRunning}}
    <div class="spinner">
      <div class="bounce"></div>
      <div class="bounce"></div>
      <div class="bounce"></div>
    </div>
  {{/if}}
  <LabsMap 
    @id="map"
    @sources={{this.sources}}
    @initOptions={{hash
      zoom=this.zoom
      center=this.center
      hash=true
    }}
    @mapLoaded={{action this.handleMapLoad}} as |map|
  >
    <map.labs-layers @onLayerClick={{action this.handleClick}} @layerGroups={{this.model.layerGroups}} as |layers|>
      <layers.tooltip as |tooltip|>
        {{tooltip-renderer
          feature=tooltip.feature
          template=tooltip.layer.tooltipTemplate}}
      </layers.tooltip>
    </map.labs-layers>

    {{#if this.selection.currentAddress}}
      <map.source @sourceId="currentAddress" @options={{selection.addressSource}} as |source|>
        {{source.layer layer=selection.pointLayer}}
      </map.source>
    {{/if}}

    {{#if this.selection.searchResultFeature}}
      <map.source @sourceId="searchResultSource" @options={{selection.searchResultSource}} as |source|>
        {{source.layer layer=selection.searchResultLayer}}
      </map.source>
    {{/if}}

    {{#if this.selection.current}}
      <map.source @sourceId="selected-features" @options={{this.selectedSource}} as |source|>
        {{source.layer
          layer=this.selectedFillLayer
          before='place_other'}}
        {{source.layer
          before='place_other'}}
      </map.source>
    {{/if}}

    {{#if mapMouseover.highlightedFeature}}
      <map.source @sourceId="highlighted-feature" @options={{mapMouseover.highlightedFeatureSource}} as |source|>
        {{source.layer
          layer=highlightedFeature
          before='place_other'}}
      </map.source>
    {{/if}}

    {{#if customVisualOverlayLines}}
      {{#map.source
        sourceId='custom-overlay'
        options=(hash
          type='geojson'
          data=customVisualOverlayData
        ) as |source|}}
        {{source.layer
          layer=(hash
            type='line'
            layout=(hash line-cap='butt')
            paint=(hash
              line-color='rgba(255, 0, 185, 0.75)'
              line-width=(hash
                stops=(array (array 11 2) (array 13 4))
              )
              line-dasharray=(array 0.75 2)
            )
          )
          before='place_village'
        }}
        {{source.layer
          layer=(hash
            type='line'
            layout=(hash line-cap='butt')
            paint=(hash
              line-color='rgba(255, 0, 185, 0.05)'
              line-width=(hash
                stops=(array (array 11 4) (array 13 8))
              )
            )
          )
          before='place_village'
        }}
      {{/map.source}}
    {{/if}}

    {{#if customVisualOverlayPoints}}
      {{#map.source
        sourceId='custom-overlay'
        options=(hash
          type='geojson'
          data=customVisualOverlayData
        ) as |source|}}
        {{source.layer
          layer=(hash
            type='circle'
            paint=(hash
              circle-color='rgba(255, 0, 185, 1)'
              circle-radius=(hash
                stops=(array (array 9 2) (array 14 3) (array 16 4))
              )
              circle-stroke-color='rgba(230, 0, 167, 1)'
              circle-stroke-width=(hash
                stops=(array (array 9 1) (array 14 2) (array 16 3))
              )
            )
          )
          before='place_village'}}

      {{/map.source}}
    {{/if}}

    {{map.on 'draw.modechange' (action this.handleDrawModeChange)}}
    {{map.on 'draw.create' (action this.handleDrawCreate)}}

  </LabsMap>
</div>

<MapUtilityBox
  @lastreport={{lastreport}}
  @mode={{this.mode}}
  @drawMode={{this.drawMode}}
  @handleDrawButtonClick={{action this.handleDrawButtonClick}}
>
</MapUtilityBox>

{{outlet}}

<DefaultModal @openModal={{this.openModal}} @toggleModal={{this.toggleModal}} />
