<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">SELECTION TOOLS: </li>
      <li><a {{action (mut mode) 'map-polygon-utility'}} href="#">Polygon</a></li>
      <li><a {{action (mut mode) 'map-point-radius-utility'}} href="#">Point / Radius</a></li>
      <li><a {{action (mut mode) 'map-neighborhood-utility'}} href="#">Neighborhood</a></li>
      <li><a {{action (mut mode) 'map-puma-utility'}} href="#">PUMA</a></li>
      <li><a {{action (mut mode) 'map-borough-utility'}} href="#">Borough</a></li>
      <li><a href="#">Advanced</a></li>
    </ul>
  </div>
</div>

{{#jane-maps
  id='map'
  sources=sources
  initOptions=(hash style='mapbox://styles/mapbox/light-v9'
                    zoom=zoom
                    center=center
                    hash=true)
  as |map|}}

  {{map.layer-group config=layerGroups.subway visible=true}}

  {{map-utility-box mode=mode summaryLevel=summaryLevel}}

  {{map.layer-group config=layerGroups.censusBlocks visible=(eq summaryLevel 'blocks')}}

  {{map.layer-group config=layerGroups.censusTracts visible=(or (eq summaryLevel 'tracts') (eq summaryLevel 'blocks'))}}

  {{map.layer-group config=layerGroups.neighborhoodTabulationAreas visible=false}}


  {{#if selection.current}}
    {{#map.source
      sourceId='selected-features'
      options=selectedSource as |source|}}
      {{source.layer
        layer=selectedFillLayer
        before='waterway-label'}}
      {{source.layer
        layer=selectedLineLayer
        before='waterway-label'}}
    {{/map.source}}
  {{/if}}

  {{map.on 'click' (action 'handleClick')}}

{{/jane-maps}}

{{outlet}}
