<ul class="menu align-center menu--selector">
  <li class="{{if (eq selection.summaryLevel 'tracts') 'active'}}">
    <a href="#" {{action 'handleSummaryLevelToggle' 'tracts'}}><span class="show-for-medium">Census </span>Tract</a>
  </li>
  <li class="{{if (eq selection.summaryLevel 'blocks') 'active'}}">
    <a href="#" {{action 'handleSummaryLevelToggle' 'blocks'}}><span class="show-for-medium">Census </span>Block</a>
  </li>
  <li class="{{if (eq selection.summaryLevel 'ntas') 'active'}}">
    <a href="#" {{action 'handleSummaryLevelToggle' 'ntas'}}>Neighborhood</a>
  </li>
  <li class="{{if (eq selection.summaryLevel 'pumas') 'active'}}">
    <a href="#" {{action 'handleSummaryLevelToggle' 'pumas'}}>PUMA</a>
  </li>
</ul>

<div class="map-container">
  {{#jane-maps
    id='map'
    sources=sources
    initOptions=(hash style='mapbox://styles/mapbox/light-v9'
                      zoom=zoom
                      center=center
                      hash=true)
    mapLoaded=(action 'handleMapLoad')
    as |map|}}

    {{map.layer-group config=layerGroups.subway visible=false}}

    {{map.layer-group config=layerGroups.censusBlocks visible=(eq selection.summaryLevel 'blocks')}}

    {{map.layer-group config=layerGroups.censusTracts visible=(or (eq selection.summaryLevel 'tracts') (eq selection.summaryLevel 'blocks'))}}

    {{map.layer-group config=layerGroups.neighborhoodTabulationAreas visible=(eq selection.summaryLevel 'ntas')}}

    {{map.layer-group config=layerGroups.nycPumas visible=(eq selection.summaryLevel 'pumas')}}


    {{#if selection.current}}
      {{#map.source
        sourceId='selected-features'
        options=selectedSource as |source|}}
        {{source.layer
          layer=selectedFillLayer
          before='waterway-label'}}
        {{source.layer
          layer=selectedLineLayer
          before='waterway-label'}}
      {{/map.source}}
    {{/if}}

    {{#if mapMouseover.highlightedFeature}}
      {{#map.source
        sourceId='highlighted-feature'
        options=mapMouseover.highlightedFeatureSource as |source|}}
        {{source.layer
          layer=highlightedFeature
          before='waterway-label'}}
      {{/map.source}}
    {{/if}}

    {{map.on 'click' (action 'handleClick')}}
    {{map.on 'mousemove' (action 'handleMousemove')}}

  {{/jane-maps}}
</div>

{{map-utility-box mode=mode}}

{{outlet}}
