<ul class="menu menu--selector">
  <li><a {{action (mut mode) 'map-census-block'}} href="#">Census Block</a></li>
  <li><a {{action (mut mode) 'map-census-tract'}} href="#">Census Tract</a></li>
  <li><a {{action (mut mode) 'map-neighborhood-utility'}} href="#">Neighborhood</a></li>
  <li><a {{action (mut mode) 'map-puma-utility'}} href="#">PUMA</a></li>
</ul>

<div class="map-container">
  {{#jane-maps
    id='map'
    sources=sources
    initOptions=(hash style='mapbox://styles/mapbox/light-v9'
                      zoom=zoom
                      center=center
                      hash=true)
    as |map|}}

    {{map.layer-group config=layerGroups.subway visible=true}}
  {{/jane-maps}}
</div>

{{map-utility-box mode=mode}}

{{outlet}}
