<div class="overflow-y-grid grid-padding-x">
  <div class="cell shrink">
    <div class="profile-menus">
      <ul class="menu tabs vertical medium-horizontal text-center">
        <li class="has-dropdown">
          {{link-to 'Census' 'profile.census'}}
          {{#tab-dropdown}}
            <li><a href="#section">Section</a></li>
          {{/tab-dropdown}}
        </li>
        {{#if (eq summaryLevel 'blocks')}}
          <li><a class="disabled">Demographic <small>(ACS)</small> <sup class="warning">{{fa-icon 'warning'}}{{tooltip-on-element text="ACS data not available at block level."}}</sup></a></li>
          <li><a class="disabled">Social <small>(ACS)</small> <sup class="warning">{{fa-icon 'warning'}}{{tooltip-on-element text="ACS data not available at block level."}}</sup></a></li>
          <li><a class="disabled">Economic <small>(ACS)</small> <sup class="warning">{{fa-icon 'warning'}}{{tooltip-on-element text="ACS data not available at block level."}}</sup></a></li>
          <li><a class="disabled">Housing <small>(ACS)</small> <sup class="warning">{{fa-icon 'warning'}}{{tooltip-on-element text="ACS data not available at block level."}}</sup></a></li>
        {{else}}
          <li class="has-dropdown">
            {{#link-to 'profile.demographic'}}Demographic  <small>(ACS)</small>{{/link-to}}
            {{#tab-dropdown}}
              <li><a href="#age-and-sex">Age and Sex</a></li>
              <li><a href="#mutually-exclusive-race-hispanic-origin">Mutually Exclusive Race / Hispanic Origin</a></li>
              <li><a href="#hispanic-subgroup">Hispanic Subgroup</a></li>
              <li><a href="#asian-subgroup">Asian Subgroup</a></li>
            {{/tab-dropdown}}
          </li>
          <li class="has-dropdown">
            {{#link-to 'profile.social'}}Social  <small>(ACS)</small>{{/link-to}}
            {{#tab-dropdown}}
              <li><a href="#section">Section</a></li>
            {{/tab-dropdown}}
          </li>
          <li class="has-dropdown">
            {{#link-to 'profile.economic'}}Economic  <small>(ACS)</small>{{/link-to}}
            {{#tab-dropdown}}
              <li><a href="#section">Section</a></li>
            {{/tab-dropdown}}
          </li>
          <li class="has-dropdown">
            {{#link-to 'profile.housing'}}Housing  <small>(ACS)</small>{{/link-to}}
            {{#tab-dropdown}}
              <li><a href="#section">Section</a></li>
            {{/tab-dropdown}}
          </li>
        {{/if}}
      </ul>
    </div>

  </div>
  <div class="cell auto">
    {{outlet}}
  </div>
</div>
