<div class="overflow-y-grid grid-padding-x" id="profile-wrapper">
  <div class="cell shrink">
    <div class="profile-menus">
      <ul class="menu tabs vertical medium-horizontal text-center">
        <li class="show-for-large back-to-map">
          {{#link-to 'index' invokeAction=(action 'sendAnalytics' 'Returned to Selection' 'map icon')}}
            <span class="fa-layers">
              {{fa-icon 'map' class='dcp-orange' transform='right-6'}}
              {{fa-icon 'arrow-left' class='dark-gray' transform='left-8 shrink-4'}}
            </span>
            {{#ember-tooltip side="right"}}
              <span class="nowrap text-tiny">Return to Selection View</span>
            {{/ember-tooltip}}
          {{/link-to}}
        </li>
        <li>
          {{#if (eq tab 'profile.census')}}
            {{tab-dropdown tabName='Census' tabNameSmall='' dropdown='census'}}
          {{else}}
            {{#link-to
              'profile.census'
              (query-params mode=mode comparator=comparator reliability=reliability charts=charts)
              invokeAction=(action 'sendAnalytics' 'Changed Profile Tab' 'census')
            }}
              Census
              {{tooltip-on-element delay=500 side="right" text='Basic population and housing characteristics from decennial census'}}
            {{/link-to}}
          {{/if}}
        </li>
        {{#if (eq summaryLevel 'blocks')}}
          <li>
            <a class="disabled">
              Demographic <small>(ACS)</small>
              {{fa-icon 'exclamation-triangle' class="warning-icon" transform='shrink-6'}}
              {{#ember-tooltip side='bottom'}}
                <span class="nowrap text-tiny">ACS data not available at block level</span>
              {{/ember-tooltip}}
            </a>
          </li>
          <li>
            <a class="disabled">
              Social <small>(ACS)</small>
              {{fa-icon 'exclamation-triangle' class="warning-icon" transform='shrink-6'}}
              {{#ember-tooltip side='bottom'}}
                <span class="nowrap text-tiny">ACS data not available at block level</span>
              {{/ember-tooltip}}
            </a>
          </li>
          <li>
            <a class="disabled">
              Economic <small>(ACS)</small>
              {{fa-icon 'exclamation-triangle' class="warning-icon" transform='shrink-6'}}
              {{#ember-tooltip side='bottom'}}
                <span class="nowrap text-tiny">ACS data not available at block level</span>
              {{/ember-tooltip}}
            </a>
          </li>
          <li>
            <a class="disabled">
              Housing <small>(ACS)</small>
              {{fa-icon 'exclamation-triangle' class="warning-icon" transform='shrink-6'}}
              {{#ember-tooltip side='bottom'}}
                <span class="nowrap text-tiny">ACS data not available at block level</span>
              {{/ember-tooltip}}
            </a>
          </li>
        {{else}}
          <li>
            {{#if (eq tab 'profile.demographic')}}
              {{tab-dropdown tabName='Demographic' tabNameSmall='(ACS)' dropdown='demographic'}}
            {{else}}
              {{#link-to
                'profile.demographic'
                (query-params mode=mode comparator=comparator reliability=reliability charts=charts)
                invokeAction=(action 'sendAnalytics' 'Changed Profile Tab' 'demographic')
              }}
                Demographic <small>(ACS)</small>
                {{tooltip-on-element delay=500 side="right" text='Basic population characteristics from the American Community Survey'}}
              {{/link-to}}
            {{/if}}
          </li>
          <li>
            {{#if (eq tab 'profile.social')}}
              {{tab-dropdown tabName='Social' tabNameSmall='(ACS)' dropdown='social'}}
            {{else}}
              {{#link-to
                'profile.social'
                (query-params mode=mode comparator=comparator reliability=reliability charts=charts)
                invokeAction=(action 'sendAnalytics' 'Changed Profile Tab' 'social')
              }}
                Social <small>(ACS)</small>
                {{tooltip-on-element delay=500 side="right" text='Social characteristics from the American Community Survey'}}
              {{/link-to}}
            {{/if}}
          </li>
          <li>
            {{#if (eq tab 'profile.economic')}}
              {{tab-dropdown tabName='Economic' tabNameSmall='(ACS)' dropdown='economic'}}
            {{else}}
              {{#link-to
                'profile.economic'
                (query-params mode=mode comparator=comparator reliability=reliability charts=charts)
                invokeAction=(action 'sendAnalytics' 'Changed Profile Tab' 'economic')
              }}
                Economic <small>(ACS)</small>
                {{tooltip-on-element delay=500 side="right" text='Economic characteristics from the American Community Survey'}}
              {{/link-to}}
            {{/if}}
          </li>
          <li>
            {{#if (eq tab 'profile.housing')}}
              {{tab-dropdown tabName='Housing' tabNameSmall='(ACS)' dropdown='housing'}}
            {{else}}
              {{#link-to
                'profile.housing'
                (query-params mode=mode comparator=comparator reliability=reliability charts=charts)
                invokeAction=(action 'sendAnalytics' 'Changed Profile Tab' 'housing')
              }}
                Housing <small>(ACS)</small>
                {{tooltip-on-element delay=500 side="right" text='Housing characteristics from the American Community Survey'}}
              {{/link-to}}
            {{/if}}
          </li>
        {{/if}}
      </ul>
    </div>

  </div>
  <div class="cell auto" id="profile-content">
    {{outlet}}
  </div>
</div>
