<div class="overflow-y-grid grid-padding-x" id="profile-wrapper">
  <div class="cell shrink">
    <div class="profile-menus">
      <ul class="menu tabs vertical medium-horizontal text-center">
        <li class="show-for-large back-to-map">
          {{#link-to 'index' invokeAction=(action 'sendAnalytics' 'Returned to Selection' 'map icon')}}
            {{fa-icon 'long-arrow-left'}}{{fa-icon 'map'}}
            {{ember-tooltip side="right" text='Return to Selection View'}}
          {{/link-to}}
        </li>
        <li>
          {{#if (eq tab 'profile.census')}}
            {{tab-dropdown tabName='Census' tabNameSmall='' dropdown='census'}}
          {{else}}
            {{#link-to
              'profile.census'
              (query-params mode=mode comparator=comparator reliability=reliability charts=charts)
              invokeAction=(action 'sendAnalytics' 'Changed Profile Tab' 'census')
            }}
              Census
              {{ember-tooltip delay=500 side="right" text='Basic population and housing characteristics from decennial census'}}
            {{/link-to}}
          {{/if}}
        </li>
        {{#if (eq summaryLevel 'blocks')}}
          <li><a class="disabled">Demographic <small>(ACS)</small> <sup class="warning">{{fa-icon 'warning'}}{{ember-tooltip text="ACS data not available at block level."}}</sup></a></li>
          <li><a class="disabled">Social <small>(ACS)</small> <sup class="warning">{{fa-icon 'warning'}}{{ember-tooltip text="ACS data not available at block level."}}</sup></a></li>
          <li><a class="disabled">Economic <small>(ACS)</small> <sup class="warning">{{fa-icon 'warning'}}{{ember-tooltip text="ACS data not available at block level."}}</sup></a></li>
          <li><a class="disabled">Housing <small>(ACS)</small> <sup class="warning">{{fa-icon 'warning'}}{{ember-tooltip text="ACS data not available at block level."}}</sup></a></li>
        {{else}}
          <li>
            {{#if (eq tab 'profile.demographic')}}
              {{tab-dropdown tabName='Demographic' tabNameSmall='(ACS)' dropdown='demographic'}}
            {{else}}
              {{#link-to
                'profile.demographic'
                (query-params mode=mode comparator=comparator reliability=reliability charts=charts)
                invokeAction=(action 'sendAnalytics' 'Changed Profile Tab' 'demographic')
              }}
                Demographic <small>(ACS)</small>
                {{ember-tooltip delay=500 side="right" text='Basic population characteristics from the American Community Survey'}}
              {{/link-to}}
            {{/if}}
          </li>
          <li>
            {{#if (eq tab 'profile.social')}}
              {{tab-dropdown tabName='Social' tabNameSmall='(ACS)' dropdown='social'}}
            {{else}}
              {{#link-to
                'profile.social'
                (query-params mode=mode comparator=comparator reliability=reliability charts=charts)
                invokeAction=(action 'sendAnalytics' 'Changed Profile Tab' 'social')
              }}
                Social <small>(ACS)</small>
                {{ember-tooltip delay=500 side="right" text='Social characteristics from the American Community Survey'}}
              {{/link-to}}
            {{/if}}
          </li>
          <li>
            {{#if (eq tab 'profile.economic')}}
              {{tab-dropdown tabName='Economic' tabNameSmall='(ACS)' dropdown='economic'}}
            {{else}}
              {{#link-to
                'profile.economic'
                (query-params mode=mode comparator=comparator reliability=reliability charts=charts)
                invokeAction=(action 'sendAnalytics' 'Changed Profile Tab' 'economic')
              }}
                Economic <small>(ACS)</small>
                {{ember-tooltip delay=500 side="right" text='Economic characteristics from the American Community Survey'}}
              {{/link-to}}
            {{/if}}
          </li>
          <li>
            {{#if (eq tab 'profile.housing')}}
              {{tab-dropdown tabName='Housing' tabNameSmall='(ACS)' dropdown='housing'}}
            {{else}}
              {{#link-to
                'profile.housing'
                (query-params mode=mode comparator=comparator reliability=reliability charts=charts)
                invokeAction=(action 'sendAnalytics' 'Changed Profile Tab' 'housing')
              }}
                Housing <small>(ACS)</small>
                {{ember-tooltip delay=500 side="right" text='Housing characteristics from the American Community Survey'}}
              {{/link-to}}
            {{/if}}
          </li>
        {{/if}}
      </ul>
    </div>

  </div>
  <div class="cell auto" id="profile-content">
    {{outlet}}
  </div>
</div>
