<div class="overflow-y-grid grid-padding-x">
  <div class="cell shrink">
    <div class="profile-menus">
      <ul class="menu tabs vertical medium-horizontal text-center">
        <li class="{{if (eq tab 'profile.census') 'has-dropdown'}}">
          {{link-to 'Census' 'profile.census'}}
          {{#if (eq tab 'profile.census')}}
            {{#tab-dropdown as |context| }}
              <li>{{#scroll-to href='#' afterScroll=context.closeTabDropdown}}Section{{/scroll-to}}</li>
            {{/tab-dropdown}}
          {{/if}}
        </li>
        {{#if (eq summaryLevel 'blocks')}}
          <li><a class="disabled">Demographic <small>(ACS)</small> <sup class="warning">{{fa-icon 'warning'}}{{tooltip-on-element text="ACS data not available at block level."}}</sup></a></li>
          <li><a class="disabled">Social <small>(ACS)</small> <sup class="warning">{{fa-icon 'warning'}}{{tooltip-on-element text="ACS data not available at block level."}}</sup></a></li>
          <li><a class="disabled">Economic <small>(ACS)</small> <sup class="warning">{{fa-icon 'warning'}}{{tooltip-on-element text="ACS data not available at block level."}}</sup></a></li>
          <li><a class="disabled">Housing <small>(ACS)</small> <sup class="warning">{{fa-icon 'warning'}}{{tooltip-on-element text="ACS data not available at block level."}}</sup></a></li>
        {{else}}
          <li class="{{if (eq tab 'profile.demographic') 'has-dropdown'}}">
            {{#link-to 'profile.demographic'}}Demographic  <small>(ACS)</small>{{/link-to}}
            {{#if (eq tab 'profile.demographic')}}
              {{#tab-dropdown as |context| }}
                <li>{{#scroll-to href='#age-and-sex' afterScroll=context.closeTabDropdown}}Age and Sex{{/scroll-to}}</li>
                <li>{{#scroll-to href='#mutually-exclusive-race-hispanic-origin' afterScroll=context.closeTabDropdown}}Mutually Exclusive Race / Hispanic Origin{{/scroll-to}}</li>
                <li>{{#scroll-to href='#hispanic-subgroup' afterScroll=context.closeTabDropdown}}Hispanic Subgroup{{/scroll-to}}</li>
                <li>{{#scroll-to href='#asian-subgroup' afterScroll=context.closeTabDropdown}}Asian Subgroup{{/scroll-to}}</li>
              {{/tab-dropdown}}
            {{/if}}
          </li>
          <li class="{{if (eq tab 'profile.social') 'has-dropdown'}}">
            {{#link-to 'profile.social'}}Social  <small>(ACS)</small>{{/link-to}}
            {{#if (eq tab 'profile.social')}}
              {{#tab-dropdown as |context| }}
                <li>{{#scroll-to href='#household-type' afterScroll=context.closeTabDropdown}}Household Type{{/scroll-to}}</li>
                <li>{{#scroll-to href='#relationship-to-head-of-household' afterScroll=context.closeTabDropdown}}Relationship To Head Of Household (Householder{{/scroll-to}}</li>
                <li>{{#scroll-to href='#grandparents' afterScroll=context.closeTabDropdown}}Grandparents{{/scroll-to}}</li>
                <li>{{#scroll-to href='#school-enrollment' afterScroll=context.closeTabDropdown}}School Enrollment{{/scroll-to}}</li>
                <li>{{#scroll-to href='#educational-attainment' afterScroll=context.closeTabDropdown}}Educational Attainment (Highest Grade Completed{{/scroll-to}}</li>
                <li>{{#scroll-to href='#veteran-status' afterScroll=context.closeTabDropdown}}Veteran Status{{/scroll-to}}</li>
                <li>{{#scroll-to href='#disability-status-of-the-civilian-noninstitutionalized-population' afterScroll=context.closeTabDropdown}}Disability Status Of The Civilian Noninstitutionalized Population{{/scroll-to}}</li>
                <li>{{#scroll-to href='#residence-1-year-ago' afterScroll=context.closeTabDropdown}}Residence 1 Year Ago{{/scroll-to}}</li>
                <li>{{#scroll-to href='#place-of-birth' afterScroll=context.closeTabDropdown}}Place Of Birth{{/scroll-to}}</li>
                <li>{{#scroll-to href='#us-citizenship-status' afterScroll=context.closeTabDropdown}}U.S. Citizenship Status{{/scroll-to}}</li>
                <li>{{#scroll-to href='#year-of-entry' afterScroll=context.closeTabDropdown}}Year Of Entry{{/scroll-to}}</li>
                <li>{{#scroll-to href='#language-spoken-at-home' afterScroll=context.closeTabDropdown}}Language Spoken At Home{{/scroll-to}}</li>
                <li>{{#scroll-to href='#ancestry' afterScroll=context.closeTabDropdown}}Ancestry{{/scroll-to}}</li>
              {{/tab-dropdown}}
            {{/if}}
          </li>
          <li class="{{if (eq tab 'profile.economic') 'has-dropdown'}}">
            {{#link-to 'profile.economic'}}Economic  <small>(ACS)</small>{{/link-to}}
            {{#if (eq tab 'profile.economic')}}
              {{#tab-dropdown as |context| }}
                <li>{{#scroll-to href='#employment-status' afterScroll=context.closeTabDropdown}}Employment Status{{/scroll-to}}</li>
                <li>{{#scroll-to href='#commute-to-work' afterScroll=context.closeTabDropdown}}Commute to Work{{/scroll-to}}</li>
                <li>{{#scroll-to href='#occupation' afterScroll=context.closeTabDropdown}}Occupation{{/scroll-to}}</li>
                <li>{{#scroll-to href='#industry' afterScroll=context.closeTabDropdown}}Industry{{/scroll-to}}</li>
                <li>{{#scroll-to href='#class-of-worker' afterScroll=context.closeTabDropdown}}Class of Worker{{/scroll-to}}</li>
                <li>{{#scroll-to href='#income-and-benefits' afterScroll=context.closeTabDropdown}}Income and Benefits{{/scroll-to}}</li>
                <li>{{#scroll-to href='#earnings' afterScroll=context.closeTabDropdown}}Earnings{{/scroll-to}}</li>
                <li>{{#scroll-to href='#health-insurance-coverage' afterScroll=context.closeTabDropdown}}Health Insurance Coverage{{/scroll-to}}</li>
                <li>{{#scroll-to href='#income-in-the-past-12-months-below-poverty-level' afterScroll=context.closeTabDropdown}}Income in the Past 12 Months Below Poverty Level{{/scroll-to}}</li>
                <li>{{#scroll-to href='#ratio-of-income-to-poverty-level' afterScroll=context.closeTabDropdown}}Ratio of Income to Poverty Level{{/scroll-to}}</li>
              {{/tab-dropdown}}
            {{/if}}
          </li>
          <li class="{{if (eq tab 'profile.housing') 'has-dropdown'}}">
            {{#link-to 'profile.housing'}}Housing  <small>(ACS)</small>{{/link-to}}
            {{#if (eq tab 'profile.housing')}}
              {{#tab-dropdown as |context| }}
                <li>{{#scroll-to href='#' afterScroll=context.closeTabDropdown}}Section{{/scroll-to}}</li>
              {{/tab-dropdown}}
            {{/if}}
          </li>
        {{/if}}
      </ul>
    </div>

  </div>
  <div class="cell auto" id="profile-content">
    {{outlet}}
  </div>
</div>
