<div class="grid-x grid-padding-x grid-padding-y">
  <div class="cell large-8">

    <div class="overflow-y-grid">
      <div class="cell shrink">
        {{log nestedData}}
        <h1>Report: [geographies array]</h1>
        <ul class="menu tabs vertical medium-horizontal expanded text-center" data-tabs>
          <li>{{link-to 'Census' 'report.census'}}</li>
          <li>{{link-to 'Demographic' 'report.demographic'}}</li>
          <li>{{link-to 'Social' 'report.social'}}</li>
          <li>{{link-to 'Economic' 'report.economic'}}</li>
          <li>{{link-to 'Housing' 'report.housing'}}</li>
        </ul>
      </div>
      <div class="cell auto">
        {{outlet}}
      </div>
    </div>

  </div>
  <div class="cell large-4">
    <div class="report-map-container">
      {{#jane-maps
        id='map'
        sources=sources
        initOptions=(hash style='mapbox://styles/mapbox/light-v9'
                          zoom=zoom
                          center=center
                          hash=true)
        mapLoaded=(action 'handleMapLoad')

        as |map|}}

        {{#if selection.current}}
          {{#map.source
            sourceId='selected-features'
            options=selectedSource as |source|}}
            {{source.layer
              layer=selectedFillLayer
              before='waterway-label'}}
            {{source.layer
              layer=selectedLineLayer
              before='waterway-label'}}
          {{/map.source}}
        {{/if}}

      {{/jane-maps}}
    </div>
  </div>
</div>
