<div class="grid-x grid-padding-y grid-padding-x">
  <div class="cell large-4 xxlarge-3">

    <input type="radio" name="report-mode" value="standard" id="report-mode--standard" checked><label for="report-mode--standard">Standard Report</label>
    <input type="radio" name="report-mode" value="change" id="report-mode--change"><label for="report-mode--change">Chage Over Time</label>
    {{log model}}
    <h1 class="report-header header-large">
      {{selectionCount}}
      {{if (eq summaryLevel 'tracts') 'Census Tract'~}}
      {{if (eq summaryLevel 'blocks') 'Census Block'~}}
      {{if (eq summaryLevel 'ntas') 'Neighborhood'~}}
      {{if (eq summaryLevel 'pumas') 'PUMA'~}}
      {{if (gt selectionCount 1) 's'~}}
    </h1>

    <ul class="report-geographies-list comma-separated-list">
      {{#each selection.current.features as |feature|}}
        <li>{{feature.properties.geoid}}</li>
      {{/each}}
    </ul>

    <div class="report-map-container">
      {{#jane-maps
        id='map'
        sources=sources
        initOptions=(hash style='mapbox://styles/mapbox/light-v9'
                          zoom=zoom
                          center=center
                          hash=true)
        mapLoaded=(action 'handleMapLoad')

        as |map|}}

        {{#if selection.current}}
          {{#map.source
            sourceId='selected-features'
            options=selectedSource as |source|}}
            {{source.layer
              layer=selectedFillLayer
              before='waterway-label'}}
            {{source.layer
              layer=selectedLineLayer
              before='waterway-label'}}
          {{/map.source}}
        {{/if}}

      {{/jane-maps}}
    </div>

    {{link-to 'Edit Report Geographies' 'index' classNames='button small expanded hollow'}}

  </div>
  <div class="cell large-8 xxlarge-9">

    <div class="overflow-y-grid">
      <div class="cell shrink">
        <ul class="menu tabs vertical medium-horizontal expanded text-center" data-tabs>
          <li>{{link-to 'Census' 'report.census'}}</li>
          <li>{{link-to 'Demographic' 'report.demographic'}}</li>
          <li>{{link-to 'Social' 'report.social'}}</li>
          <li>{{link-to 'Economic' 'report.economic'}}</li>
          <li>{{link-to 'Housing' 'report.housing'}}</li>
        </ul>
      </div>
      <div class="cell auto">
        {{outlet}}
      </div>
    </div>

  </div>
</div>
