<div class="overflow-y-grid grid-padding-x">
  <div class="cell shrink">
    <div class="report-menus">
      <ul class="menu report-mode expanded text-center">
        <li class="{{if (eq mode 'current') 'active'}}"><a {{action (mut mode) 'current'}} {{action (mut scrollTable) true}}>Current</a></li>
        <li class="{{if (eq mode 'change') 'active'}}"><a {{action (mut mode) 'change'}} {{action (mut scrollTable) true}}>Change <span class="show-for-xlarge">Over Time</span></a></li>
      </ul>
      <ul class="menu tabs vertical medium-horizontal text-center">
        <li>{{link-to 'Census' 'report.census'}}</li>
        {{#if (eq summaryLevel 'blocks')}}
          <li><a class="disabled">Demographic <small>(ACS)</small> <sup class="warning">{{fa-icon 'warning'}}{{tooltip-on-element text="ACS data not available at block level."}}</sup></a></li>
          <li><a class="disabled">Social <small>(ACS)</small> <sup class="warning">{{fa-icon 'warning'}}{{tooltip-on-element text="ACS data not available at block level."}}</sup></a></li>
          <li><a class="disabled">Economic <small>(ACS)</small> <sup class="warning">{{fa-icon 'warning'}}{{tooltip-on-element text="ACS data not available at block level."}}</sup></a></li>
          <li><a class="disabled">Housing <small>(ACS)</small> <sup class="warning">{{fa-icon 'warning'}}{{tooltip-on-element text="ACS data not available at block level."}}</sup></a></li>
        {{else}}
          <li>{{#link-to 'report.demographic'}}Demographic  <small>(ACS)</small>{{/link-to}}</li>
          <li>{{#link-to 'report.social'}}Social  <small>(ACS)</small>{{/link-to}}</li>
          <li>{{#link-to 'report.economic'}}Economic  <small>(ACS)</small>{{/link-to}}</li>
          <li>{{#link-to 'report.housing'}}Housing  <small>(ACS)</small>{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
  <div class="cell auto">
    {{outlet}}
  </div>
</div>
